#navigation .subnav {
  overflow-x: hidden;
}

@media screen and (min-width: 1300px) {
  #navigation .subnav-categories {
    max-width: 1300px;
    padding: 0 !important;
    width: 100% !important;
  }
}

@media screen and (min-width: 1300px) {
  #navigation .subnav-categories > * {
    padding: 0 15px !important;
    width: auto !important;
  }
}

@media screen and (min-width: 1300px) {
  #navigation nav .subnav .column.first ul {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.subnav .column.slots {
  display: none !important;
}

@media screen and (min-width: 1300px) {
  .topCat:not(.shoes):not(.clearance) .subnav .column.first,
  .topCat:not(.shoes):not(.clearance) .subnav .column.firstRight {
    padding-left: 20px !important;
    width: 251px !important;
  }
}

@media screen and (min-width: 1300px) {
  .topCat:not(.shoes):not(.clearance) .subnav .column.promo {
    border-right: 1px solid #f2f2f2 !important;
  }
}

.mt-menu {
  display: none;
}

@media screen and (min-width: 1300px) {
  .mt-menu {
    display: block;
    padding: 0 !important;
    width: auto !important;
  }
}

.mt-menu .sizelist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: Arial, sans-serif;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 12px;
  padding: 0;
  text-align: left;
  width: 100%;
}

.mt-menu .sizelist__pod {
  align-content: center;
  align-items: center;
  color: #444 !important;
  display: inline-flex;
  font-size: 14px;
  height: 45px;
  justify-content: center;
  margin: 0 6px;
  outline: 1px solid #444;
  text-align: center;
  text-decoration: none !important;
  width: 45px;
}

.mt-menu .sizelist__pod:first-child {
  margin-left: 0;
}

.mt-menu .sizelist__pod:last-child {
  margin-right: 0;
}

.mt-menu__image {
  display: block;
  margin-top: 36px;
}
