.mt_toast {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  background: #333333;
  color: #fff;
  display: block;
  left: 10px;
  padding: 8px;
  position: fixed;
  right: 10px;
  z-index: 999999;
}

.mt_toast__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-right: 16px;
}

.mt_toast img {
  max-width: 60px;
}

.mt_toast__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
}

.mt_toast a {
  color: #bb9a37;
  font-weight: bold;
  margin-right: -16px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
}

.mt_toast__close {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Helvetica";
  font-size: 32px;
  font-weight: 100;
  height: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}

@-webkit-keyframes slideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes slideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 10px;
  }
}
