.categorydisplay-wrapper .grid {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.colorContainer {
  display: block !important;
  height: auto !important;
}

.colorContainer .leftArrow,
.colorContainer .rightArrow {
  display: none !important;
}

.colortiles .productswatches {
  margin-bottom: 4px !important;
}

.colortiles .productswatches li {
  cursor: default !important;
  height: 20px !important;
  margin: 4px 4px 0 0 !important;
  pointer-events: none !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  width: 20px !important;
}

.colortiles .productswatches li:nth-child(6n) {
  clear: both;
}

.colortiles .productswatches li:nth-child(n + 11) {
  display: none !important;
}

.colortiles .productswatches a:before {
  border: 2px solid transparent;
}

.colortiles .productswatches a:after {
  border: 2px solid transparent;
  bottom: 2px;
  left: 2px;
  right: 2px;
  top: 2px;
}

.categorydisplay-wrapper .productInfo .moreColors {
  display: none;
}
