.categorydisplay-wrapper {
    .grid {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.colorContainer {
    display: block !important;
    height: auto !important;
    .leftArrow,
    .rightArrow {
        display: none !important;
    }
}

.colortiles {
    .productswatches {
        margin-bottom: 4px !important;
        li {
            cursor: default !important;
            height: 20px !important;
            margin: 4px 4px 0 0 !important;
            pointer-events: none !important;
            user-select: none !important;
            width: 20px !important;
            &:nth-child(6n) {
                clear: both;
            }
            &:nth-child(n + 11) {
                display: none !important;
            }
        }

        // .active {
        //     a:before,
        //     a:after {
        //         border-color: transparent;
        //     }
        // }

        a {
            .imgSwatch {
                //border-radius: 50%;
            }

            &:before {
                border: 2px solid transparent;
                //border-radius: 50%;
            }
            &:after {
                border: 2px solid transparent;
                //border-radius: 50%;
                bottom: 2px;
                left: 2px;
                right: 2px;
                top: 2px;
            }
        }
    }
}


.categorydisplay-wrapper .productInfo .moreColors {
  display: none;
}
