/* 2x2 */
div#MONETATE-ID {
  display: none;
}

@media screen and (min-width: 1025px) {
  div#MONETATE-ID {
    display: inline-block;
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }
}

@media screen and (min-width: 1025px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  div#MONETATE-ID {
    display: inline-block;
    float: left;
    width: 66.66667%;
  }
}
