.prescriptionsContainer .prescription-list .heading--tertiary {
  margin-left: -10px !important;
  padding-left: 0 !important;
}

.prescriptionsContainer .prescription button.primary-btn.prescription_item_add-to-cart-btn {
  background: #fff !important;
  border: 2px solid #CC0000 !important;
  color: #CC0000 !important;
}

.prescriptionsContainer .prescription button.primary-btn.prescription_item_add-to-cart-btn:hover, .prescriptionsContainer .prescription button.primary-btn.prescription_item_add-to-cart-btn:focus, .prescriptionsContainer .prescription button.primary-btn.prescription_item_add-to-cart-btn:active {
  background: #CC0000 !important;
  color: #fff !important;
}

div.mainDisclaimer {
  margin-top: 38px !important;
}
