#search-result-items > li.grid-tile {
    &.new-row {
        clear: none !important;
    }

    @media screen and (max-width: 767px) {
        &:nth-child(odd) {
            clear: both !important;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1299px) {
        &:nth-child(3n+1) {
            clear: both !important;
        }
    }

    @media screen and (min-width: 1300px) {
        &:nth-child(4n+1) {
            clear: both !important;
        }
    }
}



#search-result-items > [class*="monetate_cloneNode"] {

    img {
        @media screen and (min-width: 768px) {
            width: 240px;
        }
    }
}
