$blue: #001745;
$breakpoint: 700px;
$max-width: 1100px;

@import "../../mixins";


.mt-clsbl-banner {
  background: #041c2c;
  box-sizing: border-box;
  display: block;
  min-height: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 10px;
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
  @media screen and (min-width: $breakpoint) {
    background: $blue;
    padding: 10px 0;
  }

  & > * {
    box-sizing: border-box;
  }


  &__content {
    align-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "BrandonGrotesque-Regular";
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0 auto;
    max-width: $max-width;
    position: relative;
    text-align: center;  
    width: 100%;
  }

  p {
    margin: 0;
    margin-left: 6px;
    margin-right: 6px;
    text-transform: uppercase;
    @media screen and (min-width: $breakpoint) {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  .link {
    display: block;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .text {
    font-size: 12px;
    @media screen and (min-width: $breakpoint) {
      font-size: 10.5px;
    }
  }


  &__close {
    background: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
  }

}


.pinHeader section.mt-clsbl-banner {
  display: none;
}

/* Adjust padding-top of body for mobile due to other experience
that makes the header sticky/fixed */
@media screen and (orientation: portrait) {
  html > body {
    padding-top: 172px !important;
  }
}