.mt-clsbl-banner {
  background: #041c2c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  min-height: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 10px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .mt-clsbl-banner {
    background: #001745;
    padding: 10px 0;
  }
}

.mt-clsbl-banner > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mt-clsbl-banner__content {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "BrandonGrotesque-Regular";
  font-size: 13px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
  margin: 0 auto;
  max-width: 1100px;
  position: relative;
  text-align: center;
  width: 100%;
}

.mt-clsbl-banner p {
  margin: 0;
  margin-left: 12px;
  margin-right: 12px;
  text-transform: uppercase;
}

.mt-clsbl-banner .link {
  display: block;
}

.mt-clsbl-banner .link a {
  color: #fff;
  text-decoration: none;
}

.mt-clsbl-banner .text {
  font-size: 12px;
}

@media screen and (min-width: 700px) {
  .mt-clsbl-banner .text {
    font-size: 10.5px;
  }
}

.mt-clsbl-banner__close {
  background-color: transparent;
  background-image: url("https://dev-apengh-1.monetate.org/img/1/305/1707738.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% 40%;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}
