/* ===================================================== */
/* Global Header Styles
/* ===================================================== */
#header {
  background-color: #fff !important;
}

#header .mob-nav-overlay {
  background-color: #fff !important;
}

#header #pre-header {
  background-color: #fff !important;
}

#header #pre-header .systemControls > li > a {
  color: #707070 !important;
}

/* ===================================================== */
/* Mobile Only
/* ===================================================== */
@media screen and (max-width: 1025px) {
  .mobile-bar-icon .menu--bars-nav {
    background-color: #001745 !important;
  }
  .mobile-bar-btn .mobile--nav-close__btn::before, .mobile-bar-btn .mobile--nav-close__btn::after {
    background-color: #001745 !important;
  }
  .mobile-bar-btn.mobile-search-icon {
    background-image: url("https://www.nautica.com/on/demandware.static/Sites-nau-Site/-/default/dwf01cadbd/images/noun_Magnifying%20Glass_709198.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 26px !important;
    height: 26px !important;
    margin-top: 6px !important;
    width: 26px !important;
  }
  .mobile-bar-btn.mobile-search-icon img {
    display: none !important;
  }
  #header-search .wheelBtn {
    background: #fff !important;
    background-image: url("https://www.nautica.com/on/demandware.static/Sites-nau-Site/-/default/dwf01cadbd/images/noun_Magnifying%20Glass_709198.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 25px 25px !important;
    height: 40px !important;
    width: 25px !important;
  }
  #header-search .wheelBtn img {
    display: none !important;
  }
  .mobile-cart-img-wrapper.hidden-desktop {
    background-image: url("https://www.nautica.com/on/demandware.static/Sites-nau-Site/-/default/dwb72f782a/images/noun_Shopping%20Bag_1309876.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 20px 28px !important;
    height: 39px !important;
    width: 26px !important;
  }
  .mobile-cart-img-wrapper.hidden-desktop img {
    display: none !important;
  }
  #slideMenu .wrapper {
    background: #fff !important;
  }
  #slideMenu .link-bar-item {
    border-color: #4c4c4c !important;
    color: #001745 !important;
  }
  #slideMenu .link-bar-item > a {
    color: #001745 !important;
  }
  #slideMenu .category-level-2 {
    border-bottom: 1px solid #001745 !important;
  }
  #slideMenu .link-bar-group {
    background-color: #fff !important;
  }
  #slideMenu .livechat-links a {
    color: #001745 !important;
  }
}

/* ===================================================== */
/* Desktop
/* ===================================================== */
@media screen and (min-width: 1025px) {
  #header #navigation {
    background: #fff !important;
  }
  #header #navigation a.home {
    background: url("https://www.nautica.com/on/demandware.static/Sites-nau-Site/-/default/v1567604079806/images/nau-logo_navy.png") no-repeat !important;
    background-size: 100% !important;
    height: 35px !important;
    width: 180px !important;
  }
  #header #navigation-menu {
    background: transparent !important;
    border-bottom: 1px solid #cacaca !important;
    border-top: 1px solid #cacaca !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row nowrap !important;
            flex-flow: row nowrap !important;
    font-family: 'AvenirBook' !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    list-style-type: none !important;
    margin: 10px 0 0 !important;
    padding: 15px 0 !important;
  }
  #header #navigation-menu > .level1 {
    color: #464646 !important;
  }
  #header #navigation-menu > .level1:hover a.level1 {
    color: #041c2c !important;
    font-family: 'AvenirBlack' !important;
  }
  #header #header-search .wheelBtn {
    background: #fff !important;
    background-image: url("https://www.nautica.com/on/demandware.static/Sites-nau-Site/-/default/dwf01cadbd/images/noun_Magnifying%20Glass_709198.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 17px 17px !important;
    color: #464646 !important;
    height: 19px !important;
    margin: 0 8px 0 0 !important;
    vertical-align: bottom !important;
    width: 17px !important;
  }
  #header #header-search .wheelBtn img {
    display: none !important;
  }
  #header #header-search .ovlb input {
    background: #fff !important;
    color: #000 !important;
  }
  #header #pre-header .systemControls > li > a .icon-bag {
    background-image: url("https://www.nautica.com/on/demandware.static/Sites-nau-Site/-/default/dwb72f782a/images/noun_Shopping%20Bag_1309876.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 20px 28px !important;
    height: 29px !important;
    width: 20px !important;
  }
  #header #pre-header .systemControls > li > a .icon-bag img {
    display: none !important;
  }
}
