#reviewsSummary .bv_button_buttonMinimalist {
    display: none !important;
}

#MONETATE-ID a.mt_reviews-link {
    color: #3CB2B6 !important;
    font-family: Arial, sans-serif !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: none !important;
    text-transform: none !important;
    &:visited {
        color: #3CB2B6 !important;
    }
}
