.closebtn {
  -webkit-text-stroke: 1px #000;
  background: transparent;
  border: transparent;
  color: #7B827F;
  display: block;
  font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0 10px;
  position: absolute;
  right: 10px;
  text-transform: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
