#page-title-heading + div[class^="monetate_selector"] {
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (min-width: 768px) {
  #page-title-heading + div[class^="monetate_selector"] {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
  }
}

.mt-cat-banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #25315c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  max-width: 1240px;
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mt-cat-banner {
    height: 240px;
    margin-bottom: 20px;
  }
}

.mt-cat-banner__heading {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .mt-cat-banner__heading {
    font-size: 48px;
  }
}

.mt-cat-banner__subcopy {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .mt-cat-banner__subcopy {
    font-size: 15px;
  }
}

.mt-cat-banner__message {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.mt-cat-banner__code {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

.mt-cat-banner__code::before {
  content: "|";
  display: inline-block;
  padding-left: 6px;
  padding-right: 10px;
  position: relative;
}

.mt-cat-banner__code .promo-code {
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  margin-left: 3px;
  padding: 0;
}
