.product_list_sub li {
  text-align: center !important;
  width: calc(100% / 3) !important;

  .sub_img {
    margin-left: auto;
    margin-right: auto;  
  }

  a {
    display: inline-block;
    max-width: 170px;
    text-align: center;
  }
}