form.pdpForm {
  position: relative !important;
}



.mt_link {
  // background: rgba(red, 0.1);
  // border: 1px solid rgba(red, 0.3);
  display: block;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 100%;
  @media screen and (min-width: 961px) {
    position: absolute;
    right: 0;
    text-align: right;
    top: 45px;
  }


  a {
    font-size: 18px;
    text-decoration: underline;
    @media screen and (min-width: 961px) {
      font-size: 1.5em;
    }
  }
}

.smartgift {
  @media screen and (min-width: 961px) {
    display: block !important;
    margin-top: 30px !important;
  }
}
