form.pdpForm {
  position: relative !important;
}

.mt_link {
  display: block;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 961px) {
  .mt_link {
    position: absolute;
    right: 0;
    text-align: right;
    top: 45px;
  }
}

.mt_link a {
  font-size: 18px;
  text-decoration: underline;
}

@media screen and (min-width: 961px) {
  .mt_link a {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 961px) {
  .smartgift {
    display: block !important;
    margin-top: 30px !important;
  }
}
