@media screen and (max-width: 767px) {
  .wpthemeMainContent {
    top: 110px !important;
  }
}

.mt_enrollment-banner {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 50px;
  width: 100%;
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  .mt_enrollment-banner {
    background: #CC0000;
  }
}

.mt_enrollment-banner:hover, .mt_enrollment-banner:active, .mt_enrollment-banner:focus {
  text-decoration: none;
}

.mt_enrollment-banner:hover p, .mt_enrollment-banner:active p, .mt_enrollment-banner:focus p {
  text-decoration: none;
}

.mt_enrollment-banner__icon--mobile {
  display: block;
}

@media screen and (min-width: 768px) {
  .mt_enrollment-banner__icon--mobile {
    display: none;
  }
}

.mt_enrollment-banner__icon--desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .mt_enrollment-banner__icon--desktop {
    display: block;
  }
}

.mt_enrollment-banner__icon img {
  height: 42px;
  margin-right: 13px;
  width: 34px;
}

.mt_enrollment-banner__text {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.mt_enrollment-banner__text p {
  color: #cc0000;
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin: 0;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .mt_enrollment-banner__text p {
    color: #fff;
  }
}

.mt_enrollment-banner__text p:hover, .mt_enrollment-banner__text p:focus, .mt_enrollment-banner__text p:active {
  text-decoration: none;
}

.mt_enrollment-banner__text .enroll-now {
  display: inline-block;
  position: relative;
}

.mt_enrollment-banner__arrow--mobile {
  display: block;
}

@media screen and (min-width: 768px) {
  .mt_enrollment-banner__arrow--mobile {
    display: none;
  }
}

.mt_enrollment-banner__arrow--desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .mt_enrollment-banner__arrow--desktop {
    display: block;
  }
}

.mt_enrollment-banner__arrow--mobile, .mt_enrollment-banner__arrow--desktop {
  height: 20px;
  left: 100%;
  margin-left: 4px;
  position: absolute;
  top: 0;
  width: 12px;
}

.mt_enrollment-banner__arrow--mobile img, .mt_enrollment-banner__arrow--desktop img {
  height: 20px;
  width: 12px;
}

@media screen and (min-width: 768px) {
  .mt_enrollment-banner br.mobile-break {
    display: none;
  }
}
