/* ===================================================== */
/* Move 'Sign In' Link
/* ===================================================== */
@media screen and (min-width: 992px) {
  .nav-container .nav-right > a[href="/accounts/sign-in"] {
    margin-left: 115px !important;
  }
  .nav-container .nav-right > a[href="/accounts/sign-in"] ~ #cart-dropdown {
    margin-left: 10px !important;
  }
  .nav-container .nav-right > a[href="/accounts/sign-in"] ~ #cart-dropdown > div.cart {
    margin-left: 10px !important;
  }
}

/* ===================================================== */
/* Move 'Account' Link
/* ===================================================== */
@media screen and (min-width: 992px) {
  .nav-container .desktop-only.nav-dropdown {
    margin-left: 115px !important;
  }
  .nav-container .desktop-only.nav-dropdown ~ #cart-dropdown {
    margin-left: 10px !important;
  }
  .nav-container .desktop-only.nav-dropdown ~ #cart-dropdown > div.cart {
    margin-left: 10px !important;
  }
}
