.mt_product-details {
  display: block;
  margin-top: 15px;
}

.mt_product-details ul {
  list-style: none;
  padding-left: 0;
}

.mt_product-details ul li {
  color: #223628;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.35;
  margin-bottom: 4px;
  padding-left: 20px;
  position: relative;
  text-transform: lowercase;
}

.mt_product-details ul li::before {
  background: #223628;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 5px;
  left: 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5px;
}
