section.topnav > .search-form-container {
    display: block;
    height: auto !important;
    position: relative;


    .topbar-search-form.hide {
        display: block !important;
        position: relative !important;
        top: 0 !important;
    }

    .search-button-container {
        line-height: 0 !important;
    }
}
