// MOBILE

// TABLET

// DESKTOP


.mt-banner {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}