.mt_footer-recs {
    clear: both;
    display: block;
    padding-top: 32px;
    position: relative;

    &__container {
        display: block;
        font-size: 0;
        position: relative;
    }

}
