/*---Default Styles---*/
/*Hides the plural parameter on any suffixes when counting down.*/
.mt_countdown .mt_hide_plural {
  display: none;
}

/* Wrapper */
.mt_countdown {
  background-color: #FAECE0;
  background-image: url({{BKG_URL}});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.mt_countdown .mt-countdown {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D8D8D8;
  box-sizing: border-box;
  color: #636363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Gill Sans Medium', sans-serif;
  font-weight: 400;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1025px) {
  .mt_countdown .mt-countdown {
    display: none !important;
  }
}

.mt_countdown .mt-countdown .bold {
  font-family: "Gill Sans Medium", sans-serif;
  font-weight: 700;
}

.mt_countdown .mt-countdown__lead {
  color: #1f1f1f;
  display: block;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 1;
  margin-bottom: 6px;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .mt_countdown .mt-countdown__lead {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 12px;
    line-height: 12px;
    margin-right: 20px;
    width: auto;
  }
}

.mt_countdown .mt-countdown__lead span {
  color: #B78A6A;
}

.mt_countdown .mt-countdown__timer {
  color: #1f1f1f;
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .3em;
  line-height: 1;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .mt_countdown .mt-countdown__timer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 12px;
    line-height: 12px;
    width: auto;
  }
}

.mt_countdown .mt-countdown__msg {
  display: block;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 8px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .mt_countdown .mt-countdown__msg {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 12px;
    line-height: 12px;
    margin-left: 20px;
    margin-top: 0;
    width: auto;
  }
}

.mt_countdown .mt-countdown__msg a {
  border-bottom: 1px solid #1f1f1f;
  color: #1f1f1f;
  text-decoration: none;
}

.mt_countdown .mt_time {
  color: #C1992D;
}

.mt_countdown {
  display: block;
}

@media screen and (min-width: 1025px) {
  .mt_countdown {
    display: none;
  }
}

/*
* Adjust for updated fixed transparent header
*/
.mt_countdown {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 10px;
}

header div.mobile-only.site-logo {
  padding-top: 115px !important;
}

header div.mobile-only.site-logo a, header div.mobile-only.site-logo svg {
  height: 40px !important;
}

@media screen and (max-width: 374px) {
  nav.showMenu {
    height: calc(100vh - 220px) !important;
    top: 150px !important;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  nav.showMenu {
    height: calc(100vh - 260px) !important;
    top: 150px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav.showMenu {
    height: calc(100vh - 110px) !important;
    top: 115px !important;
  }
}

@media screen and (max-width: 1024px) {
  #top-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0 !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sitebody {
    padding-top: 115px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sitebody-hm {
    padding-top: 81px !important;
  }
}
