@import "../../variables";


/*---Default Styles---*/
/*Hides the plural parameter on any suffixes when counting down.*/
.mt_countdown .mt_hide_plural {
    display: none;
}

/* Wrapper */
.mt_countdown {
    background-color: #FAECE0;
    background-image: url({{BKG_URL}});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;


    .mt-countdown {
        align-content: center;
        align-items: center;
        border-bottom: 1px solid $light-gray;
        box-sizing: border-box;
        color: $gray;
        display: flex;
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: 'Gill Sans Medium', sans-serif;
        font-weight: 400;
        height: $height;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        @media screen and (min-width: $breakpoint-lg) {
            display: none !important;
        }

        .bold {
            font-family: $font-medium;
            font-weight: 700;
        }


        &__lead {
            color: #1f1f1f;
            display: block;
            font-size: 9px;
            font-weight: 700;
            letter-spacing: .2em;
            line-height: 1;
            margin-bottom: 6px;
            margin-top: 0;
            position: relative;
            text-transform: uppercase;
            width: 100%;
            @media screen and (min-width: $breakpoint-lg) {
                flex-grow: 0;
                flex-shrink: 0;
                font-size: 12px;
                line-height: 12px;
                margin-right: 20px;
                width: auto;
            }

            span {
                color: #B78A6A;
            }
        }

        &__timer {
            color: #1f1f1f;
            display: block;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: .3em;
            line-height: 1;
            width: 100%;
            @media screen and (min-width: $breakpoint-lg) {
                flex-grow: 0;
                flex-shrink: 0;
                font-size: 12px;
                line-height: 12px;
                width: auto;
            }
        }


        &__msg {
            display: block;
            font-size: 9px;
            font-weight: 700;
            letter-spacing: .2em;
            line-height: 1;
            margin-bottom: 0;
            margin-top: 8px;
            position: relative;
            width: 100%;
            @media screen and (min-width: $breakpoint-lg) {
                flex-grow: 0;
                flex-shrink: 0;
                font-size: 12px;
                line-height: 12px;
                margin-left: 20px;
                margin-top: 0;
                width: auto;
            }

            a {
                border-bottom: 1px solid #1f1f1f;
                color: #1f1f1f;
                text-decoration: none;
            }
        }
    }
    .mt_tickerElem {

    }
    .mt_time {
        color: $gold;
    }
}
.mt_countdown {
    display: block;
    @media screen and (min-width: $breakpoint-lg) {
        display: none;
    }
}











/*
* Adjust for updated fixed transparent header
*/
.mt_countdown {
    flex: 0 0 100%;
    margin-bottom: 10px;
}

header div.mobile-only.site-logo {
    padding-top: 115px !important;
    a, svg {
        height: 40px !important;
    }
}

nav {
    &.showMenu {
        @media screen and (max-width: 374px) {
            height: calc(100vh - 220px) !important;
            top: 150px !important;
        }
        @media screen and (min-width: 375px) and (max-width: ($breakpoint-md - 1)) {
            height: calc(100vh - 260px) !important;
            top: 150px !important;
        }
        @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
            height: calc(100vh - 110px) !important;
            top: 115px !important;
        }
    }
}


#top-row {
    @media screen and (max-width: ($breakpoint-lg - 1)) {
        flex-wrap: wrap;
        padding-top: 0 !important;
    }
}


.sitebody {
    @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
        padding-top: 115px !important;
    }
}

.sitebody-hm {
    @media screen and (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 1)) {
        padding-top: 81px !important;
    }
}
