/*---Default Styles---*/
/* Wrapper */
.mt_countdown {
  background-image: url({{BKG_URL}});
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

/*Hides the plural parameter on any suffixes when counting down.*/
.mt_countdown .mt_hide_plural {
  display: none;
}

/*
 * Custom Styles
 */
.mt-countdown {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D8D8D8;
  box-sizing: border-box;
  color: #636363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Gill Sans Medium', sans-serif;
  font-weight: 400;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .mt-countdown {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 30px;
  }
}

.mt-countdown .bold {
  font-family: "Gill Sans Medium", sans-serif;
  font-weight: 700;
}

.mt-countdown__lead {
  display: block;
  font-size: 9px;
  letter-spacing: .2em;
  line-height: 1;
  margin-bottom: 6px;
  margin-top: 0;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mt-countdown__lead {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 0;
    margin-right: 20px;
    width: auto;
  }
}

@media screen and (min-width: 960px) {
  .mt-countdown__lead {
    font-size: 12px;
    line-height: 12px;
  }
}

.mt-countdown__timer {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .3em;
  line-height: 1;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mt-countdown__timer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 10px;
    line-height: 10px;
    width: auto;
  }
}

@media screen and (min-width: 960px) {
  .mt-countdown__timer {
    font-size: 12px;
    line-height: 12px;
  }
}

.mt-countdown__msg {
  display: block;
  font-size: 9px;
  letter-spacing: .2em;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 8px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mt-countdown__msg {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 10px;
    line-height: 10px;
    margin-left: 20px;
    margin-top: 0;
    width: auto;
  }
}

@media screen and (min-width: 960px) {
  .mt-countdown__msg {
    font-size: 12px;
    line-height: 12px;
  }
}

.mt_time {
  color: #C1992D;
}

/* Wrapper */
.mt_countdown {
  background-image: url({{BKG_URL}});
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

/* Hides the plural parameter on any suffixes when counting down. */
.mt_countdown .mt_hide_plural {
  display: none;
}

/*
 * Adjust for updated fixed transparent header
 */
.mt_countdown {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 10px;
}

.mt_countdown {
  display: block;
}

@media screen and (min-width: 64.063em) {
  .mt_countdown {
    display: none;
  }
}

@media screen and (max-width: 64em) {
  #top-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0 !important;
  }
}
