@-webkit-keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateLoader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#mt-loadingIcon {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: rotateLoader;
          animation-name: rotateLoader;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
