@import '../../../functions';

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

$border-radius:      5px;
$font:               "Open Sans", "Helvetica", "Arial", sans-serif !important;

$breakpoint-xs:      320px;
$breakpoint-sm:      414px;
$breakpoint-int:     600px;
$breakpoint-md:      768px;
$breakpoint-lg:      930px;

$max-width:          960px;


$light:              rgba(2, 194, 255, 1);
$dark:               rgba(0, 92, 134, 1);


// * {
//   box-sizing: border-box;
// }


// ==================================================================
// Black Friday Countdown Timer
// ==================================================================
.mt-countdown {
  display: block;
  margin: 5px auto 0 !important;
  max-width: $max-width;
  position: relative;

  .active {
    display: block !important;
  }
  .expired {
    display: none !important;
  }

  .days {
    display: block;
  }
  .hours {
    display: block;
  }
  .minutes {
    display: block;
  }
  .seconds {
    display: block;
  }


  img {
    height: auto;
    max-width: 100%;
  }

  // Countdown
  .countdown {
    display: block;
    font-family: $font;
    margin: 0 auto;
    position: relative;



    &__img {
      display: block;
      position: relative;
      text-align: center;
    }


    // ------------------------------------------------------------------
    // Timer Container
    // ------------------------------------------------------------------
    &__timer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      position: absolute;
      right: PXtoVW(5px);
      top: 66.66667%;
      transform: translateY(-66.66667%);
      // @media screen and (min-width: $breakpoint-sm) {
      //   right: 2vw;
      // }
      // @media screen and (min-width: $breakpoint-int) {
      //   right: calc(30% - 129px);
      // }
      // @media screen and (min-width: $breakpoint-md) {
      //   right: calc(30% - 176px);
      // }
      // @media screen and (min-width: $breakpoint-lg) {
      //   right: calc(30% - 224px);
      // }
      // @media screen and (min-width: $max-width) {
      //   right: 20px;
      // }
    }


    // ------------------------------------------------------------------
    // Countdown Block
    // ------------------------------------------------------------------
    &__block {
      margin-bottom: 0;
      margin-left: PXtoVW(2px);
      margin-right: PXtoVW(2px);
      margin-top: 0;
      text-align: center;
      // @media screen and (min-width: $breakpoint-sm) {
      //   margin-left: 6px;
      //   margin-right: 6px;
      // }
      // @media screen and (min-width: $max-width) {
      //   margin-left: 6px;
      //   margin-right: 6px;
      // }

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }


    // ------------------------------------------------------------------
    // Title (Days, Hrs, Mins, Secs)
    // ------------------------------------------------------------------
    &__title {
      clear: both;
      color: $light;
      display: block;
      font-size: PXtoVW(10px);
      font-weight: 700;
      margin-bottom: 0;
      text-transform: uppercase;
      width: 100%;
      // @media screen and (min-width: $breakpoint-sm) {
      //   font-size: 11px;
      // }
      // @media screen and (min-width: $max-width) {
      //   font-size: 12px;
      // }
    }

    .figure {
      background-color: none;
      border-radius: $border-radius;
      box-shadow:
      0 PXtoVW(3px) PXtoVW(4px) 0 rgba(0, 0, 0, 0.2),
      inset PXtoVW(2px) PXtoVW(5px) 0 0 rgba(255, 255, 255, 0.08);
      float: left;
      height: PXtoVW(27px);
      margin-bottom: 5%;
      margin-left: 0px;
      margin-right: PXtoVW(1px);
      position: relative;
      text-align: center;
      width: PXtoVW(18px);


      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      &:after,
      &:before {
        background: #999;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        content: "";
        display: block;
        height: PXtoVW(6px);
        position: absolute;
        top: 51%;
        transform: translateY(-51%);
        transform-style: preserve-3d;
        width: PXtoVW(1px);
        z-index: 4;
      }
      &:before {
        left: 10%;
      }
      &:after {
        right: 10%;
      }

      & > span {
        color: #fff;
        font-size: PXtoVW(18px);
        font-weight: normal;
        font-weight: 700;
        left: 0;
        line-height: PXtoVW(27px);
        margin: auto;
        position: absolute;
        right: 0;
        text-shadow: PXtoVW(-1px) PXtoVW(-1px) #999;
        // @media screen and (min-width: $breakpoint-sm) {
        //   font-size: 28px;
        //   line-height: 42px;
        // }
        // @media screen and (min-width: $breakpoint-int) {
        //   font-size: 36px;
        //   line-height: 54px;
        // }
        // @media screen and (min-width: $breakpoint-md) {
        //   font-size: 64px;
        //   line-height: 72px;
        // }
        // @media screen and (min-width: $max-width) {
        //   font-size: 60px;
        //   line-height: 90px;
        // }
      }


      // ------------------------------------------------------------------
      // Top
      // ------------------------------------------------------------------
      .top {
        background-color: transparent;
        background-image: linear-gradient(to bottom, $light 0%, $light 30%, $dark 100%);
        border-bottom: 1px solid black;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        box-shadow: inset 0px 2px 4px rgba(255, 255, 255, 0.2);
        transform: perspective(200px) rotateX(0deg);
        transform-origin: 50% 100%;
        transform-style: preserve-3d;
        z-index: 3;

        &.flipTop {
          animation: flipTop 0.8s cubic-bezier(0.37, 0.01, 0.94, 0.35) !important;
        }


        &-back {
          background-color: transparent;
          background-image: linear-gradient(to bottom, lighten($dark, 10%) 0%, $light 100%);
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          border-top: 1px solid black;
          bottom: 0;
          box-shadow: inset 0px 2px 4px rgba(255, 255, 255, 0.2);
          transform: perspective(200px) rotateX(180deg);
          transform-origin: 50% 0;
          transform-style: preserve-3d;
          z-index: 4;

          &.flipTopBack {
            animation: flipTopBack 0.8s cubic-bezier(0.37, 0.01, 0.94, 0.35) !important;
          }

          span {
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: -100%;
          }
        }
      } // .top

      .top, .top-back {
        backface-visibility: hidden;
        height: 50%;
        overflow: hidden;
      }



      // ------------------------------------------------------------------
      // Bottom
      // ------------------------------------------------------------------
      .bottom {
        background-color: transparent;
        background-image: linear-gradient(to bottom, transparent 0%, $dark 50%, $dark 50%, $light 100%);
        border-radius: $border-radius;
        z-index: 1;

        &-back {
          background-color: transparent;
          background-image: linear-gradient(to bottom, $light 30%, $dark 100%);
          border-radius: $border-radius;
          height: 50%;
          overflow: hidden;
          top: 0;
          z-index: 2;

          span {
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      } // .bottom

    } // .figure


    &__expired {
      display: block;
    }

  } // .countdown
}




@keyframes flipTop {
  0% {
    -ms-transform: none;
    transform: perspective(200px) rotateX(0deg);
    transform-style: preserve-3d;
  }
  100% {
    -ms-transform: none;
    transform: perspective(300px) rotateX(-180deg);
    transform-style: preserve-3d;
  }
}




@keyframes flipTopBack {
  0% {
    -ms-transform: none;
    transform: perspective(200px) rotateX(180deg);
    transform-style: preserve-3d;
  }
  100% {
    -ms-transform: none;
    transform: perspective(200px) rotateX(0deg);
    transform-style: preserve-3d;
  }
}



.jst_sticky.jst_bottomSticky {
  margin-bottom: -2px;
  padding: 10px 0 0 !important;
}