/* ===================================================== */
/* Shipping Fields
/* ===================================================== */
.checkout-shipping.address > fieldset label {
  display: none !important;
}

.checkout-shipping.address > fieldset .form-caption {
  display: none !important;
}

@media screen and (min-width: 1025px) {
  .checkout-shipping.address > fieldset .field-wrapper {
    margin-left: 0 !important;
  }
}

/* ===================================================== */
/* Contact Email
/* ===================================================== */
#dwfrm_billing > fieldset:nth-child(1) .form-row.required label {
  display: none !important;
}

@media screen and (min-width: 1025px) {
  #dwfrm_billing > fieldset:nth-child(1) .form-row.required .field-wrapper {
    margin-left: 0 !important;
  }
}

#dwfrm_billing > fieldset:nth-child(1) .form-row.form-indent.checkbox .field-wrapper {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

#dwfrm_billing > fieldset:nth-child(1) .form-caption.form-indent.billing-email-info {
  margin-left: 0 !important;
}

@media screen and (min-width: 1025px) {
  #dwfrm_billing > fieldset:nth-child(1) .same-as-shipping .field-wrapper {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}

/* ===================================================== */
/* Payment Method
/* ===================================================== */
@media screen and (min-width: 1025px) {
  #dwfrm_billing > fieldset:nth-child(3) .payment-method-options-list {
    margin-left: 0 !important;
  }
}

#dwfrm_billing > fieldset:nth-child(3) .payment-method.payment-method-expanded label {
  display: none !important;
}

@media screen and (min-width: 1025px) {
  #dwfrm_billing > fieldset:nth-child(3) .payment-method.payment-method-expanded .field-wrapper {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 1025px) {
  #dwfrm_billing > fieldset:nth-child(3) .payment-method.payment-method-expanded .form-caption {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 1025px) {
  #dwfrm_billing > fieldset:nth-child(3) .form-row.month.required.selectbox {
    padding-left: 0 !important;
  }
}
