@media screen and (max-width: 767px) {
  #header {
    position: relative !important;
  }
  #main {
    padding-top: 0 !important;
  }
  #wrapper.menu-active #header {
    position: fixed !important;
  }
  #wrapper.menu-active #main {
    padding-top: 125px !important;
  }
}

@media screen and (max-width: 480px) {
  #wrapper.menu-active #main {
    padding-top: 100px !important;
  }
}
