.mt-lightbox {
  background: #F8BACA;
  border: none;
  display: block;
  left: 50%;
  min-width: 320px;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  .mt-lightbox {
    min-width: 560px;
  }
}

.mt-lightbox__close {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: #223628;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  font-weight: 100;
  height: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 36px;
  position: absolute;
  right: 4px;
  text-align: center;
  text-decoration: none;
  top: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 36px;
  z-index: 1;
}

.mt-lightbox__close:hover, .mt-lightbox__close:focus, .mt-lightbox__close:active {
  background: none;
  color: #223628 !important;
  text-decoration: none;
}

.mt-lightbox__content {
  display: block;
  padding: 40px 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .mt-lightbox__content {
    padding: 100px 0;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .mt-lightbox__content {
    max-height: calc(100vh - 20px);
    overflow: auto;
  }
}

.mt-lightbox__logo {
  margin-bottom: 20px;
}

.mt-lightbox__text {
  color: #223628 !important;
  font-family: 'FuturaPTMedium', Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400;
  margin: 0 auto !important;
  max-width: 360px;
}
