#MONETATE-ID {
    [mt-data-grid] {
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
}

.mt-grid-tile {
    padding: 0;
    text-align: left;
    text-decoration: none !important;
    text-transform: none;

    // Image
    &__img {
        text-align: center;
        @media screen and (min-width: 48em) {
            overflow: hidden;
            position: relative;
            width: 100%;
        }

        img {
            @media screen and (min-width: 48em) {
                left: -16.666%;
                max-width: none !important;
                position: absolute;
                top: 0;
                width: 133.333%;
            }
        }
        &-progressive {
            @media screen and (min-width: 48em) {
                padding-bottom: 133.333%;
            }
        }
    }


    // Details
    &__details {
        box-sizing: border-box;
        display: block;
        font-family: 'soleil',Helvetica,sans-serif;
        letter-spacing: 0;
        line-height: 1;
        opacity: 1;
        padding: 12px 0;
        text-align: left;
        transition: opacity .25s ease;
        width: 100%;
        @media screen and (min-width: 48em) {
            background-color: hsla(0,0%,100%,.8);
            bottom: 0;
            left: 0;
            opacity: 0;
            padding: 12px;
            position: absolute;
            right: 0;
        }

        &-name {
            display: block;
            font-size: 13px;
            font-size: .8125rem;
            font-weight: 400;
            line-height: 18px;
            line-height: 1.125rem;
            text-transform: none;
        }

        &-price {
            display: inline-block;
            font-size: 14px;
            font-size: .875rem;
            font-weight: 700;
            padding-right: 6px;
            padding-right: .375rem;
            text-decoration: line-through;
        }

        &-sale-price {
            color: #da2a2a;
            display: inline-block;
            font-size: 14px;
            font-size: .875rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

div[data-missing-keys="salePrice"] .mt-grid-tile__details-price {
    display: inline-block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    padding-right: 0;
    text-decoration: none !important;
}


.mt-grid-tile {
    &:hover {
        .mt-grid-tile__details {
            opacity: 1;
        }
    }
}



.mt-merch-item {
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    // margin: 0 6px 20px;
    margin: 0;
    padding-right: 12px;
    @media screen and (min-width: 48em) {
        padding-right: 0;
        position: absolute;

        &-1 {
            left: 2.917%;
            top: 37.668%;
            width: 16.667% !important;
        }
        &-2 {
            left: 28.75%;
            top: 0;
            width: 18.75% !important;
        }
        &-3 {
            left: 20.417%;
            top: 41.704%;
            width: 27.083% !important;
        }
        &-4 {
            left: 48.333%;
            top: 7.623%;
            width: 20.833% !important;
        }
        &-5 {
            left: 48.333%;
            top: 53.812%;
            width: 16.667% !important;
        }
        &-6 {
            left: 70%;
            top: 13.004%;
            width: 27.083% !important;
        }
    }
}
