@import "../variables";

$monetateid: '#MONETATE-ID';
// $monetateid: '#mt-slider-2761020-0';


/* ------------------------------------------------------------------
 * DEFAULT SLIDER STYLES
 * Edit at your own risk!
 ----------------------------------------------------------------- */
#{$monetateid} {
    position: relative;

    [data-slider-mask] {
        margin: 0 !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: relative !important;
    }

    li {
        list-style: none;
    }

    [data-slider] {
        display: block;
        margin: 0!important;
        padding: 0!important;
    }

    [data-slide] {
        float: none;
    }

    &[data-slider-wrapper="horizontal"] [data-slider] {
        white-space: nowrap!important;
    }
    &[data-slider-wrapper="horizontal"] [data-slide] {
        display: inline-block!important;
        vertical-align: top;
        white-space: normal;
    }

    &[data-slider-wrapper="vertical"] [data-slide] {
        display: block!important;
    }
    &[data-slider-wrapper="fade"] [data-slide] {
        opacity: 0;
        position: absolute;
        top: 0;
    }

    &[data-slider-wrapper="fade"] [data-slide][data-slide-active] {
        opacity: 1;
        position: relative;
        z-index: 1;
    }

    [data-pagination-slide],
    [data-prev-button],
    [data-next-button]{
        cursor: pointer;
        z-index: 1;
    }

    &[data-slider-wrapper="vertical"] [data-slider-mask] {
        touch-action: pan-x;
    }
    &[data-slider-wrapper="horizontal"] [data-slider-mask],
    &[data-slider-wrapper="fade"] [data-slider-mask] {
        touch-action: pan-y;
    }
    [data-pagination-slide] * {
        pointer-events: none;
    }

} // MONETATE-ID

/* ------------------------------------------------------------------
 * CUSTOM SLIDER STYLES
 ----------------------------------------------------------------- */
#{$monetateid} {
    display: block;
    margin-top: 30px;
    text-align: center;

    [data-pagination="thumbnails"] [data-pagination-slide] {
        background: none;
        border-radius: 0;
        height: auto;
        width: 40px;
    }

    [disabled] {
        opacity: 0.25;
    }



    [data-slide] {
        > div {
            height: 100%;
            padding: 5px;
        }
        img {
            max-width: 100%;
        }
        a {
            text-decoration: none;
        }
    }

    // ------------------------------------------------------------------
    // Buttons
    // ------------------------------------------------------------------
    [data-prev-button],
    [data-next-button] {
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        background: none;
        border: none;
        color: #000;
        display: none;
        font-size: 25px;
        padding: 0;
        position: absolute;
        top: 45%;
        user-select: none;
        width: 20px;
        @media screen and (min-width: $breakpoint-md) {
            display: block;
        }
    }
    [data-prev-button] {
        left: 10px;
    }
    [data-next-button] {
        right: 10px;
    }
    &[data-slider-wrapper="vertical"] [data-prev-button] {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    &[data-slider-wrapper="vertical"] [data-next-button] {
        bottom: 0;
        left: 50%;
        right: auto;
        top: auto;
        transform: translateX(-50%);
    }


    // ------------------------------------------------------------------
    // Mask
    // ------------------------------------------------------------------
    [data-slider-mask] {
        display: inline-block;
        width: 100%;
        @media screen and (min-width: $breakpoint-md) {
            width: calc(100% - 68px);
        }
    }
    &[data-slider-wrapper="vertical"] [data-slider-mask] {
        height: 400px!important;
    }

    [data-pagination*="dots"] [data-pagination-slide] {
        /* remove below for pagination numbers */
        text-indent: -9999px;
    }



    // ------------------------------------------------------------------
    // Pagination
    // ------------------------------------------------------------------
    [data-pagination] {
        margin: 0;
        padding: 0;
    }
    [data-pagination-slide] {
        background: none;
        border: 1px solid #000;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: 0;
        height: 6px;
        margin-left: 5px;
        margin-right: 5px;
        opacity: 1;
        width: 6px;
        &[data-slide-active] {
            background: #000;
        }
    }


    // ==================================================================
    // MT RECOMMENDATIONS
    // ==================================================================
    .mt_recommendations {
        &__header {
            color: #000;
            font-family: 'AvenirNextLTW01-Medium';
            font-size: 14px;
            letter-spacing: 1.2px;
            margin-bottom: 25px;
            margin-top: 0;
            text-align: center;
            @media screen and (min-width: $breakpoint-lg) {
                font-size: 18px;
                letter-spacing: 2px;
            }

        }


        &__image {
            display: block;
            font-size: 0;
            position: relative;
        }

        &__details {

        }

        &__title {
            color: #000;
            font-family: 'AvenirNextLTW01-Regular';
            font-size: 11px;
            letter-spacing: 1.5px;
            line-height: 12px;
            margin-bottom: 0;
            margin-top: 20px;
            text-align: center;
            @media screen and (min-width: $breakpoint-lg) {
                font-size: 12px;
                letter-spacing: 2px;
            }
        }


        &__color {
            color: #848484;
            font-family: 'AvenirNextLTW01-Regular';
            font-size: 11px;
            letter-spacing: 1.25px;
            line-height: 12px;
            margin-bottom: 0;
            margin-top: 6px;
            text-align: center;
        }


        &__price {
            color: #000;
            font-family: "Baskerville W01 Regular_705699";
            font-size: 14px;
            letter-spacing: 1.25px;
            line-height: 19px;
            margin-bottom: 4px;
            margin-top: 4px;
            text-align: center;
            @media screen and (min-width: $breakpoint-md) {
                margin-bottom: 0;
            }
        }
    }






} // #MONETATE-ID


/* ------------------------------------------------------------------
 * UTILITY CLASSES
 ----------------------------------------------------------------- */
#{$monetateid} .show {
    display: block;
    &-atMedium {
        display: none;
        @media screen and (min-width: $breakpoint-md) {
            display: block;
        }
    }&-atLarge {
        display: none;
        @media screen and (min-width: $breakpoint-lg) {
            display: block;
        }
    }
}
#{$monetateid} .hide {
    display: none;
    &-atMedium {
        display: block;
        @media screen and (min-width: $breakpoint-md) {
            display: none;
        }
    }&-atLarge {
        display: block;
        @media screen and (min-width: $breakpoint-lg) {
            display: none;
        }
    }
}

#{$monetateid} .uppercase {
    text-transform: uppercase;
}

/* ------------------------------------------------------------------
 * BUTTONS
 ----------------------------------------------------------------- */
#{$monetateid} [data-prev-button],
#{$monetateid} [data-next-button] {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
        display: block;
    }
    @media screen and (min-width: $breakpoint-lg) {
        display: block;
    }
}


/* ------------------------------------------------------------------
 * PAGINATION
 ----------------------------------------------------------------- */
#{$monetateid} [data-pagination] {
    display: block;
    @media screen and (min-width: $breakpoint-md) {
        display: none;
    }
    @media screen and (min-width: $breakpoint-lg) {
        display: none;
    }
}


/* ------------------------------------------------------------------
 * 2x2 Grid
 ----------------------------------------------------------------- */
#{$monetateid} .grid-2-2 {
    @media screen and (max-width: 768px) {
        [data-pagination],
        [data-prev-button],
        [data-next-button] {
            display: none;
        }
        [data-slider-mask] {

        }
        [data-slider] {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden !important;
            transform: none !important;
        }
        [data-slide] {
            width: 50% !important;
            > div {
                padding: 0;
            }
        }
        .mt_recommendations {
            &__details {
                display: none;
            }
        }
    }
}

#{$monetateid} {
    margin-left: 10px;
    margin-right: 10px;
    .grid-2-2 {
        @media screen and (max-width: 767px) {
            margin-left: 0;
            margin-right: 0;
        }
        @media screen and (min-width: 768px) {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}
.mt-lightbox__content {
    #{$monetateid} {
        .grid-2-2 {
            @media screen and (max-width: 767px) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }



        [data-prev-button],
        [data-next-button] {
            &[disabled] {
                display: none;
            }
        }

        [data-slider-mask] {
            width: 100%;
        }
    }
}
