// Move:
li.mLevel[aria-label*="Shoes"] > ul.dropdown > li.leftC.col3 > .upperRow > div.bbb:nth-child(3) li.l1-sub-menu {}

// To Last of:
li.mLevel[aria-label*="Shoes"] > ul.dropdown > li.leftC.col3 > .upperRow > div.bbb:nth-child(1) ul.sLevel.dropdown.menu {}



li.mLevel[aria-label*="Shoes"] {
    > ul.dropdown {
        width: 600px !important;
        > li.leftC.col3 {
            width: 400px !important;

            .upperRow > div.bbb:nth-child(1) ul.sLevel.dropdown.menu {
                .l1-sub-menu {
                    a {
                        color: #333 !important;
                        font-size: 13px !important;
                        font-weight: 400 !important;
                        line-height: 13px !important;
                        margin: 0 !important;
                        padding: 4px 15px !important;
                        &:hover,
                        &:focus,
                        &:active {
                            color: rgb(243, 108, 33) !important;
                        }
                    }
                }
            }
        }
    }
}
