.mt-shop {
  display: block;
  padding: 20px 35px 25px;
  position: relative;
  text-align: center;
  width: 100%;
}

.mt-shop__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mt-shop__button {
  background: #000;
  border: 1px solid #000;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-family: 'proximabold';
  margin: 4px auto;
  padding: 18px 0 15px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.mt-shop__button:hover, .mt-shop__button:focus, .mt-shop__button:active {
  background: #000;
  color: #fff;
}

.mt-shop__button .btn-light {
  background: #fff;
  color: #000;
}

.mt-shop__give {
  display: block;
  padding: 24px 0 0;
  position: relative;
}

.mt-shop__give-msg {
  color: #000 !important;
  font-family: 'Proximabold';
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
  text-transform: none !important;
}

.mt-shop__give-msg a, .mt-shop__give-msg:hover {
  color: #000 !important;
}

.mt-shop sup {
  font-size: 10px;
}

.mt-shop__link {
  border-bottom: 1px solid #000;
  color: #000;
  font-family: 'Proximabold';
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}

.mt-shop__link:hover, .mt-shop__link:focus, .mt-shop__link:active {
  border-bottom: 2px solid #000;
  color: #000;
  text-decoration: none;
}
