@media screen and (max-width: 767px) {
  .srx-home-top span {
    background-position: 8px 55px !important;
    padding-left: 15px !important;
    padding-top: 60px !important;
    width: calc(100% - 30px) !important;
  }
  .srx-home-top h1 {
    margin-bottom: 20px !important;
    margin-left: 5px !important;
  }
  .srx-home-top a {
    display: block !important;
    position: relative !important;
    width: 100% !important;
  }
  .srx-home-top a button {
    margin-bottom: 15px !important;
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .srx-home-top a button {
    height: 60px !important;
    width: 180px !important;
  }
}
