$font-family-sans-serif:
  // Brand font
  BrandonGrotesque-Regular,
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

body {
  color: #1a1a1a;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 23px;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 20px;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

.mt-heading {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}


.mt-product {
  display: block;
  font-weight: 200;
  max-width: 300px;
  padding: 10px 10px 20px;
  text-align: center;
  vertical-align: top;
  width: 50%;

  &__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__link {
    color: #333;
    text-decoration: none;
  }

  &__img {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  &__title {
    display: block;
    margin-bottom: 6px;
  }

  &__desc {
    display: none;
  }

  &__price {
    display: none;
    font-weight: 700;
  }
  
}


