.pt_checkout .checkout-order-totals-wrapper {
    .billing-collapsible {
        border-top: 1px solid #000;
        margin-top: 12px;
        padding-top: 24px;
        legend {
            display: none;
        }

        .billing-coupon {
            margin-bottom: 0;
        }

        .form-row.label-above {
            display: inline-block;
            float: left;
            margin: 0;
            width: 48%;
            .field-wrapper {
                width: 100% !important;
                input {
                    border: 1px solid #ccc !important;
                }
            }
        }

        .form-row.coupon-apply {
            display: inline-block;
            float: right;
            margin: 0;
            margin-top: calc(18px + .3rem);
            width: 48%;
        }

        #add-coupon {
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 0;
            box-sizing: border-box;
            color: #000;
            cursor: pointer;
            display: inline-block;
            font-family: p22-underground,sans-serif;
            font-size: 12px;
            font-size: .75rem;
            font-weight: 700;
            height: 40px;
            letter-spacing: .08em;
            line-height: 40px;
            padding: 0 40px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .3s ease;
            width: 100% !important;
            &:hover,
            &:focus {
                background-color: #4c4c4c;
                border-color: #4c4c4c;
                color: #fff;
            }
        }
    }
}
