.search-results-grid-img div[id*="mt_htmlBadge"] {
  color: #9C0013;
  display: inline-block;
  font-family: 'proxima';
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  margin-top: 10px;
  position: relative;
}
