$breakpoint-md: 768px;
$breakpoint-lg: 960px;
// ==================================================================
// Need Help
// ==================================================================
.mt_need-help {
  background: #fff;
  clear: right;
  display: block;
  float: right;
  margin-top: 31px;
  padding: 0 20px;
  width: 100%;
  @media screen and (min-width: $breakpoint-md) {
    padding: 0 10px;
    width: 35%;
  }

  &__heading {
    font-family: "Trade Gothic W01 Roman";
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  p {
    font-family: "Trade Gothic W01 Roman";
    font-size: 17px;
    a {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
    }
  }

  br {
    @media screen and (min-width: 960px) {
      display: none;
    }
  }


  &__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    @media screen and (min-width: $breakpoint-md) {
      justify-content: center;
    }
    a {
      flex: 1 1 50%;
      font-size: 13px;
      text-decoration: none;
      @media screen and (min-width: $breakpoint-md) {
        text-align: center !important;
      }
      
      &:last-of-type {
        text-align: right;
      }
    }
  }


  .mcafee {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    a {
      flex: initial;
      width: auto;
    }
  }
}