@media screen and (min-width: 768px) {
  .cart {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .cart .cart-outer {
    padding-right: 20px;
    width: 65% !important;
  }
}

div.cart > div.page-title {
  margin: 0 !important;
  margin-bottom: 15px !important;
}

.page-title h1 {
  float: none !important;
  font-family: "Trade Gothic W01 Bold 2" !important;
  font-size: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10px !important;
  text-align: center !important;
}

.page-title__items {
  float: none !important;
  font-family: "Trade Gothic W01 Light";
  font-size: 14px;
  text-align: center !important;
}

#shopping-cart-table {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table {
    display: inline-block !important;
    padding-left: 0;
    padding-right: 0;
  }
}

#shopping-cart-table thead,
#shopping-cart-table tfoot {
  display: none;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table tbody {
    display: inline-block !important;
    width: 100%;
  }
}

#shopping-cart-table tbody tr.jq-cart-item {
  padding-bottom: 0 !important;
  padding-top: 25px;
  position: relative;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table tbody tr.jq-cart-item {
    clear: none;
    display: inline-block;
    float: left;
    padding-bottom: 20px !important;
    width: 100% !important;
  }
}

#shopping-cart-table tbody tr.jq-cart-item:not(:first-of-type) {
  border-top: 11px solid #f8f8f8;
}

#shopping-cart-table tbody tr.jq-cart-item:after {
  clear: both;
  content: "";
  display: table;
}

#shopping-cart-table td:nth-of-type(1):before {
  content: "" !important;
  display: none;
}

#shopping-cart-table .image-wrapper {
  clear: none;
  margin: 0;
  max-width: 110px;
  padding: 0;
  width: auto;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table .image-wrapper {
    display: inline-block;
    float: left;
    width: 25%;
  }
}

#shopping-cart-table .product-image {
  max-width: 100%;
  width: auto !important;
}

#shopping-cart-table .product-wrapper {
  clear: none;
  float: left;
  margin: 0;
  max-width: calc(100% - 110px);
  padding: 0;
  padding-left: 10px;
  position: relative;
  width: auto;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table .product-wrapper {
    display: inline-block;
    max-width: 100%;
    width: 75%;
  }
}

@media screen and (min-width: 960px) {
  #shopping-cart-table .product-wrapper {
    width: calc(100% - 130px);
  }
}

#shopping-cart-table .product-wrapper .product-name {
  padding-right: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 960px) {
  #shopping-cart-table .product-wrapper .product-name {
    font-size: 16px !important;
  }
}

#shopping-cart-table .product-wrapper h3 {
  color: #b3b3b3 !important;
  font-family: "Trade Gothic W01 Light" !important;
  font-size: 11px !important;
}

@media screen and (min-width: 960px) {
  #shopping-cart-table .product-wrapper h3 {
    font-size: 13px !important;
  }
}

#shopping-cart-table .item-options {
  font-family: "Trade Gothic W01 Light" !important;
  font-size: 11px !important;
  margin-top: 7px !important;
  position: relative !important;
  text-transform: lowercase !important;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table .item-options {
    border-top: 1px solid #f2f2f2;
    margin-top: 0 !important;
    padding-top: 10px;
    position: absolute !important;
    top: 48px;
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  #shopping-cart-table .item-options {
    font-size: 13px !important;
  }
}

#shopping-cart-table .item-options dt {
  color: #6a6a6a !important;
  margin-right: 5px !important;
  padding: 0 !important;
}

#shopping-cart-table td.a-left span {
  float: none !important;
}

@media screen and (min-width: 960px) {
  #shopping-cart-table td.a-left span .price {
    font-size: 15px !important;
  }
}

#shopping-cart-table td:nth-child(3) {
  -webkit-transform: translateX(100%);
  clear: left;
  float: left;
  margin-top: 10px;
  padding: 0;
  padding-top: 36px;
  text-align: center !important;
          transform: translateX(100%);
  width: calc(100% / 3);
}

@media screen and (min-width: 768px) {
  #shopping-cart-table td:nth-child(3) {
    -webkit-transform: none;
    left: 64%;
    padding-top: 24px;
    position: absolute;
    top: 48px;
            transform: none;
    width: 20%;
  }
}

#shopping-cart-table td:nth-child(3)::before {
  border-bottom: 1px solid #f2f2f2;
  content: "PRICE";
  font-family: "Trade Gothic W01 Bold 2" !important;
  font-size: 11px;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table td:nth-child(3)::before {
    border: none;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width: 960px) {
  #shopping-cart-table td:nth-child(3)::before {
    font-size: 12px;
  }
}

#shopping-cart-table td:nth-child(4) {
      -ms-flex-align: center;
  -ms-flex-line-pack: stretch;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-transform: translateX(-100%);
      align-content: stretch;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  float: left;
  margin-top: 10px;
  padding: 0;
  padding-top: 30px;
  text-align: left !important;
          transform: translateX(-100%);
  width: calc(100% / 3);
}

@media screen and (min-width: 768px) {
  #shopping-cart-table td:nth-child(4) {
    -webkit-transform: none;
    left: 54%;
    padding-top: 24px;
    position: absolute;
    top: 48px;
            transform: none;
    width: 35px;
  }
}

#shopping-cart-table td:nth-child(4)::before {
  border-bottom: 1px solid #f2f2f2;
  content: "QTY";
  font-family: "Trade Gothic W01 Bold 2" !important;
  font-size: 11px;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table td:nth-child(4)::before {
    border: none;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width: 960px) {
  #shopping-cart-table td:nth-child(4)::before {
    font-size: 12px;
  }
}

#shopping-cart-table td:nth-child(4) input.input-text {
  background: #fff;
  border: 1px solid #000;
  font-family: "Trade Gothic W01 Bold" !important;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-right: 6px;
  max-width: 45px;
  padding: 0 2px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table td:nth-child(4) input.input-text {
    font-size: 13px;
    height: 30px;
  }
}

@media screen and (min-width: 960px) {
  #shopping-cart-table td:nth-child(4) input.input-text {
    border: 1px solid #939598;
    font-size: 16px;
  }
}

#shopping-cart-table td:nth-child(4) button span {
  color: grey;
  display: block;
  font-size: 10px;
  padding: 0;
  text-decoration: underline;
  text-transform: lowercase;
  width: 100%;
}

@media screen and (min-width: 960px) {
  #shopping-cart-table td:nth-child(4) button span {
    font-size: 13px;
  }
}

#shopping-cart-table td:nth-child(5) {
  float: right;
  margin-top: 10px;
  padding: 0;
  padding-top: 36px;
  text-align: right !important;
  width: calc(100% / 3);
}

@media screen and (min-width: 768px) {
  #shopping-cart-table td:nth-child(5) {
    -webkit-transform: none;
    left: 79%;
    padding-top: 24px;
    position: absolute;
    top: 48px;
            transform: none;
    width: 20%;
  }
}

#shopping-cart-table td:nth-child(5)::before {
  border-bottom: 1px solid #f2f2f2;
  content: "SUBTOTAL";
  font-family: "Trade Gothic W01 Bold 2" !important;
  font-size: 11px;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table td:nth-child(5)::before {
    border: none;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width: 960px) {
  #shopping-cart-table td:nth-child(5)::before {
    font-size: 12px;
  }
}

#shopping-cart-table td:nth-child(5) .cart-price {
  text-align: right !important;
}

#shopping-cart-table td:nth-child(5) .price {
  float: right !important;
  font-family: "Trade Gothic W01 Bold 2" !important;
}

#shopping-cart-table td.last {
  padding-bottom: 0 !important;
  position: initial !important;
}

#shopping-cart-table .btn-remove2 {
  background: transparent !important;
  border: 0 !important;
  font-size: 0 !important;
  min-width: 0 !important;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 13px;
  width: 20px !important;
  z-index: 1;
}

#shopping-cart-table .btn-remove2::before {
  color: grey;
  content: "\d7" !important;
  font-family: "Trade Gothic W01 Roman";
  font-size: 15px;
  left: initial !important;
  pointer-events: all !important;
}

#shopping-cart-table .btn-edit {
  background: grey !important;
  color: #fff;
  font-family: "Trade Gothic W01 Bold 2" !important;
  font-size: 10px;
  left: 0;
  margin: 0;
  margin-left: 120px;
  margin-top: -96px;
  max-width: 50px !important;
  min-width: 0 !important;
  padding: 4px 5px;
  position: absolute;
  top: 90%;
  width: 50px !important;
}

@media screen and (min-width: 768px) {
  #shopping-cart-table .btn-edit {
    left: 110px;
    margin-left: 10px;
    margin-top: 0;
    top: 75%;
  }
}

.checkout-cart-index .main {
  padding: 0 !important;
}

.cart-collaterals {
  background: #f8f8f8 !important;
  border: none !important;
  float: none !important;
  padding: 20px 0 0 !important;
  width: 100% !important;
}

@media screen and (min-width: 768px) {
  .cart-collaterals {
    border: none !important;
  }
}

.cart-collaterals .deals {
  border-bottom: 3px solid #000 !important;
}

@media screen and (min-width: 768px) {
  .cart-collaterals .deals {
    padding-left: 0 !important;
  }
}

.cart-collaterals .deals fieldset label {
  color: grey !important;
  font-family: "Trade Gothic W01 Roman" !important;
  font-size: 12px !important;
  margin-bottom: 0 !important;
  text-transform: uppercase !important;
}

.cart-collaterals .deals fieldset label em {
  display: none !important;
}

.cart-collaterals .deals fieldset button {
  margin-left: 10px !important;
  margin-top: 0 !important;
}

.cart-collaterals .deals fieldset button span span {
  background: grey;
  color: #fff;
  font-size: 9px;
  padding: 9px 0 !important;
  text-align: center !important;
  width: 75px !important;
}

.cart-collaterals .deals fieldset .input-text {
  font-family: "Trade Gothic W01 Light" !important;
  font-size: 10px !important;
  margin: 0 !important;
  text-align: center !important;
}

.cart-collaterals .discount h2 {
  display: none;
}

.cart-collaterals .discount .v-fix {
      -ms-flex-direction: row;
  -ms-flex-wrap: nowrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;
      flex-wrap: nowrap;
}

.cart-collaterals .discount .v-fix input {
  width: 100%;
}

.cart-collaterals .discount .v-fix .button {
  height: 30px !important;
  width: auto !important;
}

.cart-collaterals .discount .v-fix .button span span {
  font-size: 0 !important;
  height: 30px !important;
  min-width: 0 !important;
  padding: 0 !important;
  width: 75px !important;
}

.cart-collaterals .discount .v-fix .button span span::before {
  background-color: grey !important;
  color: #fff;
  content: "APPLY";
  display: block;
  font-size: 10px !important;
  padding-bottom: 9px;
  padding-top: 9px;
}

.cart-collaterals .discount .v-fix .button + .button span span::before {
  content: "REMOVE" !important;
}

.cart-collaterals .discount form#discount-coupon-form[cancel-btn] .v-fix button span span {
  width: 55px !important;
}

@media screen and (min-width: 960px) {
  .cart-collaterals .discount form#discount-coupon-form[cancel-btn] .v-fix button span span {
    width: 75px !important;
  }
}

.cart-collaterals .giftcard h2 {
  display: none !important;
}

.cart-collaterals .giftcard form {
  display: block;
  padding-top: 18px;
  position: relative;
  width: 100% !important;
}

.cart-collaterals .giftcard fieldset {
  display: block !important;
}

.cart-collaterals .giftcard .form-list .validation-advice {
  display: none;
}

.cart-collaterals .giftcard label {
  display: none !important;
}

.cart-collaterals .giftcard ul.form-list {
  display: inline-block;
  float: left;
  font-size: 0;
  margin-right: 10px !important;
  max-width: calc(100% - 86px);
  width: 100% !important;
}

.cart-collaterals .giftcard ul.form-list li {
  display: inline-block !important;
  margin: 0 !important;
  width: 49.93% !important;
}

.cart-collaterals .giftcard ul.form-list li:first-child {
  width: 74.8% !important;
}

@media screen and (min-width: 1150px) {
  .cart-collaterals .giftcard ul.form-list li:first-child {
    width: 74.9% !important;
  }
}

.cart-collaterals .giftcard ul.form-list li:first-child:before {
  color: grey !important;
  content: "GIFT CARD";
  font-family: "Trade Gothic W01 Roman" !important;
  font-size: 12px !important;
  margin-bottom: 0 !important;
  position: absolute;
  text-transform: uppercase !important;
  top: 0;
}

.cart-collaterals .giftcard ul.form-list li:last-child {
  width: 25% !important;
}

.cart-collaterals .giftcard ul.form-list .input-text {
  display: inline-block;
  padding: 0 !important;
  text-align: center !important;
}

.cart-collaterals .giftcard .buttons-set {
  display: inline-block;
  margin: 0 !important;
  max-width: 75px;
  width: 100% !important;
}

.cart-collaterals .giftcard .buttons-set .button {
  height: 30px !important;
  width: 75px !important;
}

.cart-collaterals .giftcard .buttons-set .button span span {
  font-size: 0 !important;
  height: 30px !important;
  min-width: 0 !important;
  padding: 0 !important;
  width: 75px !important;
}

.cart-collaterals .giftcard .buttons-set .button span span::before {
  background-color: grey !important;
  color: #fff;
  content: "APPLY";
  display: block;
  font-size: 10px !important;
  padding-bottom: 9px;
  padding-top: 9px;
}

.cart-collaterals .giftcard .buttons-set button * {
  width: 100% !important;
}

.cart .totals {
  background: #f8f8f8;
  border-top: 1px solid #727070;
  margin-top: 0 !important;
  padding-bottom: 30px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-top: 20px !important;
}

.cart .totals::before {
  content: "ORDER SUMMARY";
  font-family: "Trade Gothic W01 Roman" !important;
  font-size: 20px;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .cart .totals {
    border-left: none !important;
    border-top: none;
    float: right !important;
    padding-bottom: 20px !important;
    width: 35% !important;
  }
}

.cart .totals #shopping-cart-totals-table {
      -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  margin-right: 0 !important;
  margin-top: 10px;
}

.cart .totals #shopping-cart-totals-table td.a-right {
  padding: 0 !important;
}

.cart .totals #shopping-cart-totals-table td.a-right:first-of-type {
  text-align: left !important;
}

.cart .totals #shopping-cart-totals-table td strong,
.cart .totals #shopping-cart-totals-table td strong .price {
  font-family: "Trade Gothic W01 Bold 2" !important;
  font-size: 20px !important;
  font-weight: normal;
  margin-top: 15px !important;
  text-transform: uppercase;
}

.cart .totals #shopping-cart-totals-table td:first-child strong {
  font-size: 0 !important;
}

.cart .totals #shopping-cart-totals-table td:first-child strong::before {
  content: "Total";
  display: block;
  font-size: 20px !important;
}

.cart .totals #shopping-cart-totals-table tbody tr {
      -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
}

.cart .totals #shopping-cart-totals-table tbody tr td {
  font-family: "Trade Gothic W01 Roman" !important;
  font-size: 12px !important;
  text-transform: uppercase;
  width: 100%;
}

.cart .totals #shopping-cart-totals-table tfoot {
      -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.cart .totals #shopping-cart-totals-table tfoot tr {
      -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
  position: relative;
}

.cart .totals #shopping-cart-totals-table tfoot tr:after {
  bottom: 0;
  color: grey;
  content: "Tax calculated on checkout";
  font-family: "Trade Gothic W01 Light" !important;
  font-size: 11px;
  left: 0;
  position: absolute;
}

.cart .totals #shopping-cart-totals-table tfoot tr td {
  width: 100% !important;
}

.cart .totals #shopping-cart-totals-table tfoot td.a-right:first-of-type {
  position: relative;
}

.cart .totals .checkout-types {
  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  .cart .totals .checkout-types {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .cart .totals .checkout-types li:first-child {
        -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            flex-direction: column;
  }
}

@media screen and (min-width: 960px) {
  .cart .totals .checkout-types li:first-child {
        -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
            flex-direction: row;
  }
}

.cart .totals .button {
  background: #000 !important;
}

@media screen and (min-width: 768px) {
  .cart .totals .button {
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .cart .totals .button:first-child {
    margin-right: 5px;
  }
}

.cart .totals .button.btn-continue {
  background: grey !important;
}

@media screen and (min-width: 768px) {
  .cart .totals .button.btn-continue {
        -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    margin-top: 20px;
            order: 1;
  }
}

@media screen and (min-width: 960px) {
  .cart .totals .button.btn-continue {
        -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
    margin-top: 0;
            order: 0;
  }
}

@media screen and (min-width: 768px) {
  .cart .totals .button span {
    width: 100%;
  }
}

.cart .totals .button span span {
  color: #fff !important;
}

@media screen and (min-width: 768px) {
  .cart .totals .button.btn-proceed-checkout {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 960px) {
  .cart .totals .button.btn-proceed-checkout {
    margin-left: 5px !important;
  }
}

.mt_need-help {
  background: #fff;
  clear: right;
  display: block;
  float: right;
  margin-top: 31px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mt_need-help {
    padding: 0 10px;
    width: 35%;
  }
}

.mt_need-help__heading {
  font-family: "Trade Gothic W01 Roman";
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.mt_need-help p {
  font-family: "Trade Gothic W01 Roman";
  font-size: 17px;
}

.mt_need-help p a {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .mt_need-help br {
    display: none;
  }
}

.mt_need-help__links {
      -ms-flex-direction: row;
      -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: row;
      flex-wrap: wrap;
          justify-content: space-between;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .mt_need-help__links {
        -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
  }
}

.mt_need-help__links a {
      -ms-flex: 1 1 50%;
  -webkit-box-flex: 1;
          flex: 1 1 50%;
  font-size: 13px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .mt_need-help__links a {
    text-align: center !important;
  }
}

.mt_need-help__links a:last-of-type {
  text-align: right;
}

.mt_need-help .mcafee {
      -ms-flex-align: center;
      -ms-flex-pack: center;
  -ms-flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-box-pack: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: nowrap;
          justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.mt_need-help .mcafee a {
      -ms-flex: initial;
  -webkit-box-flex: initial;
          flex: initial;
  width: auto;
}

@media only screen and (max-width: 767px), all {
  .cart .cart-collaterals .v-fix .button {
    width: 75px !important;
  }
  .cart .cart-collaterals .v-fix .cancel-btn {
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 479px), all {
  .checkout-cart-index .main .col-main .cart .cart-collaterals .v-fix .input-text {
    width: calc(100% - 85px) !important;
  }
}
