$breakpoint-md: 768px;
$breakpoint-lg: 960px;

@mixin clearfix() {
  clear: both;
  content: "";
  display: table;
}

.checkout-cart-index .main {
  padding: 0 !important;
  @media screen and (min-width: $breakpoint-md) {
    padding: 0 20px!important;
  }
}

.cart {
  // @media screen and (min-width: $breakpoint-md) {
  //   padding-left: 20px;
  //   padding-right: 20px;
  // }
  .cart-outer {
    @media screen and (min-width: $breakpoint-md) {
      padding-right: 0;
      width: 100% !important;
    }
  }
}



form#cart-form {
  @media screen and (min-width: $breakpoint-md) {
    float: left;
    padding-right: 20px;
    width: 65% !important;
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding-right: 30px;
  }
}


// ==================================================================
// Header
// ==================================================================
div.cart > div.page-title {
  margin: 0 !important;
  margin-bottom: 15px !important;
}
.page-title {
  h1 {
    float: none !important;
    font-family: "Trade Gothic W01 Bold 2" !important;
    font-size: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px!important;
    text-align: center!important;
  }
  
  &__items {
    float: none !important;
    font-family: "Trade Gothic W01 Light";
    font-size: 14px;
    text-align: center !important;
  }
}



// ==================================================================
// Products
// ==================================================================
#shopping-cart-table {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  @media screen and (min-width: $breakpoint-md) {
    display: inline-block !important;
    padding-left: 0;
    padding-right: 0;
  }
  
  thead,
  tfoot {
    display: none;
  }
  
  tbody {
    @media screen and (min-width: $breakpoint-md) {
      display: inline-block !important;
      width: 100%;
    }
  }
  
  tbody tr.jq-cart-item {
    padding-bottom: 0 !important;
    padding-top: 25px;
    position: relative;
    @media screen and (min-width: $breakpoint-md) {
      border-bottom: 11px solid #f8f8f8;
      clear: none;
      display: inline-block;
      float: left;
      padding-bottom: 30px !important;
      width: 100% !important;
    }
    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
  
  // ------------------------------------------------------------------
  // Hide PRODUCT
  // ------------------------------------------------------------------
  td:nth-of-type(1):before {
    content: "" !important;
    display: none;
  }
  
  
  // ------------------------------------------------------------------
  // Product Image
  // ------------------------------------------------------------------
  .image-wrapper {
    clear: none;
    margin: 0;
    max-width: 180px;
    padding: 0;
    width: 45%;
    @media screen and (min-width: $breakpoint-md) {
      display: inline-block;
      float: left;
      padding-right: 18px;
      width: 31%;
    }
    
  }
  .product-image {
    max-width: 100%;
    padding-right: 10px !important;
    width: auto !important;
    @media screen and (min-width: $breakpoint-md) {
      padding-right: 0 !important;
    }
  }
  
  
  // ------------------------------------------------------------------
  // Product Info
  // ------------------------------------------------------------------
  .product-wrapper {
    clear: none;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 55%;
    @media screen and (min-width: $breakpoint-md) {
      display: inline-block;
      max-width: 100%;
      width: 69%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: calc(100% - 180px);
    }
    
    .product-name {
      padding-right: 20px;
      text-transform: uppercase;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 16px !important;
      }
    }
    
    h3 {
      color: #b3b3b3 !important;
      font-family: "Trade Gothic W01 Light" !important;
      font-size: 11px !important;
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 13px !important;
        line-height: 20px !important;
      }
    }
  }
  
  // ------------------------------------------------------------------
  // Item Options
  // ------------------------------------------------------------------
  .item-options {
    font-family: "Trade Gothic W01 Light" !important;
    font-size: 11px !important;
    letter-spacing: 0.025em !important;
    margin-top: 7px !important;
    position: relative !important;
    text-transform: lowercase !important;
    @media screen and (min-width: $breakpoint-md) {
      border-top: 1px solid #f2f2f2;
      margin-top: 0 !important;
      padding-top: 10px;
      position: absolute !important;
      top: 50px;
      width: 100%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 13px !important;
      line-height: 1.5 !important;
      top: 55px;
    }
    
    
    dt {
      color: #6a6a6a !important;
      margin-right: 5px !important;
      padding: 0 !important;
    }
    dd {
      padding: 0 !important;
    }
  }
  
  
  // ------------------------------------------------------------------
  // Price, QTY, Subtotal
  // ------------------------------------------------------------------
  td.a-left span {
    float: none !important;
    .price {
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 15px !important;
      }
    }
  }
  
  td {
    // price
    &:nth-child(3) {
      clear: left;
      float: left;
      margin-top: 10px;
      padding: 0;
      padding-top: 36px;
      text-align: center !important;
      transform: translateX(100%);
      width: calc(100% / 3);
      @media screen and (min-width: $breakpoint-md) {
        left: 67%;
        padding-top: 24px;
        position: absolute;
        top: 50px;
        transform: none;
        width: 20%;
      }
      @media screen and (min-width: $breakpoint-lg) {
        left: 65%;
        top: 55px;
      }
      
      &::before {
        border-bottom: 1px solid #f2f2f2;
        content: "PRICE";
        font-family: "Trade Gothic W01 Bold 2" !important;
        font-size: 11px;
        margin: 0;
        padding: 0;
        padding-bottom: 6px;
        width: 100%;
        @media screen and (min-width: $breakpoint-md) {
          border: none;
          left: 0;
          position: absolute;
          top: 0;
        }
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 12px;
        }
      }
    }
    
    // qty
    &:nth-child(4) {
      align-content: stretch;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      float: left;
      margin-top: 10px;
      padding: 0;
      padding-top: 30px;
      text-align: left !important;
      transform: translateX(-100%);
      width: calc(100% / 3);
      @media screen and (min-width: $breakpoint-md) {
        left: 60%;
        padding-top: 24px;
        position: absolute;
        top: 50px;
        transform: none;
        width: 35px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        left: 55%;
        top: 55px;
      }
      &::before {
        border-bottom: 1px solid #f2f2f2;
        content: "QTY";
        font-family: "Trade Gothic W01 Bold 2" !important;
        font-size: 11px;
        margin: 0;
        padding: 0;
        padding-bottom: 6px;
        width: 100%;
        @media screen and (min-width: $breakpoint-md) {
          border: none;
          left: 0;
          position: absolute;
          top: 0;
        }
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 12px;
        }
      }
      
      input.input-text {
        background: #fff;
        border: 1px solid #000;
        font-family: "Trade Gothic W01 Bold" !important;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        margin-right: 6px;
        max-width: 45px;
        padding: 0 2px;
        text-align: center;
        @media screen and (min-width: $breakpoint-md) {
          font-size: 13px;
          height: 30px;
        }
        @media screen and (min-width: $breakpoint-lg) {
          border: 1px solid #939598;
          font-size: 16px;
        }
      }
      
      button span {
        color: grey;
        display: block;
        font-size: 10px;
        padding: 0;
        text-decoration: underline;
        text-transform: lowercase;
        width: 100%;
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 13px;
        }
      }
    }
    
    // subtotal
    &:nth-child(5) {
      float: right;
      margin-top: 10px;
      padding: 0;
      padding-top: 36px;
      text-align: right !important;
      width: calc(100% / 3);
      @media screen and (min-width: $breakpoint-md) {
        left: 79%;
        padding-top: 24px;
        position: absolute;
        top: 50px;
        transform: none;
        width: 20%;
      }
      @media screen and (min-width: $breakpoint-lg) {
        top: 55px;
      }
      &::before {
        border-bottom: 1px solid #f2f2f2;
        content: "SUBTOTAL";
        font-family: "Trade Gothic W01 Bold 2" !important;
        font-size: 11px;
        margin: 0;
        padding: 0;
        padding-bottom: 6px;
        width: 100%;
        @media screen and (min-width: $breakpoint-md) {
          border: none;
          left: 0;
          position: absolute;
          top: 0;
        }
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 12px;
        }
      }
      .cart-price {
        text-align: right !important;
      }
      .price {
        float: right !important;
        font-family: "Trade Gothic W01 Bold 2"!important;
      }
    }
  }
  
  
  
  
  // ------------------------------------------------------------------
  // Change remove button to "x"
  // ------------------------------------------------------------------
  td.last {
    padding-bottom: 0 !important;
    position: initial !important;
  }
  
  .btn-remove2 {
    background: transparent !important;
    border: 0 !important;
    font-size: 0 !important;
    min-width: 0 !important;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 13px;
    width: 20px !important;;
    z-index: 1;
    &::before {
      color: grey;
      content: "\d7" !important;
      font-family: "Trade Gothic W01 Roman";
      font-size: 15px;
      left: initial !important;
      pointer-events: all !important;
    }
  }
  
  // ------------------------------------------------------------------
  // Move edit button
  // ------------------------------------------------------------------
  .btn-edit {
    background: grey !important;
    color: #fff;
    font-family: "Trade Gothic W01 Bold 2" !important;
    font-size: 10px;
    left: 0;
    margin: 0;
    margin-left: 45%;
    //margin-top: -96px;
    max-width: 50px !important;
    min-width: 0 !important;
    padding: 4px 5px;
    position: absolute;
    top: 130px;
    // position: absolute;
    // right: calc(100% - 162px);
    //top: 50%;
    width: 50px !important;
    @media screen and (min-width: 440px) {
      margin-left: 180px;
    }
    @media screen and (min-width: $breakpoint-md) {
      left: 29%;
      margin-left: 10px;
      margin-top: 0;
      top: 70%;
    }
    @media screen and (min-width: $breakpoint-lg) {
      left: 170px;
      top: 65%;
    }
  }
  
}






// ==================================================================
// ORDER SUMMARY
// ==================================================================
.cart-collaterals {
  background: #f8f8f8 !important;
  border: none !important;
  float: none !important;
  padding: 20px 0 0 !important;
  width: 100% !important;
  @media screen and (min-width: $breakpoint-md) {
    border: none !important;
  }
  
  
  
  .deals {
    border-bottom: 3px solid #000 !important;
    @media screen and (min-width: $breakpoint-md) {
      padding-left: 0 !important;
    }
    
    fieldset {
      label {
        color: grey !important;
        font-family: "Trade Gothic W01 Roman"!important;
        font-size: 12px !important;
        margin-bottom: 0 !important;
        text-transform: uppercase !important;
        em {
          display: none !important;
        }
      }
      
      button {
        margin-left: 10px !important;
        margin-top: 0 !important;
        span {
          span {
            background: grey;
            color: #fff;
            font-size: 9px;
            padding: 9px 0 !important;
            text-align: center !important;
            width: 75px !important;
            
          }
        }
      }
      .input-text {
        font-family: "Trade Gothic W01 Light" !important;
        font-size: 10px !important;
        margin: 0 !important;
        text-align: center !important;
      }
    }
  }
  
  
  .discount {
    h2 {
      display: none;
    }
    
    .v-fix {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      
      input {
        font-size: 12px !important;
        width: 100%;
      }
      .button {
        height: 30px !important;
        width: auto !important;
        span {
          span {
            font-size: 0 !important;
            height: 30px !important;
            min-width: 0 !important;
            padding: 0 !important;
            width: 75px !important;
            &::before {
              background-color: grey !important;
              color: #fff;
              content: "APPLY";
              display: block;
              font-size: 10px !important;
              padding-bottom: 9px;
              padding-top: 9px;
            }
          }
        }
      }
      
      .button + .button span span {
        &::before {
          content: "REMOVE" !important;
        }
      }
    }
    
    form#discount-coupon-form[cancel-btn] .v-fix {
      button span span {
        width: 55px !important;
        @media screen and (min-width: $breakpoint-lg) {
          width: 75px !important;
        }
      }
    }
  }
  
  
  
  .giftcard {
    h2 {
      display: none !important;
    }
    form {
      display: block;
      padding-top: 18px;
      position: relative;
      width: 100% !important;
    }
    fieldset {
      display: block !important;
    }
    
    .form-list .validation-advice {
      display: none;
    }
    
    label {
      display: none !important;
    }
    ul.form-list {
      display: inline-block;
      float: left;
      font-size: 0;
      margin-right: 10px !important;
      max-width: calc(100% - 86px);
      width: 100% !important;
      li {
        display: inline-block !important;
        margin: 0 !important;
        width: 49.93% !important;
        &:first-child {
          width: 74.8% !important;
          @media screen and (min-width: 1150px) {
            width: 74.9% !important;
          }
          &:before {
            color: grey !important;
            content: "GIFT CARD";
            font-family: "Trade Gothic W01 Roman"!important;
            font-size: 12px !important;
            margin-bottom: 0 !important;
            position: absolute;
            text-transform: uppercase !important;
            top: 0;
          }
        }
        &:last-child {
          width: 25% !important;
        }
      }
      .input-text {
        display: inline-block;
        padding: 0 !important;
        text-align: center !important;
      }
    }
    .buttons-set {
      display: inline-block;
      margin: 0 !important;
      max-width: 75px;
      width: 100% !important;
      .button {
        height: 30px !important;
        width: 75px !important;
        span {
          span {
            font-size: 0 !important;
            height: 30px !important;
            min-width: 0 !important;
            padding: 0 !important;
            width: 75px !important;
            &::before {
              background-color: grey !important;
              color: #fff;
              content: "APPLY";
              display: block;
              font-size: 10px !important;
              padding-bottom: 9px;
              padding-top: 9px;
            }
          }
        }
      }
      button * {
        width: 100% !important;
      }
    }
  }
}



.cart {
  .totals {
    border-top: 1px solid #727070 !important;
    margin-top: 0 !important;
    padding-bottom: 30px;
    padding-top: 0 !important;
    position: sticky;
    top: 120px;
    
    @media screen and (min-width: $breakpoint-md) {
      border-left: none !important;
      border-top: none !important;
      float: right !important;
      padding-bottom: 20px !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 35% !important;
    }
    
    
    #shopping-cart-totals-table {
      background: #f8f8f8;
      display: flex;
      flex-direction: column;
      margin-right: 0 !important;
      margin-top: 0;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 70px;
      position: relative;
      &::before {
        background: #f8f8f8;
        content: "ORDER SUMMARY";
        font-family: "Trade Gothic W01 Roman" !important;
        font-size: 22px;
        font-weight: normal;
        left: 10px;
        line-height: 33px;
        position: absolute;
        top: 20px;
      }
      
      td.a-right {
        padding: 0 !important;    
        &:first-of-type {
          text-align: left !important;
        }
      }
      td strong,
      td strong .price {
        font-family: "Trade Gothic W01 Bold 2" !important;
        font-size: 20px !important;
        font-weight: normal;
        margin-top: 15px !important;
        text-transform: uppercase;
      }
      
      td:first-child {
        strong {
          font-size: 0 !important;
          &::before {
            content: "Total";
            display: block;
            font-size: 20px !important;
            line-height: 23px !important;
          }
        }
      }
      
      tbody {
        tr {
          display: flex;
          justify-content: space-between;
          &:not(:first-child) {
            padding-top: 10px;
          }
          td {
            font-family: "Trade Gothic W01 Roman"!important;
            font-size: 12px !important;
            text-transform: uppercase;
            width: 100%;
          }
        }
      }
      
      .price {
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 15px !important;
          line-height: 23px !important;
        }
      }
      
      tfoot {
        order: 1;
        tr {
          display: flex;
          justify-content: space-between;
          position: relative;
          td {
            width: 100% !important;
          }
        }
        
        td.a-right {
          &:first-of-type {
            position: relative;
            &:after {
              bottom: 0;
              color: grey;
              content: "Tax calculated on checkout";
              font-family: "Trade Gothic W01 Light"!important;
              font-size: 11px;
              left: 0;
              position: absolute;
            }
          }
          @media screen and (min-width: $breakpoint-lg) {
            font-size: 20px !important;
          }
          .price {
            @media screen and (min-width: $breakpoint-lg) {
              font-size: 20px !important;
            }
          }
        }
      }
    }
    
    
    .checkout-types {
      background: #f8f8f8;
      margin-top: 0 !important;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 18px;
      @media screen and (min-width: $breakpoint-md) {
        width: 100%;
      }
      li {
        &:first-child {
          @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
          }
          @media screen and (min-width: 1045px) {
            flex-direction: row;
          }
        }
      }
    }
    .button {
      background: #000 !important;
      @media screen and (min-width: $breakpoint-md) {
        width: 100%;
      }
      @media screen and (min-width: 1045px) {
        &:first-child {
          margin-right: 5px;
        }
      }
      &.btn-continue {
        background: grey !important;
        @media screen and (min-width: $breakpoint-md) {
          margin-top: 20px;
          order: 1;
        }
        @media screen and (min-width: 1045px) {
          margin-top: 0;
          order: 0;
          width: 49% !important;
        }
      }
      span {
        @media screen and (min-width: $breakpoint-md) {
          width: 100%;
        }
        span {
          color: #fff !important;
          font-family: "Trade Gothic W01 Bold 2" !important;
          font-size: 11px !important;
          line-height: 11px !important;
        }
      }
      
      &.btn-proceed-checkout {
        @media screen and (min-width: $breakpoint-md) {
          margin-left: 0 !important;
        }
        @media screen and (min-width: 1045px) {
          margin-left: 5px !important;
          width: 49% !important;
        }
      }
    }
  }
}





// ==================================================================
// You May Also Like
// ==================================================================
.page .cart .crosssell {
  max-width: 100% !important;
  padding: 0 20px !important;
  @media screen and (min-width: $breakpoint-md) {
    margin: 50px 0 !important;
    padding: 0 20px 0 0 !important;
    width: 65% !important;
  }
}


.cart {
  .crosssell {
    
    // Heading
    h2 {
      border-bottom: none !important;
      display: inline-block !important;
      font-family: "Trade Gothic W01 Light"!important;
      font-size: 12px !important;
      line-height: 10px;
      margin-bottom: 0px !important;
      margin-top: 3px !important;
      padding-bottom: 0 !important;
      &::after {
        background: #000;
        content: "";
        display: inline-block;
        height: 2px;
        margin-bottom: -7px;
        position: relative;
        width: 100%;
        z-index: 1;
      }
    }
    
    .owl-carousel {
      border-top: 2px solid #939598 !important;
    }
    
    .owl-wrapper {
      display: flex !important;
      flex-direction: column !important;
      padding-top: 0 !important;
      width: inherit !important;
    }
    
    .owl-item {
      border-bottom: solid 11px #f8f8f8 !important;
      height: 50% !important;
      margin: 12px 0 !important;
      padding: 17px 0 !important;
      width: inherit !important;
      
      .item {
        //display: flex !important;
      }
      
      .product-image {
        float: left;
        max-width: 180px !important;
        padding-right: 10px !important;
        width: 45%;
        @media screen and (min-width: $breakpoint-md) {
          padding-right: 18px !important;
          width: 31%;
        }
      }
      
      .product-name,
      .price-block {
        clear: right;
        float: right;
        width: 55%;
        @media screen and (min-width: $breakpoint-md) {
          padding-left: 15px;
          width: 69%;
        }
        @media screen and (min-width: $breakpoint-lg) {
          width: calc(100% - 180px);
        }
      }
      
      .product-name {
        font-family: "Trade Gothic W01 Light"!important;
        font-size: 12px!important;
        font-weight: 700!important;
        text-decoration: none!important;
        text-transform: uppercase!important;
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 16px !important;
        }
      }

      .price-block {
        font-family: "Trade Gothic W01 Light"!important;
        font-size: 13px !important;
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 15px !important;
        }
      }
    }
    
    
  }
}





// ==================================================================
// Need Help
// ==================================================================
.mt_need-help {
  background: #fff;
  clear: right;
  display: block;
  float: right;
  margin-top: 31px;
  padding: 0 20px;
  width: 100%;
  @media screen and (min-width: $breakpoint-md) {
    padding: 0 10px;
  }
  
  &__heading {
    font-family: "Trade Gothic W01 Roman";
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
  p {
    font-family: "Trade Gothic W01 Roman";
    font-size: 17px;
    a {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
    }
  }
  
  br {
    @media screen and (min-width: 960px) {
      display: none;
    }
  }
  
  
  &__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    @media screen and (min-width: $breakpoint-md) {
      justify-content: center;
    }
    a {
      flex: 1 1 50%;
      font-size: 13px;
      text-decoration: none;
      @media screen and (min-width: $breakpoint-md) {
        text-align: center !important;
      }
      
      &:last-of-type {
        text-align: right;
      }
    }
  }
  
  
  .mcafee {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    a {
      flex: initial;
      width: auto;
    }
  }
}

@media only screen and (max-width: 767px), all {
  // .cart .cart-collaterals .v-fix .button {
  //   width: 75px !important;
  // }
  .cart .cart-collaterals .v-fix .cancel-btn {
    margin-right: 0 !important;
  }
}


@media only screen and (max-width: 479px), all {
  .checkout-cart-index .main .col-main .cart .cart-collaterals .v-fix .input-text {
    width: calc(100% - 85px) !important;
  }
}
