div.cart > div.page-title {
  margin: 14px 0 60px 0 !important;
}

.page-title {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  margin-top: 0 !important;
  min-height: 70px !important;
  text-align: center !important;
}

.page-title h1 {
  float: none !important;
  font-family: "Trade Gothic W01 Bold 2" !important;
  font-size: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10px !important;
  text-align: center !important;
}

.page-title__items {
  font-family: "Trade Gothic W01 Light";
  font-size: 14px;
  text-align: center;
}

.mt_need-help {
  display: none;
}

@media screen and (min-width: 768px) {
  .mt_need-help {
    background: #fff;
    clear: right;
    display: block;
    float: right;
    margin-top: 31px;
    padding: 0 10px;
    width: 100%;
  }
}

.mt_need-help__heading {
  font-family: "Trade Gothic W01 Roman";
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.mt_need-help p {
  font-family: "Trade Gothic W01 Roman";
  font-size: 17px;
}

.mt_need-help p a {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .mt_need-help br {
    display: none;
  }
}

.mt_need-help__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.mt_need-help__links a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  font-size: 13px;
}
