#catalog-results > div[id^="monetate_selectorBanner"] {
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  float: none;
  height: auto;
  margin: 0 -4px 38px 0;
  padding: 0;
  padding-left: .66667em;
  padding-right: .66667em;
  text-align: left;
  vertical-align: top;
  width: 50%;
}

@media screen and (min-width: 640px) {
  #catalog-results > div[id^="monetate_selectorBanner"] {
    float: left;
    float: none;
    padding-left: .66667em;
    padding-right: .66667em;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  #catalog-results > div[id^="monetate_selectorBanner"] {
    float: left;
    float: none;
    padding-left: .66667em;
    padding-right: .66667em;
    width: 33.33333%;
  }
}
