#mt-promo-drawer {
  background: none;
  z-index: 10000;
}

#mt-promo-drawer .mt-overlay {
  background-color: #000;
  bottom: 0;
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10010;
}

#mt-promo-drawer.mt-expanded .mt-overlay {
  display: block;
  opacity: 0.5;
}

#mt-promo-drawer .mt-drawer {
  background-image: -webkit-gradient(linear, left top, right top, from(#17adc1), to(#fff));
  background-image: linear-gradient(90deg, #17adc1 0%, #fff 100%);
  bottom: 0;
  color: #fff;
  height: 100%;
  left: 100%;
  max-width: 50vw;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 100%;
  z-index: 10020;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #mt-promo-drawer .mt-drawer {
    max-width: 33.33333vw;
  }
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-drawer {
    max-width: 300px;
  }
}

#mt-promo-drawer.mt-expanded .mt-drawer {
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.7);
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

#mt-promo-drawer .mt-title-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 131px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -22px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  vertical-align: bottom;
  white-space: nowrap;
  width: 46px;
  z-index: 10030;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-title-wrapper {
    height: 262px;
    left: -45px;
    width: 93px;
  }
}

#mt-promo-drawer .mt-title-wrapper img {
  width: 100%;
}

#mt-promo-drawer .mt-tab__open {
  display: block;
  opacity: 0;
  position: absolute;
}

#mt-promo-drawer .mt-tab__closed {
  display: block;
  opacity: 1;
  position: absolute;
}

#mt-promo-drawer.mt-expanded .mt-tab__open {
  opacity: 1;
}

#mt-promo-drawer.mt-expanded .mt-tab__closed {
  opacity: 0;
}

#mt-promo-drawer .mt-body-wrapper {
  color: #1f1f1f;
  height: 100% !important;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  width: 100%;
  z-index: 10040;
}

#mt-promo-drawer [data-slider-wrapper] {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#mt-promo-drawer .mt-slider__container {
  height: 100%;
}

#mt-promo-drawer [data-slider-mask] {
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: relative !important;
}

#mt-promo-drawer [data-slider-wrapper="horizontal"] [data-slider-mask],
#mt-promo-drawer [data-slider-wrapper="fade"] [data-slider-mask] {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

#mt-promo-drawer [data-slider-wrapper="vertical"] [data-slider-mask] {
  height: calc(100vh - 84px);
  margin-top: 24px !important;
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer [data-slider-wrapper="vertical"] [data-slider-mask] {
    height: calc(100vh - 116px);
    margin-top: 40px !important;
  }
}

#mt-promo-drawer [data-slider] {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

#mt-promo-drawer [data-slider-wrapper="horizontal"] [data-slider] {
  white-space: nowrap !important;
}

#mt-promo-drawer [data-pagination-slide] * {
  pointer-events: none;
}

#mt-promo-drawer [data-pagination-slide],
#mt-promo-drawer [data-prev-button],
#mt-promo-drawer [data-next-button] {
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

#mt-promo-drawer[disabled] {
  display: none;
}

#mt-promo-drawer [data-prev-button],
#mt-promo-drawer [data-next-button] {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  outline: none;
  padding: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  user-select: none;
  width: 24px;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer [data-prev-button],
  #mt-promo-drawer [data-next-button] {
    height: 40px;
    width: 40px;
  }
}

#mt-promo-drawer [data-prev-button] svg,
#mt-promo-drawer [data-next-button] svg {
  fill: #fff;
  height: 24px;
  width: 24px;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer [data-prev-button] svg,
  #mt-promo-drawer [data-next-button] svg {
    height: 40px;
    width: 40px;
  }
}

#mt-promo-drawer [data-slider-wrapper="vertical"] [data-prev-button] {
  left: 50%;
  top: 36px;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

#mt-promo-drawer [data-slider-wrapper="vertical"] [data-next-button] {
  bottom: 0;
  left: 50%;
  right: auto;
  top: auto;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

#mt-promo-drawer [data-slide] {
  float: none;
  height: auto !important;
}

#mt-promo-drawer [data-slide] li {
  list-style: none;
}

#mt-promo-drawer [data-slide] > div {
  padding: 0 15px 20px;
}

#mt-promo-drawer [data-slide] img {
  max-width: 100%;
}

#mt-promo-drawer [data-slider-wrapper="horizontal"] [data-slide] {
  display: inline-block !important;
  vertical-align: top;
  white-space: normal;
}

#mt-promo-drawer [data-slider-wrapper="vertical"] [data-slide] {
  display: block !important;
}

#mt-promo-drawer [data-slider-wrapper="fade"] [data-slide] {
  opacity: 0;
  position: absolute;
  top: 0;
}

#mt-promo-drawer [data-slider-wrapper="fade"] [data-slide][data-slide-active] {
  opacity: 1;
  position: relative;
  z-index: 1;
}

#mt-promo-drawer .mt-view-all-offers {
  background: #17adc1;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  text-align: right;
  vertical-align: middle;
}

#mt-promo-drawer .mt-view-all-offers a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

#mt-promo-drawer .mt-promo {
  background: #225e69;
  border: 2px solid #e5e5e5;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}

#mt-promo-drawer .mt-promo__link {
  display: block;
  padding: 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__link {
    padding: 15px;
  }
}

#mt-promo-drawer .mt-promo__lead {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mt-promo-drawer .mt-promo__lead-link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  text-transform: uppercase;
}

#mt-promo-drawer .mt-promo__lead-link p {
  font-family: "BrandonGrotesqueBold" !important;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__lead-link p {
    font-size: 18px;
    line-height: 22px;
  }
}

#mt-promo-drawer .mt-promo__lead-details {
  color: #fff;
  font-size: 11px;
  line-height: 14px;
  text-decoration: underline;
  text-transform: none;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__lead-details {
    font-size: 14px;
    line-height: 22px;
  }
}

#mt-promo-drawer .mt-promo__heading {
  display: block;
  position: relative;
}

#mt-promo-drawer .mt-promo__heading h3 {
  color: #fff;
  font-family: "BrandonGrotesqueBold" !important;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  margin-top: 12px;
  padding: 0;
  text-transform: none;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__heading h3 {
    font-size: 45px;
  }
}

#mt-promo-drawer .mt-promo__cta {
  color: #fff;
  display: block;
  margin-top: 8px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__cta {
    margin-top: 16px;
  }
}

#mt-promo-drawer .mt-promo__cta p {
  font-family: "BrandonGrotesqueBlack" !important;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  text-align: right;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__cta p {
    font-size: 15px;
    line-height: 16px;
  }
}

#mt-promo-drawer .mt-promo__promo-code {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #225e69;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 4px;
  padding: 4px 10px;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__promo-code {
    padding: 12px 15px;
  }
}

#mt-promo-drawer .mt-promo__promo-code p {
  font-family: "BrandonGrotesqueBold" !important;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__promo-code p {
    font-size: 15px;
    line-height: 16px;
  }
}

#mt-promo-drawer .mt-promo__promo-code--copy {
  background: none;
  color: #225e69;
  display: inline-block;
  font-family: "BrandonGrotesqueBlack" !important;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__promo-code--copy {
    font-size: 15px;
    line-height: 16px;
  }
}

#mt-promo-drawer .mt-promo__promo-tooltip {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #225e69;
  border: 1px solid #225e69;
  border-radius: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "BrandonGrotesqueBlack" !important;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

#mt-promo-drawer .mt-promo__promo-tooltip span {
  display: block;
  font-size: 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-promo__promo-tooltip span {
    font-size: 14px;
  }
}

#mt-promo-drawer .mt-promo__promo-tooltip.mt-promo__copied {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  opacity: 1;
}

#mt-promo-drawer [data-promo-name="Image"] {
  background: #fff;
}

#mt-promo-drawer [data-promo-name="Image"] .mt-promo__link {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer [data-promo-name="Image"] .mt-promo__link {
    padding: 10px 15px 0;
  }
}

#mt-promo-drawer [data-promo-name="Image"] .mt-promo__lead {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#mt-promo-drawer [data-promo-name="Image"] .mt-promo__lead-details {
  color: #17adc1;
}

#mt-promo-drawer [data-promo-name="deals-page"] {
  background: #FF7700;
}

#mt-promo-drawer [data-promo-name="deals-page"] .mt-promo__link {
  text-align: center;
}

#mt-promo-drawer [data-promo-name="deals-page"] .mt-promo__lead {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mt-promo-drawer [data-promo-name="deals-page"] .mt-promo__lead p {
  color: #fff;
  font-family: "BrandonGrotesqueBold" !important;
  margin: 0;
  margin-top: 12px;
}

#mt-promo-drawer [data-promo-name="deals-page"] .mt-promo__heading {
  text-align: center;
}

#mt-promo-drawer [data-promo-name="deals-page"] .mt-promo__heading h3 {
  color: #fff;
  font-size: 24px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

#mt-promo-drawer [data-promo-name="deals-page"] .mt-promo__cta {
  color: #fff;
}

#mt-promo-drawer [data-promo-name="deals-page"] .mt-promo__cta p {
  text-align: center;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
  }
  100% {
    opacity: 0;
  }
}

/* ===================================================== */
/* Lightbox Style
/* ===================================================== */
#monetate_lightbox_content_container {
  height: auto !important;
  max-width: 100vw;
  top: 40px !important;
  width: 100% !important;
}

@media screen and (min-width: 768px) {
  #monetate_lightbox_content_container {
    max-width: 720px;
  }
}

.mt_iframe-lightbox {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.mt_iframe-lightbox .lightboxClose {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: #225e69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 36px !important;
  z-index: 9999;
}

.mt_iframe-lightbox iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
