@media screen and (max-width: 1025px) {
  .mt-nav-category .category-level-1.mt-active-bar-item .arrow-cat {
    margin: 0 20px 0 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: .2s ease;
    transition: .2s ease;
  }
  .mt-nav-category .category-level-2.mt-active-category > ul {
    display: block !important;
  }
  .mt-nav-category .category-level-2.mt-active-category li {
    display: block !important;
  }
}
