@import "../variables";


.mt_editorial {
    box-sizing: border-box;
    display: block;
    position: relative;

    & * {
        box-sizing: border-box;
    }

    &__link {
        box-sizing: border-box;
        display: block;
        font-weight: 500;
        margin: 0 auto 48px;
        max-width: 1440px;
        padding: 0;
        position: relative;
        text-align: center;
        @media screen and (min-width: $breakpoint-sm) {
            margin-bottom: 60px;
        }
        @media screen and (min-width: $breakpoint-lg) {
            margin-bottom: 70px;
            padding: 0 24px;
        }
        &:hover {
            color: #212121;
            button {
                background-color: #1f1f1f;
                border-color: #1f1f1f;
                color: #fff;
                outline: none;
            }
        }
    }


    // ------------------------------------------------------------------
    // Images
    // ------------------------------------------------------------------
    &__imgs {

    }
    &__img {
        max-height: none;
        max-width: 100%;
        position: static;
        transform: none;
        width: 100%;
        @media screen and (min-width: $breakpoint-sm) {
            left: 24px;
            max-height: 90%;
            max-width: calc(33.33333% - 24px);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: bottom;
            z-index: 1;
        }
        &:last-child {
            display: none;
            @media screen and (min-width: $breakpoint-sm) {
                display: block;
                left: auto;
                right: 24px;
            }
        }
    }


    // ------------------------------------------------------------------
    // Copy
    // ------------------------------------------------------------------
    &__copy {
        align-content: center;
        align-items: center;
        background: #ddd;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        min-height: 0;
        padding: 24px;
        text-align: center;
        width: 100%;
        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;
            flex-wrap: wrap;
            min-height: 312px;
            padding: 48px;
            width: calc(33.33333% + 48px);
        }
        @media screen and (min-width: $breakpoint-lg) {
            min-height: 420px;
        }

        img {
            align-self: center;
            margin: 0 auto 16px;
            max-width: 100%;
            @media screen and (min-width: $breakpoint-sm) {
                margin: 0 auto 24px;
            }
        }

        p {
            color: black;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 24px;;
            @media screen and (min-width: $breakpoint-sm) {
                font-size: 18px;
            }
        }

        button {
            background: transparent;
            border: 2px solid #1f1f1f;
            border-radius: 4px;
            color: #1f1f1f;
            cursor: pointer;
            font: 700 14px/120% "Open Sans",sans-serif;
            padding: 12px 24px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.3s ease;
            user-select: none;
        }
    }

} // .mt_promo-group
