/* ===================================================== */
/* DEFAULT SLIDER STYLES
/* Edit at your own risk!
/* ===================================================== */
#MONETATE-ID {
  position: relative;
}

#MONETATE-ID li {
  list-style: none;
}

#MONETATE-ID [data-slider-mask] {
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: relative !important;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider-mask],
#MONETATE-ID[data-slider-wrapper="fade"] [data-slider-mask] {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

#MONETATE-ID [data-slider] {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider] {
  white-space: nowrap !important;
}

#MONETATE-ID [data-slide] {
  float: none;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slide] {
  display: inline-block !important;
  vertical-align: top;
  white-space: normal;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slide] {
  display: block !important;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide] {
  opacity: 0;
  position: absolute;
  top: 0;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide][data-slide-active] {
  opacity: 1;
  position: relative;
  z-index: 1;
}

#MONETATE-ID [data-pagination-slide],
#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  cursor: pointer;
  z-index: 1;
}

#MONETATE-ID [data-pagination-slide] * {
  pointer-events: none;
}

/* ===================================================== */
/* CUSTOM SLIDER STYES
/* ===================================================== */
#MONETATE-ID {
  text-align: center;
}

#MONETATE-ID .mt_slider__header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 0;
  text-align: left;
}

#MONETATE-ID .mt_slider__wrapper {
  border: 1px solid #d3d3d3;
  padding: 15px 20px;
}

#MONETATE-ID [data-slider-mask] {
  display: inline-block;
  width: calc(100%);
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  height: 400px !important;
}

#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 1px 7px 2px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  user-select: none;
}

#MONETATE-ID [data-prev-button] {
  left: 0;
}

#MONETATE-ID [data-prev-button] > i {
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  color: #d3d3d3;
  font-size: 42px;
  margin-left: -6px;
  padding: 4px 8px;
}

#MONETATE-ID [data-next-button] {
  right: 0;
}

#MONETATE-ID [data-next-button] > i {
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  color: #d3d3d3;
  font-size: 42px;
  margin-right: -6px;
  padding: 4px 8px;
}

#MONETATE-ID [disabled] {
  display: none;
}

#MONETATE-ID [data-pagination="thumbnails"] [data-pagination-slide] {
  background: none;
  border-radius: 0;
  height: auto;
  width: 40px;
}

#MONETATE-ID [data-pagination-slide] {
  background: #000;
  border-radius: 6px;
  display: inline-block;
  height: 12px;
  margin: 4px;
  opacity: 0.5;
  width: 12px;
}

#MONETATE-ID [data-pagination-slide][data-slide-active] {
  opacity: 1;
}

#MONETATE-ID [data-pagination*="dots"] [data-pagination-slide] {
  /* remove below for pagination numbers */
  text-indent: -9999px;
}

#MONETATE-ID [data-slide] > div {
  height: 100%;
  padding: 10px;
}

#MONETATE-ID [data-slide] img {
  max-width: 100%;
}

#MONETATE-ID [data-slide] a {
  text-decoration: none;
}

#MONETATE-ID .mt_slide__img img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  padding: 0 10px;
}

#MONETATE-ID .mt_slide__text {
  display: block;
  margin: 6px 0;
  padding: 0 10px;
  text-align: center;
}

#MONETATE-ID .mt_slide__title {
  color: #4d7c6e;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#MONETATE-ID .mt_slide__price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 17px;
}

#MONETATE-ID .mt_slide__price--reg {
  color: #333;
  font-weight: 400;
  text-decoration: line-through;
}

#MONETATE-ID .mt_slide__price--sale {
  color: #D60200;
}

#MONETATE-ID .mt_slide__price .noSale {
  display: none;
}

#MONETATE-ID [data-missing-keys*="alternate_price"] .mt_slide__price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#MONETATE-ID [data-missing-keys*="alternate_price"] .mt_slide__price--reg {
  visibility: hidden;
}

#MONETATE-ID [data-missing-keys*="alternate_price"] .mt_slide__price--sale {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

#MONETATE-ID [data-missing-keys*="alternate_price"] .mt_slide__price .noSale {
  display: inline;
}
