/* 2 Product Layout */
@media screen and (max-width: 1199px) {
  /* Inner Content Styling */
  .mt-row-banner {
    background: #eee;
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
  }

  .mt-row-banner img {
    width: 100%;
  }

  /* Update banner ID if selector changes, same for all below */
  #monetate_selectorHTML_8e46898f_0 {
    clear: both;
    display: block !important;
    margin: 20px;
    position: relative;
    width: 100%;
  }
}


@media screen and (max-width: 1199px) {
  #monetate_selectorHTML_8e46898f_0 {
    border-top: 1px solid #ddd;
    margin: 0 15px 20px;
    padding-top: 20px;
  }
  .plContent .productGallery #monetate_selectorHTML_8e46898f_0 + .galleryItem {
    border-right: 1px solid #ddd;
  }
  .plContent .productGallery #monetate_selectorHTML_8e46898f_0 + .galleryItem:before {
    margin-left: 15px !important;
    right: 0 !important;
  }
}



.mt-row-banner {




    // Visibility
    &-mobile {
        display: block;
        @media screen and (min-width: 730px) {
            display: none;
        }
    }

    &-tablet {
        display: none;
        @media screen and (min-width: 730px) {
            display: block;
        }
        @media screen and (min-width: 1200px) {
            display: none;
        }
    }

    &-desktop {
        display: none;
        @media screen and (min-width: 1200px) {
            display: block;
        }
    }
}
