/* 3 Product Layout */
@media screen and (min-width: 1200px) {
  /* Inner Content Styling */
  .mt-row-banner {
    background: #eee;
    box-sizing: border-box;
    padding: 10px;
  }
  .mt-row-banner img{
    width: 100%;
  }

  #monetate_selectorHTML_510ae15a_0 {
    clear: both;
    display: block !important;
    margin: 20px;
    width: 100%;
  }
}
