.mt-row-banner {
  box-sizing: border-box;
  clear: both;
  margin: auto;
  padding: 10px;
}

@media screen and (min-width: 730px) {
  .mt-row-banner {
    margin: 20px;
    width: 100%;
  }
}

/*
* Show for Mobile
*/
@media screen and (max-width: 729px) {
  .mt-row-banner-mobile {
    display: block;
  }
}

@media screen and (min-width: 730px) {
  .mt-row-banner-mobile {
    display: none;
  }
}

/*
* Show for Tablet
*/
@media screen and (max-width: 729px) {
  .mt-row-banner-tablet {
    display: none;
  }
}

@media screen and (min-width: 730px) and (max-width: 1199px) {
  .mt-row-banner-tablet {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .mt-row-banner-tablet {
    display: none;
  }
}

/*
* Show for Desktop
*/
@media screen and (max-width: 1199px) {
  .mt-row-banner-desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .mt-row-banner-desktop {
    display: block;
  }
}
