.mt-row-banner {
  box-sizing: border-box;
  clear: both;
  margin: auto;
  padding: 10px;
  @media screen and (min-width: 730px) {
    margin: 20px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    
  }
}

/*
* Show for Mobile
*/
.mt-row-banner-mobile {
  @media screen and (max-width: 729px) {
    display: block;
  }
  @media screen and (min-width: 730px) {
    display: none;
  }
}


/*
* Show for Tablet
*/
.mt-row-banner-tablet {
  @media screen and (max-width: 729px) {
    display: none;
  }
  @media screen and (min-width: 730px) and (max-width: 1199px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}


/*
* Show for Desktop
*/
.mt-row-banner-desktop {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
