/* Tooltip Styles Minified =========================*/
.tool-tip,
[data-tooltip] {
    cursor: pointer;
    position: relative;
}

.tool-tip:after,
.tool-tip:before,
[data-tooltip]:after,
[data-tooltip]:before {
    -moz-transform: translate3d(0,0,0);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0,0,0);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71,1.7,0.77,1.24);
    visibility: hidden;
}

.tool-tip:focus:after,
.tool-tip:focus:before,
.tool-tip:hover:after,
.tool-tip:hover:before,
[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
}

.tool-tip:before,
[data-tooltip]:before {
    background: transparent;
    border: 6px solid transparent;
    content: "";
    z-index: 1001;
}

.tool-tip:after,
[data-tooltip]:after {
    background-color: #000;
    background-color: hsla(0,0%,20%,0.9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 13px;
    line-height: 1.2;
    padding: 8px;
    width: 320px;
    z-index: 1000;
}

.tool-tip-top:after,
.tool-tip-top:before,
.tool-tip:after,
.tool-tip:before,
[data-tooltip]:after,
[data-tooltip]:before {
    bottom: 100%;
    left: 50%;
}

.tool-tip-top:before,
.tool-tip:before,
[data-tooltip]:before {
    border-top-color: #000;
    border-top-color: hsla(0,0%,20%,0.9);
    margin-bottom: -12px;
    margin-left: -6px;
}

.tool-tip-top:after,
.tool-tip:after,
[data-tooltip]:after {
    margin-left: -200px;
}

.tool-tip-top:focus:after,
.tool-tip-top:focus:before,
.tool-tip-top:hover:after,
.tool-tip-top:hover:before,
.tool-tip:focus:after,
.tool-tip:focus:before,
.tool-tip:hover:after,
.tool-tip:hover:before,
[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
    -moz-transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
}

.tool-tip-bottom:after,
.tool-tip-bottom:before {
    bottom: auto;
    left: 50%;
    top: 100%;
}

.tool-tip-bottom:before {
    border-bottom-color: #000;
    border-bottom-color: hsla(0,0%,20%,0.9);
    border-top-color: transparent;
    margin-bottom: 0;
    margin-top: -12px;
}

.tool-tip-bottom:focus:after,
.tool-tip-bottom:focus:before,
.tool-tip-bottom:hover:after,
.tool-tip-bottom:hover:before {
    -moz-transform: translateY(12px);
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
}

.tool-tip-left:before,
.tool-tip-right:before {
    top: 3px;
}

.tool-tip-left:after,
.tool-tip-right:after {
    margin-bottom: -16px;
    margin-left: 0;
}

body[data-brand=LTD] .l-topmessage {
    background-color: #CC051A;
}

body[data-brand=LTD] .l-topmessage .l-topmessage__text {
    color: #fff;
    line-height: 1;
}

body[data-brand=LTD] .l-topmessage {
    height: 100%;
}

.info-icon {
    height: 15px;
    margin: 0 0.2rem;
    width: 15px;
}

.promo--offer {
    font-size: 13px;
    font-weight: 600;
}

.promo--code {
    font-size: 13px;
    font-weight: 400;
}

.promo--code em {
    font-style: normal;
    font-weight: 600;
}

.promo--code .code-label,
.promo--code .exp-date {
    font-size: 10px;
}

.tool-tip-top:after,
.tool-tip:after,
[data-tooltip]:after {
    margin-left: -280px;
}
@media (min-width:320px) and (max-width:500px) {
    .tier-wrap {
        display: block;
    }

    .tier-no-wrap {
        display: inline;
    }
}
@media (min-width:320px) and (max-width:374px) {
    .promo--offer {
        font-size: 14px;
    }

    .promo--code {
        font-size: 14px;
    }

    .promo--code .code-label,
    .promo--code .exp-date {
        font-size: 12px;
    }
}
@media (min-width:375px) and (max-width:767px) {
    .promo--offer {
        font-size: 17px;
    }

    .promo--code {
        font-size: 14px;
    }

    .promo--code .code-label,
    .promo--code .exp-date {
        font-size: 12px;
    }
}
@media (min-width:768px) and (max-width:1023px) {
    .promo--offer {
        font-size: 20px;
    }

    .promo--code {
        font-size: 18px;
    }

    .promo--code .code-label,
    .promo--code .exp-date {
        font-size: 14px;
    }
}
@media (min-width:1024px) {
    .promo--offer {
        font-size: 20px;
    }

    .promo--code {
        font-size: 18px;
    }

    .promo--code .code-label,
    .promo--code .exp-date {
        font-size: 14px;
    }
}
