$breakpoint-sm: 640px;

/* ===================================================== */
/* Size Chart Button
/* ===================================================== */
button.step-content-size-chart {
    align-content: center;
    align-items: center;
    background-color: #fff !important;
    border: 1px solid #333 !important;
    color: #333 !important;
    cursor: pointer !important;
    display: inline-flex !important;
    float: left !important;
    font-family: "Trade Gothic", sans-serif !important;
    font-size: 1.38462rem !important;
    font-weight: 700 !important;
    height: 3.61538rem !important;
    justify-content: center;
    line-height: 1 !important;
    margin: 16px 0 50px 0 !important;
    min-width: 102px !important;
    padding: 0 !important;
    text-align: center !important;
    text-transform: capitalize !important;
    width: 43.75% !important;
    &::after {
        content: "" !important;
        display: none !important;
    }
}


/* ===================================================== */
/* Add to Cart
/* ===================================================== */
#buttonAddToBag {
    background-color: #333 !important;
    border: 1px solid transparent !important;
    color: #fefefe !important;
    cursor: pointer !important;
    display: block !important;
    font-family: "Trade Gothic", sans-serif !important;
    font-size: 5vw !important;
    font-weight: 700 !important;
    height: auto !important;
    letter-spacing: -0.005em !important;
    line-height: 1 !important;
    margin-bottom: 6.66667vw !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0.66154em !important;
    padding-left: 1.16923em !important;
    padding-right: 1.16923em !important;
    padding-top: 0.58462em !important;
    text-align: center !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    transition: background-color 0.25s ease-out, color 0.25s ease-out !important;
    vertical-align: middle !important;
    width: 85% !important;
    @media screen and (min-width: $breakpoint-sm) {
        font-size: 1.38462em !important;
        margin-bottom: 10px !important;
    }

    &::after {
        content: "" !important;
        display: inline !important;
        font-family: 'icomoon' !important;
        font-size: 11px !important;
        font-style: normal !important;
        font-variant: normal !important;
        font-weight: normal !important;
        line-height: 1 !important;
        margin-left: 1.54545em !important;
        speak: none !important;
        text-transform: none !important;
    }
}

#ecom-product-actions.product-actions .product-actions-secondary {
    @media screen and (min-width: $breakpoint-sm) {
        clear: both;
        display: inline-block !important;
    }
}


div.quantity {
    border-bottom: 1px solid #e4e4e4 !important;
    margin-bottom: 0 !important;
    @media screen and (min-width: $breakpoint-sm) {
        padding-bottom: 40px !important;
    }
}

#ecom-product-actions {
    border-top: none !important;
}
