#pdpMain > div[id*="monetate_selectorHTML"] {

    #BVRRWidgetID,
    .pdp_rel_rec_parent {
        @media screen and (min-width: 1025px) {
            border-top: none !important;
        }
    }
}

#BVRRWidgetID {
    border-top: 2px solid #E5E5E5 !important;
}

@media screen and (max-width: 1024px) {
    .product-detail-accordions .accordion-container:last-child {
        border-bottom: none !important;
    }
}
@media screen and (min-width: 1025px) {
    .pt_product-details #pdpaccordions {
        border-bottom: none !important;
        border-top: 2px solid #E5E5E5 !important;
    }
}
