$breakpoint-md: 62em;
$breakpoint-lg: 75em;

li.nav-item + div[id*="monetate_selectorHTML"],
div[id*="monetate_selectorHTML"] + li.nav-item,
div[id*="monetate_selectorHTML"] + div[id*="monetate_selectorHTML"] {
    @media screen and (min-width: $breakpoint-md) {
        margin-left: 16px;
        margin-left: 1rem;
    }
}
.nav-item a.nav-link + a.nav-link {
    @media screen and (min-width: $breakpoint-md) {
        margin-left: 0 !important;
    }
}

#MONETATE-ID {
    float: left;
    position: relative;
    @media screen and (max-width: $breakpoint-md - 1) {
        width: 100%;
    }
}

.mt_nav-link {
    margin: 0;
    @media screen and (max-width: $breakpoint-md - 1) {
        border-bottom: 1px solid #ddd;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    // Mobile
    &__mobile {
        clear: both;
        display: block;
        @media screen and (min-width: $breakpoint-md) {
            display: none;
        }

        &-link {
            color: #000;
            display: block;
            font-size: .875rem;
            padding: 1.25rem;
            &::after {
                border-color: transparent transparent transparent #000;
                border-style: solid;
                border-width: 7.5px 0 7.5px 7.5px;
                content: "";
                font-size: 4px;
                font-size: .25rem;
                height: 0;
                position: absolute;
                right: 24px;
                right: 1.5rem;
                width: 0;
            }
        }
    }

    // Desktop
    &__desktop {
        display: none;
        @media screen and (min-width: $breakpoint-md) {
            display: block;
        }

        &-link {
            color: #000;
            cursor: pointer;
            display: block;
            font-size: .875rem;
            line-height: 1.5em;
            outline: none;
            padding: 1.4rem 0;
            text-decoration: none !important;
            width: 100%;
            @media screen and (min-width: $breakpoint-lg) {
                font-size: 17px;
            }
            &:hover,
            &:focus,
            &:active {
                color: #ce1126;
            }
        }
    }


}
