.mt_iamroamans {
  text-align: center;
}

.mt_iamroamans .relative {
  position: relative;
}

.mt_iamroamans .margin-bottom-section {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .mt_iamroamans .margin-bottom-section {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .mt_iamroamans .margin-bottom-section {
    margin-bottom: 50px;
  }
}

.mt_iamroamans .uppercase {
  text-transform: uppercase;
}

.mt_iamroamans .mtb10 {
  margin: 10px 0;
}

.mt_iamroamans .mb15 {
  margin-bottom: 15px;
}

.mt_iamroamans .plr10 {
  padding: 0 10px;
}

.mt_iamroamans .z1 {
  z-index: 1;
}

.mt_iamroamans .block {
  display: block;
}

.mt_iamroamans .black {
  color: #000;
}

.mt_iamroamans .futura-book {
  font-family: "Futura LT W01 Book", sans-serif;
}

.mt_iamroamans .futura-med {
  font-family: "Futura LT W01 Medium", sans-serif;
}

.mt_iamroamans .fs50 {
  font-size: calc(26px + 24 * ((100vw - 320px) / 1660));
}

.mt_iamroamans .fs30 {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1660));
}

.mt_iamroamans .fs20 {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1660));
}

.mt_iamroamans .purple-rms {
  color: #961DCE;
}

.mt_iamroamans .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mt_iamroamans .flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.mt_iamroamans .justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mt_iamroamans .align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mt_iamroamans .btn-rms {
  background: #000;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.1em;
  line-height: 1;
  min-width: 175px;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .mt_iamroamans .btn-rms {
    min-width: 175px;
  }
}

.mt_iamroamans .btn-white {
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
}

@media screen and (max-width: 767px) {
  .mt_iamroamans .width100-mobile {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .mt_iamroamans .mobile-block {
    display: block;
  }
}

.mt_iamroamans ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.mt_iamroamans ul li {
  list-style: none;
}
