.prescriptionsContainer .btn_all-to-cart {
  display: block !important;
  width: 100% !important;
}

.prescriptionsContainer .add-to-cart_div {
  padding: 40px 10px !important;
}

.prescriptionsContainer .prescription-list .heading--tertiary {
  float: none !important;
  margin-bottom: 30px !important;
  padding-left: 10px !important;
}

.prescriptionsContainer .prescription {
  margin-top: 30px !important;
}

.prescriptionsContainer .prescription button.primary-btn.prescription_item_add-to-cart-btn {
  background: #fff !important;
  border: 2px solid #CC0000 !important;
  color: #CC0000 !important;
}

.prescriptionsContainer .prescription button.primary-btn.prescription_item_add-to-cart-btn:hover, .prescriptionsContainer .prescription button.primary-btn.prescription_item_add-to-cart-btn:focus, .prescriptionsContainer .prescription button.primary-btn.prescription_item_add-to-cart-btn:active {
  background: #CC0000 !important;
  color: #fff !important;
}
