{% set columns = 3 %}
{% set rows = 1 %}


{# CALCULATE MAX PRODUCTS TO RETURN BASED ON ROWS/COLUMNS #}
{% set maxProducts = columns * rows %}
{% set products = recommended_products | length %}

{# CALCULATE # OF PRODUCTS TO RETURN #}
{% if products < maxProducts %}
  {% set results = (products / columns) | round(0,'floor') | int %}
  {{ results * columns }}
  {% set fetch = results * columns %}
{% else %}
  {% set fetch = maxProducts %}
{% endif %}

<style>
body {margin:0; padding:0;}
</style>

<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="max-width: 640px;">
	<tr>
		<td align="center" valign="top" style="padding: 0 0 0 0;">
            {% for product in recommended_products[:fetch] %}
			<table width="33%" align="left" cellpadding="0" cellspacing="0" border="0" class="full-width" data-product-id="{{ product.id }}">
				<!-- IMAGE -->
				<tr>
					<td align="center" style="padding: 0 0 5px 0;">
						<a href="{{ product.link }}" target="_blank">
							<img src="{{ product.imageLink }}&$thumbnail300$" width="150" border="0" style="display: block; width: 100%; max-width: 600px; height: auto; outline: none;">
						</a>
					</td>
				</tr>
				<!-- TITLE -->
				<tr>
					<td align="center" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.2; color: #009bdd; -webkit-text-size-adjust: none; padding: 0 5px 0 10px;">
						<a href="{{ product.link }}" target="_blank" style="color: #009bdd; text-decoration: none; text-transform: capitalize;">
						{{ product.title }}
						</a>
					</td>
				</tr>
			</table>
            {% endfor %}
		</td>
	</tr>
</table>
