{% set columns = 3 %}
{% set rows = 2 %}


{# CALCULATE MAX PRODUCTS TO RETURN BASED ON ROWS/COLUMNS #}
{% set maxProducts = columns * rows %}
{% set products = recommended_products | length %}

{# CALCULATE # OF PRODUCTS TO RETURN #}
{% if products < maxProducts %}
  {% set results = (products / columns) | round(0,'floor') | int %}
  {{ results * columns }}
  {% set fetch = results * columns %}
{% else %}
  {% set fetch = maxProducts %}
{% endif %}

<style>
body {margin:0; padding:0;}
</style>

<div style="box-sizing:border-box; display:block; max-width:640px; margin:0 auto;">
    {% for product in recommended_products[:fetch] %}
	<div data-product-id="{{ product.id }}" style="display: inline-block; width: 33.33333%; float: left; clear: none; margin-bottom: 20px;">
		<!-- IMAGE -->
		<a href="{{ product.link }}" target="_blank" style="display: inline-block; padding-bottom: 5px;">
			<img src="{{ product.imageLink }}" border="0" style="display: block; max-width: 100%; height: auto; outline: none;">
		</a>
		<!-- TITLE -->
        <div style="text-align: center;">
            <a href="{{ product.link }}" target="_blank" style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.2; color: #000; -webkit-text-size-adjust: none; padding: 0 10px; text-decoration: none; text-transform: capitalize;">
    			{{ product.title }}
    		</a>
        </div>
	</div>
    {% endfor %}
</div>
