// .mt-image {
//   margin-top: 0.5rem;
//   max-height: 31.5rem;
//   max-width: 15.25rem;
//   min-height: 31.5rem;
//   min-width: 14.25rem;
//   z-index: 1;
// }


ul[aria-label="Accessories"] {
  div {
    display: none;
    position: relative;
    z-index: 1;
    @media screen and (min-width: 768px) {
      display: block;
      margin-top: 8px;
      max-height: 1200px;
      max-width: 228px;
      min-height: 600px;
      min-width: 228px;
    }
    @media screen and (min-width: 1025px) {
      max-height: 504px;
      min-height: 504px;
    }
  }

  area {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}



