#mt-promo-drawer {
  bottom: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  left: 50%;
  max-width: 1137px;
  opacity: 1;
  position: fixed;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer {
    z-index: 1010;
  }
}

#mt-promo-drawer.mt-expanded {
  background: #fff;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -11px 10px rgba(0, 0, 0, 0.2);
}

#mt-promo-drawer .mt_drawer-tab {
  position: relative;
}

#mt-promo-drawer .mt_drawer-tab__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #242424;
  border: none;
  border-radius: 15px 15px 0 0 !important;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 40px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  margin: 0;
  max-width: 100%;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  vertical-align: bottom;
  white-space: nowrap;
  width: 398px;
}

#mt-promo-drawer .mt_drawer-tab__title h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-top: 4px;
}

#mt-promo-drawer .mt_drawer-tab__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  width: 24px;
}

#mt-promo-drawer .mt_drawer-tab__icon svg {
  fill: #fff;
  height: 14px;
  width: 14px;
}

#mt-promo-drawer .mt_drawer-tab__close {
  display: none;
}

#mt-promo-drawer.mt-expanded .mt_drawer-tab__title {
  background: none;
  border-bottom: 1px solid #000000;
  width: calc(100% - 70px);
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer.mt-expanded .mt_drawer-tab__title {
    width: calc(100% - 130px);
  }
}

#mt-promo-drawer.mt-expanded .mt_drawer-tab__title h2 {
  color: #000;
}

#mt-promo-drawer.mt-expanded .mt_drawer-tab__icon {
  display: none;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#mt-promo-drawer.mt-expanded .mt_drawer-tab__close {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 42px;
  font-weight: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  padding: 0px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

#mt-promo-drawer .mt-body-wrapper {
  background: #fff;
  border-radius: 15px 15px 0 0;
  color: #1f1f1f;
  height: auto !important;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  width: 100%;
}

#mt-promo-drawer.mt-expanded .mt-body-wrapper {
  max-height: 600px;
}

#mt-promo-drawer [data-slider-wrapper] {
  margin: 0 auto;
  position: relative;
}

#mt-promo-drawer [data-slider-mask] {
  margin: 0 auto !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: relative !important;
  width: calc(100% - 60px);
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer [data-slider-mask] {
    width: calc(100% - 120px);
  }
}

#mt-promo-drawer li {
  list-style: none;
}

#mt-promo-drawer img {
  max-width: 100%;
  width: 100%;
}

#mt-promo-drawer [data-slider] {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer [data-slider] {
    padding-bottom: 40px;
  }
}

#mt-promo-drawer [data-slide] {
  float: none;
}

#mt-promo-drawer [data-slider-wrapper="horizontal"] [data-slider] {
  white-space: nowrap !important;
}

#mt-promo-drawer [data-slider-wrapper="horizontal"] [data-slide] {
  display: inline-block !important;
  vertical-align: top;
  white-space: normal;
}

#mt-promo-drawer [data-prev-button],
#mt-promo-drawer [data-next-button] {
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

#mt-promo-drawer [data-prev-button][disabled],
#mt-promo-drawer [data-next-button][disabled] {
  display: none;
}

#mt-promo-drawer [data-slider-wrapper="horizontal"] [data-slider-mask] {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

#mt-promo-drawer [data-prev-button],
#mt-promo-drawer [data-next-button] {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
  width: 40px;
}

#mt-promo-drawer [data-prev-button] svg,
#mt-promo-drawer [data-next-button] svg {
  fill: #000;
  height: 40px;
  width: 40px;
}

#mt-promo-drawer .mt-body-wrapper [data-prev-button],
#mt-promo-drawer .mt-body-wrapper [data-next-button] {
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-body-wrapper [data-prev-button],
  #mt-promo-drawer .mt-body-wrapper [data-next-button] {
    top: 40%;
  }
}

#mt-promo-drawer .mt-body-wrapper [data-prev-button] {
  left: 0;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-body-wrapper [data-prev-button] {
    left: 10px;
  }
}

#mt-promo-drawer .mt-body-wrapper [data-next-button] {
  right: 0;
}

@media screen and (min-width: 768px) {
  #mt-promo-drawer .mt-body-wrapper [data-next-button] {
    right: 10px;
  }
}

#mt-promo-drawer .mt-view-all-offers {
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

#mt-promo-drawer .mt-view-all-offers a {
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: underline;
}

#mt-promo-drawer .mt-promo {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  padding: 0 5px;
  text-transform: uppercase;
}

#mt-promo-drawer .mt-promo a {
  color: #1f1f1f;
  cursor: pointer;
  text-decoration: none;
}

#mt-promo-drawer .mt-promo__button {
  border: none;
  display: block;
  margin: 0 auto;
}
