/* ===================================================== */
/* Hero
/* ===================================================== */
.mt_hero {
  box-sizing: border-box;
  display: block;
  margin: 0 auto 32px;
  max-width: 1440px;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
  width: 100%;
}

@media screen and (min-width: 651px) {
  .mt_hero {
    margin: 0 auto 64px;
  }
}

.mt_hero * {
  box-sizing: border-box;
}

.mt_hero__img {
  display: block;
  width: 100%;
}

.mt_hero__img picture,
.mt_hero__img picture img {
  max-width: 100%;
}

.mt_hero__copy {
  display: block;
  padding: 8px;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .mt_hero__copy {
    width: auto !important;
  }
}

@media screen and (min-width: 651px) {
  .mt_hero__copy {
    bottom: 50%;
    max-width: 505px;
    padding: 16px;
    padding: 32px;
    position: absolute;
    text-align: left;
    top: auto;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@media screen and (min-width: 1025px) {
  .mt_hero__copy {
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (min-width: 1025px) {
  .mt_hero__copy.bottom {
    bottom: 32px;
    top: auto;
  }
}

@media screen and (min-width: 1025px) {
  .mt_hero__copy.top {
    bottom: auto;
    top: 32px;
  }
}

@media screen and (min-width: 651px) {
  .mt_hero__copy.left {
    left: 32px;
    right: auto;
  }
}

@media screen and (min-width: 651px) {
  .mt_hero__copy.right {
    left: auto;
    right: 32px;
  }
}

.mt_hero__copy img {
  display: block;
  margin-bottom: 24px;
  max-width: 100%;
  width: auto;
}

.mt_hero__heading {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

@media screen and (min-width: 651px) {
  .mt_hero__heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.mt_hero__subheading {
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: normal !important;
  margin-bottom: 16px !important;
}

@media screen and (min-width: 651px) {
  .mt_hero__subheading {
    font-size: 16px !important;
    margin-bottom: 24px !important;
  }
}

.mt_hero__cta a {
  border-bottom: 1px solid #003953;
  color: #003953;
  display: inline-block !important;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700 !important;
  line-height: normal;
  margin: .75em 1em .75em 0;
  text-decoration: none;
  text-transform: uppercase;
}

.mt_hero__cta a:hover, .mt_hero__cta a:focus {
  border-color: #0076bd;
  color: #0076bd;
}

.mt_hero__cta a:visited {
  color: #003953;
}

.mt_hero__button {
  background: transparent;
  border: 2px solid #003953;
  border-color: #1f1f1f;
  border-radius: 4px;
  color: #003953;
  color: #1f1f1f;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  transition: all .3s ease 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mt_hero.white-box {
  color: #1f1f1f;
}

@media screen and (min-width: 651px) {
  .mt_hero.white-box .mt_hero__copy {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.mt_hero.white-box .mt_hero__heading,
.mt_hero.white-box .mt_hero__subheading {
  color: #1f1f1f;
}

.mt_hero.white-box .mt_hero__cta a {
  border-color: #003953;
  color: #003953;
}

.mt_hero.white-box .mt_hero__cta a:visited {
  color: #003953;
}

.mt_hero.white-box .mt_hero__cta a:hover, .mt_hero.white-box .mt_hero__cta a:focus {
  border-color: #0076bd;
  color: #0076bd;
}

.mt_hero.white-box .mt_hero__button {
  background: transparent;
  border: 2px solid #1f1f1f;
  color: #1f1f1f;
}

.mt_hero.white-box:hover .mt_hero__button {
  background: #1f1f1f;
  border: 2px solid #1f1f1f;
  color: #fff;
}
