.accordion.accLongDesc .tab-content-ipim {
  font-size: 0 !important;
}

.accordion.accLongDesc .tab-content-ipim h2 {
  display: none !important;
}

.accordion.accLongDesc .tab-content-ipim h2:nth-child(2) {
  display: block !important;
}

.accordion.accLongDesc .tab-content-ipim ul {
  font-size: 13px !important;
}
