/* ===================================================== */
/* DEFAULT SLIDER STYLES
/* Edit at your own risk!
/* ===================================================== */
#MONETATE-ID {
  position: relative;
}

#MONETATE-ID li {
  list-style: none;
}

#MONETATE-ID [data-slider-mask] {
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: relative !important;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider-mask],
#MONETATE-ID[data-slider-wrapper="fade"] [data-slider-mask] {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

#MONETATE-ID [data-slider] {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider] {
  white-space: nowrap !important;
}

#MONETATE-ID [data-slide] {
  float: none;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slide] {
  display: inline-block !important;
  vertical-align: top;
  white-space: normal;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slide] {
  display: block !important;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide] {
  opacity: 0;
  position: absolute;
  top: 0;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide][data-slide-active] {
  opacity: 1;
  position: relative;
  z-index: 1;
}

#MONETATE-ID [data-pagination-slide],
#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  cursor: pointer;
  z-index: 1;
}

#MONETATE-ID [data-pagination-slide] * {
  pointer-events: none;
}

/* ===================================================== */
/* CUSTOM SLIDER STYES
/* ===================================================== */
#MONETATE-ID {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 50px;
  text-align: center;
}

#MONETATE-ID [data-slider-mask] {
  display: inline-block;
  width: calc(100% - 84px);
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  height: 400px !important;
}

#MONETATE-ID [data-slide] > div {
  height: 100%;
  padding: 0 5px;
}

#MONETATE-ID [data-slide] img {
  max-height: 100%;
}

#MONETATE-ID [data-slide] a {
  text-decoration: none;
}

#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: #000;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 25px;
  height: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  user-select: none;
  width: 32px;
}

#MONETATE-ID [data-prev-button] svg,
#MONETATE-ID [data-next-button] svg {
  height: 20px;
  width: 20px;
}

#MONETATE-ID [data-prev-button] {
  left: 10px;
}

#MONETATE-ID [data-next-button] {
  right: 10px;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-prev-button] {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-next-button] {
  bottom: 0;
  left: 50%;
  right: auto;
  top: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#MONETATE-ID [data-pagination="thumbnails"] [data-pagination-slide] {
  background: none;
  border-radius: 0;
  height: auto;
  width: 40px;
}

#MONETATE-ID [disabled] {
  opacity: 0.5;
}

#MONETATE-ID [data-pagination-slide] {
  background: #000;
  border-radius: 6px;
  display: inline-block;
  height: 12px;
  margin: 4px;
  opacity: 0.5;
  width: 12px;
}

#MONETATE-ID [data-pagination-slide][data-slide-active] {
  opacity: 1;
}

#MONETATE-ID [data-pagination*="dots"] [data-pagination-slide] {
  /* remove below for pagination numbers */
  text-indent: -9999px;
}

#MONETATE-ID .mt-slide {
  color: #43494F;
  font-size: 12px;
  line-height: 16px;
}

#MONETATE-ID .mt-slide__img {
  height: 0;
  margin-bottom: 12px;
  padding-bottom: 150%;
  position: relative;
}

#MONETATE-ID .mt-slide__img::after {
  background-image: -webkit-linear-gradient(315deg, #D8D8D8, #F5F5F5);
  background-image: linear-gradient(135deg, #D8D8D8, #F5F5F5);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

#MONETATE-ID .mt-slide__details-brand {
  color: #43494F;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: uppercase;
}

#MONETATE-ID .mt-slide__details-title {
  color: #43494F;
  margin-bottom: 8px;
}

#MONETATE-ID .mt-slide__price--reg {
  color: #999;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: line-through;
}

#MONETATE-ID .mt-slide__price--sale {
  color: #2AA1AF;
  font-weight: 600;
  margin-left: 4px;
  margin-right: 4px;
}

#MONETATE-ID [data-missing-keys="salePrice"] .mt-slide__price--reg {
  color: #2AA1AF;
  font-weight: 600;
  text-decoration: none;
}
