#searchToggle {
    span.cae-svg-wrap {
        width: 100px !important;
    }
    span.cae-svg.cae-search {
        margin-right: 9px !important;
    }
    button.button-unstyled.cae-search-button::before {
        content: "Search";
        left: -32px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
