.mt_top-banner {
    background: #182f6e;
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
    text-align: center;

    p {
        font-family: latobold, arial, sans-serif;
        margin: 0;
    }
}
