.mt_top-banner {
  background: #F04D98;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
}

.mt_top-banner p {
  font-family: "Gilroy-SemiBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}
