/* ADD HEADING */
.fancybox-inner .modal-content::before {
  color: #009fe3;
  content: "Log in to see your pricing!";
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
  position: relative;
}
