.mt_index-banner {
  display: block;
  margin-left: -16px;
  margin-right: -16px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .mt_index-banner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.mt_index-banner__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .mt_index-banner__inner {
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

.mt_index-banner__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  line-height: 20px;
  line-height: 1.25rem;
  min-height: 135px;
  padding: 16px 16px 12px 16px;
  width: 50%;
}

@media screen and (min-width: 480px) {
  .mt_index-banner__content {
    min-height: 180px;
  }
}

@media screen and (min-width: 768px) {
  .mt_index-banner__content {
    line-height: 24px;
    line-height: 1.5rem;
    min-height: 222px;
    padding: 16px 24px;
  }
}

.mt_index-banner__heading {
  color: #141414;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  line-height: 1.25rem;
  margin-bottom: 8px;
  text-transform: none;
}

.mt_index-banner__body {
  color: #141414;
  display: none;
}

@media screen and (min-width: 480px) {
  .mt_index-banner__body {
    display: block;
  }
}

.mt_index-banner__cta {
  color: #141414;
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin-top: auto;
  pointer-events: all;
  text-decoration: underline;
}

.mt_index-banner__img {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.mt_index-banner__img picture {
  height: 100%;
  position: relative;
  width: 100%;
}

.mt_index-banner__img img {
  -o-object-fit: cover;
  -o-object-position: top center;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  width: 100%;
}
