$breakpoint-md: 651px;
$breakpoint-lg: 1025px;


.mt_hero {
    box-sizing: border-box;
    display: block;
    margin: 0 auto 32px;
    max-width: 1440px;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
        margin: 0 auto 64px;
    }

    & * {
        box-sizing: border-box;
    }


    // ==================================================================
    // .mt_hero__img
    // ==================================================================
    &__img {
        display: block;
        width: 100%;
        picture,
        picture img {
            max-width: 100%;
        }
    }




    // ==================================================================
    // .mt_hero__copy
    // ==================================================================
    &__copy {
        display: block;
        padding: 8px;
        position: relative;
        text-align: center;
        @media screen and (min-width: $breakpoint-md) {
            bottom: 50%;
            max-width: 505px;
            padding: 16px;
            padding: 32px;
            position: absolute;
            text-align: left;
            top: auto;
            transform: translateY(50%);
            width: auto;
        }
        @media screen and (min-width: $breakpoint-lg) {
            bottom: 32px;
            transform: none;
            width: 275px;
        }

        &.bottom-left {
            @media screen and (min-width: $breakpoint-md) {
                left: 32px;
                right: auto;
            }
        }
        &.bottom-right {
            @media screen and (min-width: $breakpoint-md) {
                left: auto;
                right: 32px;
            }
        }

        img {
            display: block;
            margin-bottom: 24px;
            max-width: 100%;
            width: auto;
        }
    }




    // ==================================================================
    // .mt_hero__heading
    // ==================================================================
    &__heading {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 16px;
        @media screen and (min-width: $breakpoint-md) {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }




    // ==================================================================
    // .mt_hero__subheading
    // ==================================================================
    &__subheading {
        font-family: "Open Sans", sans-serif;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: normal !important;
        margin-bottom: 16px !important;
        @media screen and (min-width: $breakpoint-md) {
            font-size: 16px !important;
            margin-bottom: 10px !important;
        }
    }




    // ==================================================================
    // .mt_hero__cta
    // ==================================================================
    &__cta {
        a {
            border-bottom: 1px solid #003953;
            color: #003953;
            display: inline-block !important;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 700 !important;
            line-height: normal;
            margin: .75em 1em .75em 0;
            text-decoration: none;
            text-transform: uppercase;
            &:hover,
            &:focus {
                border-color: #0076bd;
                color: #0076bd;
            }
            &:visited {
                color: #003953;
            }
        }
    }


    // ==================================================================
    // .mt_hero__button
    // ==================================================================
    &__button {
        background: transparent;
        border: 2px solid #003953;
        border-color: #1f1f1f;
        border-radius: 4px;
        color: #003953;
        color: #1f1f1f;
        cursor: pointer;
        display: inline-block;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 120%;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        touch-action: manipulation;
        transition: all .3s ease 0s;
        user-select: none;
    }




    // ==================================================================
    // White box
    // ==================================================================
    &.white-box {
        color: #1f1f1f;

        // ------------------------------------------------------------------
        // Copy Box
        // ------------------------------------------------------------------
        .mt_hero__copy {
            @media screen and (min-width: $breakpoint-md) {
                background-color: #fff;
            }
        }

        .mt_hero__heading,
        .mt_hero__subheading {
            color: #1f1f1f;
        }


        // ------------------------------------------------------------------
        // CTA
        // ------------------------------------------------------------------
        .mt_hero__cta {
            a {
                border-color: #003953;
                color: #003953;
                &:visited {
                    color: #003953;
                }
                &:hover,
                &:focus {
                    border-color: #0076bd;
                    color: #0076bd;
                }

            }
        }


        // ------------------------------------------------------------------
        // Button
        // ------------------------------------------------------------------
        .mt_hero__button {
            background: transparent;
            border: 2px solid #1f1f1f;
            color: #1f1f1f;
        }
        &:hover {
            .mt_hero__button {
                background: #1f1f1f;
                border: 2px solid #1f1f1f;
                color: #fff;
            }
        }
    }


} // .mt_hero
