.mt_video {



    &__container {
        display: block;
        margin: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0;
        position: relative;
        width: 100%;
        @media screen and (min-width: 768px) {
            padding-right: 20px;
        }
        @media screen and (min-width: 1025px) {
            padding-right: 0;
        }
    }

    &__responsive {
        display: block;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        width: 100%;

        iframe {
            bottom: 0;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }


}



.c-product__styled-with__outer-wrap.immersive-col__left {
  display: flex !important;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: inline-flex !important;
  }

  & > * {
      width: 100%;
  }

  #c-product__styled-with {
      order: -1;
  }
}
