

// div.mega-menu li.level0 div[id*="monetate_"] {
// 
//   @media screen and (min-width: 1045px) {
//     display: block;
//     float: right;
//     margin-top: 20px;
//     max-width: 75%;
//   }
// }

ul.two-column-same-size-img {
  display: none;
  @media screen and (min-width: 1045px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    float: right;
    margin-top: 20px;
    max-width: 75%;
  }
  li {
    width: 100%;
    &:first-child {
      margin-right: 12px;
    }
    
    img {
      width: 100%;
    }
    
    .uppercase {
      text-transform: uppercase;
    }
    
    .align-right {
      text-align: right;
    }
    .align-left {
      text-align: left;
    }
  }
} 

