/**
* DEFAULT SLIDER STYLES
* Edit at your own risk!
*/
#MONETATE-ID {
  clear: both;
  position: relative;
}

#MONETATE-ID [data-slider-mask] {
  margin: 0!important;
  overflow: hidden!important;
  padding: 0!important;
  position: relative!important;
}

#MONETATE-ID li {
  list-style: none;
}

#MONETATE-ID [data-slider] {
  display: block;
  margin: 0!important;
  padding: 0!important;
}

#MONETATE-ID [data-slide] {
  float: none;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider] {
  white-space: nowrap!important;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slide] {
  display: inline-block!important;
  vertical-align: top;
  white-space: normal;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slide] {
  display: block!important;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide] {
  opacity: 0;
  position: absolute;
  top: 0;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide][data-slide-active] {
  opacity: 1;
  position: relative;
  z-index: 1;
}

#MONETATE-ID [data-pagination-slide],
#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button]{
  cursor: pointer;
  z-index: 1;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  touch-action: pan-x;
}
#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider-mask],
#MONETATE-ID[data-slider-wrapper="fade"] [data-slider-mask] {
  touch-action: pan-y;
}

#MONETATE-ID [data-pagination-slide] * {
  pointer-events: none;
}

/** ----END DEFAULT STYLES---- */


/**
* CUSTOM SLIDER STYLING
*/
#MONETATE-ID [data-pagination="thumbnails"] [data-pagination-slide] {
  background: none;
  border-radius: 0;
  height: auto;
  width: 40px;
}

#MONETATE-ID [disabled] {
  opacity: 0.5;
}

#MONETATE-ID [data-pagination-slide] {
  /* background: #D6D6D6; */
  background: #a9a9a9;
  border-radius: 6px;
  display: inline-block;
  height: 12px;
  margin: 4px;
  opacity: 0.5;
  width: 12px;
}

#MONETATE-ID [data-pagination-slide][data-slide-active] {
  background-color: #869791;
  opacity: 1;
}

#MONETATE-ID [data-slide] > div {
  height: 100%;
  padding: 3px;
}


#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  background: none;
  background-color: white;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display:none;
  font-size: 28px;
  font-weight: bold;
  height: 23px;
  line-height: 22px;
  outline: none;
  padding: 0;
  position: absolute;
  /*top: 45%;*/
  top: 35%;
  user-select: none;
  width: 23px;
  z-index: 1;
}

#MONETATE-ID [data-prev-button] {
  left: -30px;
}

#MONETATE-ID [data-next-button] {
  right: -30px;
}


#MONETATE-ID[data-slider-wrapper="vertical"] [data-prev-button] {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-next-button]{
  bottom: 0;
  left: 50%;
  right: auto;
  top: auto;
  transform: translateX(-50%);
}

#MONETATE-ID [data-slider-mask] {
  display: inline-block;
  margin: 0 auto !important;
  width: 100%;
  width: calc(100% - 40px);
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  height: 400px!important;
}

#MONETATE-ID [data-slide] {
    text-align: left;
    width: 150px !important; /* Width can not be calculated during setup due to it being inserted into a hidden div */
}

#MONETATE-ID [data-slide] > div {
    padding: 10px;
}

#MONETATE-ID [data-slide] img {
  max-height: 100%;
  width: 100%;
}

#MONETATE-ID [data-slide] a {
  text-decoration: none;
}

#MONETATE-ID [data-pagination*="dots"] {
  margin: 0;
  text-align: center;
}

#MONETATE-ID [data-pagination*="dots"] [data-pagination-slide] {
  /* remove below for pagination numbers */
  text-indent: -9999px;
}


#MONETATE-ID {
    border-top: 1px solid #eee;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    @media screen and (min-width: 400px) {
        margin: 0 40px;
    }
    @media (min-width: 800px) {
        margin: 0 auto;
        padding-top: 5px;
    }
}

#MONETATE-ID .mt-title {
  color: #333;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

#MONETATE-ID .mt-name {
  color: #a1b4da;
  display: block;
  font-family: arial,sans-serif;
  font-size: 0.8em;
  line-height: 18px;
  margin: 4px 0 0;
  min-height: 36px;
}

#MONETATE-ID .mt-price {
  color: #333;
  font-size: 0.8em;
  font-weight: bold;
}

#MONETATE-ID > div:nth-child(3) > ul > li,
#MONETATE-ID > div:nth-child(3) > ul > li:hover {background: none;border:none}
#MONETATE-ID > div:nth-child(3) > ul > li:last-child {border:none}
