#monetate_selectorBanner_45ab12c2_00 {
  display: block;
}

@media screen and (min-width: 1025px) {
  #monetate_selectorBanner_45ab12c2_00 {
    display: none;
  }
}

#monetate_selectorBanner_f1bc458e_00 {
  display: none;
}

@media screen and (min-width: 1025px) {
  #monetate_selectorBanner_f1bc458e_00 {
    display: block;
  }
}
