.mt_nav-banner {
  background: #000;
  color: #fff;
  display: block;
  position: relative;
}

.mt_nav-banner__link {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 0;
  text-align: center;
}

.pinHeader .mt_nav-banner {
  opacity: 0.9;
}
