/* ===================================================== */
/* DEFAULT SLIDER STYLES
/* Edit at your own risk!
/* ===================================================== */
#MONETATE-ID {
    position: relative;

    li {
        list-style: none;
    }

    // ==================================================================
    // Slider Mask
    // ==================================================================
    [data-slider-mask] {
        margin: 0 !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: relative !important;
    }
    &[data-slider-wrapper="horizontal"] [data-slider-mask],
    &[data-slider-wrapper="fade"] [data-slider-mask] {
        touch-action: pan-y;
    }
    &[data-slider-wrapper="vertical"] [data-slider-mask] {
        touch-action: pan-x;
    }



    // ==================================================================
    // Slider
    // ==================================================================
    [data-slider] {
        display: block;
        margin: 0 !important;
        padding: 0 !important;
    }
    &[data-slider-wrapper="horizontal"] [data-slider] {
        white-space: nowrap !important;
    }



    // ==================================================================
    // Slide
    // ==================================================================
    [data-slide] {
        float: none;
    }
    &[data-slider-wrapper="horizontal"] [data-slide] {
        display: inline-block !important;
        vertical-align: top;
        white-space: normal;
    }
    &[data-slider-wrapper="vertical"] [data-slide] {
        display: block !important;
    }
    &[data-slider-wrapper="fade"] [data-slide] {
        opacity: 0;
        position: absolute;
        top: 0;
    }
    &[data-slider-wrapper="fade"] [data-slide][data-slide-active] {
        opacity: 1;
        position: relative;
        z-index: 1;
    }



    // ==================================================================
    // Buttons / Pagination
    // ==================================================================
    [data-pagination-slide],
    [data-prev-button],
    [data-next-button]{
        cursor: pointer;
        z-index: 1;
    }

    [data-pagination-slide] * {
        pointer-events: none;
    }

} // MONETATE-ID




/* ===================================================== */
/* CUSTOM SLIDER STYES
/* ===================================================== */
#MONETATE-ID {
    background: #f2f1f3;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1260px;
    text-align: center;
    width: 100%;


    // ==================================================================
    // Slider Mask
    // ==================================================================
    [data-slider-mask] {
        display: inline-block;
        width: calc(100% - 96px);
    }
    &[data-slider-wrapper="vertical"] [data-slider-mask] {
        height: 400px!important;
    }


    // ==================================================================
    // Slider
    // ==================================================================
    [data-slider] {
        display: inline-flex;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            display: block;
        }
    }

    // ==================================================================
    // Slide
    // ==================================================================
    [data-slide] {
        > div {
            height: 100%;
            padding: 10px;
        }
        img {
            max-width: 100%;
        }
        a {
            text-decoration: none;
        }
    }



    // ==================================================================
    // Buttons
    // ==================================================================
    [data-prev-button],
    [data-next-button] {
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        background: none;
        border: none;
        color: #000;
        font-size: 25px;
        opacity: 0.5;
        padding: 0;
        position: absolute;
        top: 45%;
        user-select: none;
        &[disabled] {
            opacity: 0.5;
        }
    }
    [data-prev-button] {
        left: 10px;
    }
    [data-next-button] {
        right: 10px;
    }
    &[data-slider-wrapper="vertical"] [data-prev-button] {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    &[data-slider-wrapper="vertical"] [data-next-button] {
        bottom: 0;
        left: 50%;
        right: auto;
        top: auto;
        transform: translateX(-50%);
    }


    // ==================================================================
    // Pagination
    // ==================================================================
    [data-pagination="thumbnails"] [data-pagination-slide] {
        background: none;
        border-radius: 0;
        height: auto;
        width: 40px;
    }

    [disabled] {
        opacity: 0.5;
    }

    [data-pagination-slide] {
        background: #000;
        border-radius: 6px;
        display: inline-block;
        height: 12px;
        margin: 4px;
        opacity: 0.5;
        width: 12px;
        &[data-slide-active] {
            opacity: 1;
        }
    }
    [data-pagination*="dots"] [data-pagination-slide] {
        /* remove below for pagination numbers */
        text-indent: -9999px;
    }


    // ==================================================================
    // Slider Container Template
    // ==================================================================
    .mt_slider {
        &__container {
            margin: 10px auto 0;
            padding-bottom: 15px;
        }
        &__header {
            display: block;
            padding-bottom: 20px;
            padding-top: 45px;
            text-align: center;
            text-transform: uppercase;
        }
        &__wrapper {

        }
    }


    // ==================================================================
    // Slide Template
    // ==================================================================
    .mt_slide {
        align-content: stretch;
        align-items: stretch;
        color: #000;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            display: block;
        }
        &:hover {
            color: #000;
            .mt_slide__title,
            .mt_slide__price {
                color: #000;
            }
        }

        &__inner {
            align-content: stretch;
            align-items: stretch;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                display: block;
            }
        }

        &__img {
            border: 3px solid #eee;
            font-size: 0;
            line-height: 0;
            img {

            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            @media screen and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                display: block;
            }
        }
        &__title {
            font-family: Lato,sans-serif;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1.5px;
            line-height: 16px;
            margin: 20px 0 0;
            text-transform: uppercase;
            &:hover {
                color: #63c7c5 !important;
            }

            @media screen and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                min-height: 48px;
            }
        }

        &__price {
            font-size: 12px;
            letter-spacing: 1.5px;
            margin-top: 10px;
            &--reg {

            }
            &--sale {
                display: none;
            }
        }

        &__add-to-cart {
            background: #63c7c5;
            border: none;
            color: #fff;
            cursor: pointer;
            display: block;
            font-family: Lato, sans-serif;
            font-weight: bold;
            margin-top: 20px;
            padding: 8px 0;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
        }
    }



}
