.mt-countdown {
  background: #C22B2C;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  max-width: 1225px;
  padding: 6px;
  position: relative;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 737px) {
  .mt-countdown {
    padding: 12px;
  }
}

.mt-countdown p {
  color: #fff;
  display: block;
  font-size: 14px;
  margin: 0;
}

@media screen and (min-width: 737px) {
  .mt-countdown p {
    font-size: 18px;
  }
}

.mt-countdown__message {
  display: inline-block;
}

.mt-countdown__divider {
  display: none;
}

@media screen and (min-width: 737px) {
  .mt-countdown__divider {
    display: inline-block;
    font-size: 18px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.mt-countdown__timer {
  display: inline-block;
}
