/* Override some existing CSS */
@media screen and (max-width: 767px) {
    .product__listing div.js-productItem:nth-child(2n) {
        margin-right: 6.666666666666667%;
    }
    .product__listing div.js-productItem:nth-child(2n + 1) {
        clear: none;
        margin-right: 0;
    }
    .product__listing div.js-productItem:nth-child(2n + 2) {
        clear: both;
    }
}

@media screen and (min-width: 768px) and (max-width: 1239px) {
    .product__listing div.js-productItem:nth-child(3n) {
        margin-right: 4.178366091723492%;
    }
    .product__listing div.js-productItem:nth-child(3n + 1) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1240px) {
    .product__listing div.js-productItem:nth-child(4n) {
        margin-right: 2.1229050279329607%;
    }
    .product__listing div.js-productItem:nth-child(4n + 1) {
        margin-right: 0;
    }
}

#MONETATE-ID {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    [mt-data-grid] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mt-merch-item {
        clear: none !important;
        margin-bottom: 20px;
        margin-right: 6.666666666666667%;
        margin-top: 20px;
        width: 46.666666666666664%;
        @media screen and (max-width: 767px) {
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(2n + 1) {
                clear: both;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1239px) {
            margin-right: 4.178366091723492%;
            width: 30.548%;
            &:nth-child(3) {
                margin-right: 0;
            }
            &:nth-child(n + 4) {
                display: none;
            }
        }
        @media screen and (min-width: 1240px) {
            margin-right: 2.1229050279329607%;
            width: 23.35195530726257%;
            &:nth-child(4n + 4) {
                margin-right: 0;
            }
        }
    }


    .mt-temperature {
        .Ambient::after {
            content: "A";
        }
        .Chilled::after {
            content: "C";
        }
        .Frozen::after {
            content: "F";
        }
    }

    [data-monetate-show] {
        display: none;
    }
    [data-monetate-show="TRUE"],
    [data-monetate-show="1"] {
        display: inline;
    }
}
