/* Override some existing CSS */
@media screen and (max-width: 767px) {
  .product__listing div.js-productItem:nth-child(2n) {
    margin-right: 6.666666666666667%;
  }
  .product__listing div.js-productItem:nth-child(2n + 1) {
    clear: none;
    margin-right: 0;
  }
  .product__listing div.js-productItem:nth-child(2n + 2) {
    clear: both;
  }
}

@media screen and (min-width: 768px) and (max-width: 1239px) {
  .product__listing div.js-productItem:nth-child(3n) {
    margin-right: 4.178366091723492%;
  }
  .product__listing div.js-productItem:nth-child(3n + 1) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1240px) {
  .product__listing div.js-productItem:nth-child(4n) {
    margin-right: 2.1229050279329607%;
  }
  .product__listing div.js-productItem:nth-child(4n + 1) {
    margin-right: 0;
  }
}

#MONETATE-ID {
  box-sizing: border-box;
}

#MONETATE-ID * {
  box-sizing: border-box;
}

#MONETATE-ID [mt-data-grid] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#MONETATE-ID .mt-merch-item {
  clear: none !important;
  margin-bottom: 20px;
  margin-right: 6.666666666666667%;
  margin-top: 20px;
  width: 46.666666666666664%;
}

@media screen and (max-width: 767px) {
  #MONETATE-ID .mt-merch-item:nth-child(2n) {
    margin-right: 0;
  }
  #MONETATE-ID .mt-merch-item:nth-child(2n + 1) {
    clear: both;
  }
}

@media screen and (min-width: 768px) and (max-width: 1239px) {
  #MONETATE-ID .mt-merch-item {
    margin-right: 4.178366091723492%;
    width: 30.548%;
  }
  #MONETATE-ID .mt-merch-item:nth-child(3) {
    margin-right: 0;
  }
  #MONETATE-ID .mt-merch-item:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 1240px) {
  #MONETATE-ID .mt-merch-item {
    margin-right: 2.1229050279329607%;
    width: 23.35195530726257%;
  }
  #MONETATE-ID .mt-merch-item:nth-child(4n + 4) {
    margin-right: 0;
  }
}

#MONETATE-ID .mt-temperature .Ambient::after {
  content: "A";
}

#MONETATE-ID .mt-temperature .Chilled::after {
  content: "C";
}

#MONETATE-ID .mt-temperature .Frozen::after {
  content: "F";
}

#MONETATE-ID [data-monetate-show] {
  display: none;
}

#MONETATE-ID [data-monetate-show="TRUE"],
#MONETATE-ID [data-monetate-show="1"] {
  display: inline;
}
