._pendo-resource-center-sandbox-module-code-container {
    height: 342px;
    overflow-y: scroll;
}

.mt-release-notes {
    padding: 20px;

    h2 {

    }
    h3 {
        margin-bottom: 0.5rem;
        text-decoration: underline;
    }
    h4 {

    }

    p {
        margin-bottom: 0.5rem;
    }
    ul {
        margin-top: 4px;
    }
    li {
        line-height: 1.2;
    }
}
