/* effects for .bx-campaign-10770 */
/* custom css .bx-campaign-10770 */
/************************************ BRAND STYLE STRUCTURE Do not remove or edit.************************************/
/*** LOGO STYLING ***/
/* Logo setting - MUST use img and not :first-child. <img> gets wrapped in <h2> in custom code */
.bxc.bx-custom.bx-brand-10770 .bx-row-image-logo img,
.bxc.bx-custom.bx-campaign-10770 .bx-row-image-logo img {
    height: 13px;
    width: auto;
}

/*** CSS BLEED ***/
/* Fix CSS Bleed on a tag line height issue */
.bx-custom.bx-brand-10770 a,
.bx-custom.bx-campaign-10770 a {
    overflow: visible;
}

/*** TIMER STYLING ***/
/* Units */
.bx-custom.bx-brand-10770 .bx-timer-units,
.bx-custom.bx-campaign-10770 .bx-timer-units {
    display: inline-block;
    min-width: 1.3em;
    position: relative;
    margin: 0 0.1em;
}

.bx-custom.bx-brand-10770 .bx-timer-units:after,
.bx-custom.bx-campaign-10770 .bx-timer-units:after {
    /* Units Styling */
    background-color: transparent;
    color: inherit;
    bottom: -1.5em;
    font-size: 10px;
    /* Units Structure */
    display: block;
    position: absolute;
    padding: 0px 0.25em;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    line-height: 1;
}

.bx-custom.bx-brand-10770 .bx-timer-units.bx-timer-days:after, .bx-custom.bx-campaign-10770 .bx-timer-units.bx-timer-days:after {
    content: 'D';
}

.bx-custom.bx-brand-10770 .bx-timer-units.bx-timer-hours:after, .bx-custom.bx-campaign-10770 .bx-timer-units.bx-timer-hours:after {
    content: 'H';
}

.bx-custom.bx-brand-10770 .bx-timer-units.bx-timer-minutes:after, .bx-custom.bx-campaign-10770 .bx-timer-units.bx-timer-minutes:after {
    content: 'M';
}

.bx-custom.bx-brand-10770 .bx-timer-units.bx-timer-seconds:after, .bx-custom.bx-campaign-10770 .bx-timer-units.bx-timer-seconds:after {
    content: 'S';
}

/*** CHECKBOX STYLING ***/
/* Default */
.bx-custom.bx-brand-10770 .bx-row-checkbox .bx-checkelem+.bx-checkshape, .bx-custom.bx-campaign-10770 .bx-row-checkbox .bx-checkelem+.bx-checkshape {
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #fceff3;
}

/* Focus */
.bx-custom.bx-brand-10770 .bx-row-checkbox .bx-checkelem:checked+.bx-checkshape, .bx-custom.bx-campaign-10770 .bx-row-checkbox .bx-checkelem:checked+.bx-checkshape {
    stroke: #fceff3;
    background-color: transparent;
    text-shadow: none;
}

/* Structure*/
.bx-custom.bx-brand-10770 .bx-row-checkbox .bx-checkelem+.bx-checkshape, .bx-custom.bx-campaign-10770 .bx-row-checkbox .bx-checkelem+.bx-checkshape {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.bx-custom.bx-brand-10770 .bx-row-checkbox .bx-checkelem:focus+.bx-checkshape, .bx-custom.bx-campaign-10770 .bx-row-checkbox .bx-checkelem:focus+.bx-checkshape {
    box-shadow: none;
}

/*** RADIO BUTTON STYLING ****/
/* Default */
.bx-custom.bx-brand-10770 .bx-row-radio .bx-radioelem+.bx-radioshape, .bx-custom.bx-campaign-10770 .bx-row-radio .bx-radioelem+.bx-radioshape {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #fceff3;
}

/* Focus */
.bx-custom.bx-brand-10770 .bx-row-radio .bx-radioelem:checked+.bx-radioshape, .bx-custom.bx-campaign-10770 .bx-row-radio .bx-radioelem:checked+.bx-radioshape {
    fill: #fceff3;
    background-color: transparent;
    text-shadow: none;
}

/* Structure */
.bx-custom.bx-brand-10770 .bx-row-radio .bx-radioelem+.bx-radioshape, .bx-custom.bx-campaign-10770 .bx-row-radio .bx-radioelem+.bx-radioshape {
    border-radius: 50%;
    margin-right: 6px;
    width: 18px;
    height: 18px;
}

.bx-custom.bx-brand-10770 .bx-row-radio .bx-radioelem:focus+.bx-radioshape, .bx-custom.bx-campaign-10770 .bx-row-radio .bx-radioelem:focus+.bx-radioshape {
    box-shadow: none;
}

/*** VALIDATION STYLING ***/
/* Checkbox & Radio */
.bx-custom.bx-brand-10770 .bx-row-checkbox .bx-vtext, .bx-custom.bx-campaign-10770 .bx-row-checkbox .bx-vtext, .bx-custom.bx-brand-10770 .bx-row-radio .bx-vtext, .bx-custom.bx-campaign-10770 .bx-row-radio .bx-vtext {
    font-family: "FuturaPTMedium", sans-serif;
    color: #fceff3;
    font-size: 11px;
    letter-spacing: .075em;
    text-transform: uppercase;
    width: 300%;
    bottom: -1.5em;
    max-width: 320px;
    padding: 0px;
}

/* Input */
.bx-custom.bx-brand-10770 .bx-row-input.bx-row-validation .bx-vtext, .bx-custom.bx-campaign-10770 .bx-row-input.bx-row-validation .bx-vtext {
    font-family: "FuturaPTMedium", sans-serif;
    color: #fceff3;
    font-size: 11px;
    letter-spacing: .075em;
    text-transform: uppercase;
    width: 100%;
    bottom: -0.3em;
    padding: 1px;
    position: relative;
}

.bx-custom.bx-brand-10770 .bx-input:focus:invalid, .bx-custom.bx-campaign-10770 .bx-input:focus:invalid {
    border: 1px solid #fceff3;
}

/*** INPUT SHRINK TO TOP FIX - PLEASE DON'T EDIT ***/
.bx-custom.bx-brand-10770 .bx-row-placeholder-top:not(.bx-row-input-label) input, .bx-custom.bx-campaign-10770 .bx-row-placeholder-top:not(.bx-row-input-label) input {
    min-height: 3em !important;
}

.bx-base.bx-custom.bx-brand-10770 .bx-row-input.bx-row-input-label .bx-placeholder, .bx-base.bx-custom.bx-campaign-10770 .bx-row-input.bx-row-input-label .bx-placeholder {
    opacity: 1;
    position: relative;
    left: 0;
}

/*** INPUT PERSISTENT LABEL STYLING ***/
.bx-custom.bx-brand-10770 .bx-row-input.bx-row-input-label .bx-placeholder .bx-placeholdertext, .bx-custom.bx-campaign-10770 .bx-row-input.bx-row-input-label .bx-placeholder .bx-placeholdertext {
    position: absolute;
    bottom: calc(100% + 1em);
    left: 0;
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 11px;
    color: #fceff3;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .075em;
}

/*** BUTTON STYLING ***/
.bx-custom.bx-brand-10770 .bx-button, .bx-custom.bx-campaign-10770 .bx-button {
    max-height: none;
}

/* KS Loading Animation */
@-ms-keyframes bx-anim-10770-blip {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes bx-anim-10770-blip {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bx-anim-10770-blip {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes bx-anim-10770-imageFadeTwo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bx-anim-10770-imageFadeTwo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes bx-anim-10770-imageFadeThree {
    0% {
        opacity: 0
    }

    16% {
        opacity: 1
    }

    32% {
        opacity: 1
    }

    48% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes bx-anim-10770-imageFadeThree {
    0% {
        opacity: 0
    }

    16% {
        opacity: 1
    }

    32% {
        opacity: 1
    }

    48% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

/*** WEB ACCESSIBILITY ***/
/* Focus Styles */
/*Note: These rules can be broken out to create separate focus sytles for different elementsEx: Text inputs could change background-color on focus, but radio buttons could recieve a styled outline*/
.bxc.bx-campaign-10770.bx-ally form:focus, .bxc.bx-campaign-10770.bx-ally a:focus, .bxc.bx-campaign-10770.bx-ally button:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-submit .bx-button:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=""]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=email]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=password]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=tel]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=text]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=url]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=color]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=date]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=datetime]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=datetime-local]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=month]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=time]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=week]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=number]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-input [type=search]:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-textarea .bx-textarea:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-select .bx-selectelem:focus, .bxc.bx-campaign-10770.bx-ally .bx-row-checkbox .bx-checkelem:focus+.bx-checkshape, .bxc.bx-campaign-10770.bx-ally .bx-row-radio .bx-radioelem:focus+.bx-radioshape, .bxc.bx-brand-10770.bx-ally form:focus, .bxc.bx-brand-10770.bx-ally a:focus, .bxc.bx-brand-10770.bx-ally button:focus, .bxc.bx-brand-10770.bx-ally .bx-row-submit .bx-button:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=""]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=email]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=password]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=tel]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=text]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=url]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=color]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=date]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=datetime]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=datetime-local]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=month]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=time]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=week]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=number]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-input [type=search]:focus, .bxc.bx-brand-10770.bx-ally .bx-row-textarea .bx-textarea:focus, .bxc.bx-brand-10770.bx-ally .bx-row-select .bx-selectelem:focus, .bxc.bx-brand-10770.bx-ally .bx-row-checkbox .bx-checkelem:focus+.bx-checkshape, .bxc.bx-brand-10770.bx-ally .bx-row-radio .bx-radioelem:focus+.bx-radioshape {
    outline: 3px solid blue;
}

/*** STRUCTURE ***/
.bx-custom.bx-brand-10770 .bx-row, .bx-custom.bx-brand-10770 .bx-group, .bx-custom.bx-campaign-10770 .bx-row, .bx-custom.bx-campaign-10770 .bx-group {
    max-width: 100%;
}

.bx-custom.bx-brand-10770 .bx-row>a, .bx-custom.bx-campaign-10770 .bx-row>a {
    display: block;
}

.bx-custom.bx-brand-10770 .bx-row-image, .bx-custom.bx-campaign-10770 .bx-row-image, .bx-custom.bx-brand-10770 .bx-row-line-logo, .bx-custom.bx-campaign-10770 .bx-row-line-logo {
    padding: 0;
}

/*** VX ADDITIONS ***/
/* Firefox Fix */
.bx-custom.bx-brand-10770 .bx-el::-moz-placeholder, .bx-custom.bx-campaign-10770 .bx-el::-moz-placeholder {
    opacity: 1;
}

/* Font Smoothing Fix */
.bx-custom.bx-brand-10770 .bx-creative, .bx-custom.bx-campaign-10770 .bx-creative {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    -moz-text-size-adjust: none;
}

/* Fix for lingering buttons */
.bx-custom.bx-brand-10770 a, .bx-custom.bx-campaign-10770 a {
    transition: none;
}

.bxc.bx-brand-10770 .bx-creative>*:first-child {
    width: 400px;
}

.bxc.bx-brand-10770 .bx-creative:before {
    min-height: 480px;
}

.bxc.bx-brand-10770 .bx-creative {
    background-color: #223628;
}

.bxc.bx-brand-10770 .bx-shroud {
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    background-color: white;
}

.bxc.bx-brand-10770 .bx-close {
    width: 25px;
    top: 5px;
    right: 5px;
    height: 25px;
    padding: 0;
    border-radius: 0;
    stroke: #fceff3;
    stroke-width: 1px;
}

.bxc.bx-brand-10770 .bx-row-image-logo {
    padding: 0;
    width: auto;
}

.bxc.bx-brand-10770 .bx-row-image-logo>*:first-child {
    background-color: transparent;
    background-size: contain;
    padding: 0;
}

.bxc.bx-brand-10770 .bx-row-text-subheadline>*:first-child {
    font-size: 28px;
    padding: 0;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    text-transform: lowercase;
}

.bxc.bx-brand-10770 .bx-row-text-subheadline {
    padding: 0;
}

.bxc.bx-brand-10770 .bx-row-text-headline>*:first-child {
    font-size: 52px;
    padding: 0;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    letter-spacing: -0.01em;
    text-transform: lowercase;
}

.bxc.bx-brand-10770 .bx-row-text-headline {
    padding: 0;
}

.bxc.bx-brand-10770 .bx-row-text-default>*:first-child {
    font-size: 14px;
    padding: 0;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10770 .bx-row-text-default {
    padding: 0;
}

.bxc.bx-brand-10770 .bx-row-timer-default {
    width: 170px;
    padding: 0;
}

.bxc.bx-brand-10770 .bx-row-timer-default>*:first-child {
    padding: 0;
    border-style: none;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-coupon-default {
    width: auto;
    padding: 0;
}

.bxc.bx-brand-10770 .bx-row-coupon-default>*:first-child {
    padding: 0;
    border-style: none;
    text-transform: lowercase;
    border-width: 1px;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    letter-spacing: .02em;
}

.bxc.bx-brand-10770 .bx-row-checkbox-GDPR {
    padding: 0;
    width: auto;
    text-align: left;
}

.bxc.bx-brand-10770 .bx-row-checkbox-GDPR>*:first-child {
    line-height: 1.35;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10770 .bx-row-checkbox-default {
    padding: 0;
    text-align: left;
}

.bxc.bx-brand-10770 .bx-row-checkbox-default>*:first-child {
    padding: 0;
    line-height: 1.35;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10770 .bx-row-radio-default {
    padding: 0;
    text-align: left;
}

.bxc.bx-brand-10770 .bx-row-radio-default>*:first-child {
    padding: 0;
    line-height: 1.35;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-el {
    font-size: 11px;
    text-align: left;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #fceff3;
    border-width: 1px;
    padding: 18px 16px 14px 16px;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-el:focus {
    border-color: #fceff3;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-el::-webkit-input-placeholder {
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-el:-moz-placeholder {
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-el::-moz-placeholder {
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-el:-ms-input-placeholder {
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-el {
    padding: 18px 16px 14px 16px;
}

.bxc.bx-brand-10770 .bx-row-input-default {
    padding: 5px;
    text-align: left;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-component-placeholder {
    top: -17px;
    left: 0px;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-component-placeholder>*:first-child {
    font-size: 11px;
    color: #fceff3;
    font-family: FuturaPTMedium;
    font-weight: normal;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10770 .bx-row-input-default .bx-component-placeholder>*:first-child {
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-label .bx-el {
    padding: 18px 16px 14px 16px;
    font-size: 11px;
    text-align: left;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #fceff3;
    border-width: 1px;
    line-height: 1.2;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10770 .bx-row-input-label .bx-el:focus {
    border-color: #fceff3;
    background-color: transparent;
    border-style: solid;
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-label .bx-el::-webkit-input-placeholder {
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-label .bx-el:-moz-placeholder {
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-label .bx-el::-moz-placeholder {
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-label .bx-el:-ms-input-placeholder {
    color: #fceff3;
}

.bxc.bx-brand-10770 .bx-row-input-label .bx-el {
    padding: 18px 16px 14px 16px;
}

.bxc.bx-brand-10770 .bx-row-input-label {
    padding: 15px 5px 5px 5px;
}

.bxc.bx-brand-10770 .bx-row-input-label .bx-component-placeholder {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.bxc.bx-brand-10770 .bx-row-input-label .bx-component-placeholder>*:first-child {
    font-family: Fabriga, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: black;
    letter-spacing: 1.67px;
    text-transform: uppercase;
}

.bxc.bx-brand-10770 .bx-row-submit-default>*:first-child {
    padding: 18px 16px 14px 16px;
    font-size: 11px;
    background-color: transparent;
    border-style: solid;
    border-color: #fceff3;
    border-width: 1px;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10770 .bx-row-submit-default>*:first-child:hover {
    border-color: #fc7ca0;
    background-color: #fc7ca0;
    color: #223628;
}

.bxc.bx-brand-10770 .bx-row-submit-default {
    padding: 5px;
}

.bxc.bx-brand-10770 .bx-row-submit-no>*:first-child {
    background-color: transparent;
    padding: 0;
    font-size: 11px;
    color: #fceff3;
    border-style: solid;
    border-color: #fceff3;
    border-width: 0 0 3px;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10770 .bx-row-submit-no>*:first-child:hover {
    border-color: #fc7ca0;
}

.bxc.bx-brand-10770 .bx-row-submit-no {
    padding: 5px;
    width: auto;
}

.bxc.bx-brand-10770 .bx-row-text-link {
    padding: 0;
    width: auto;
}

.bxc.bx-brand-10770 .bx-row-text-link>*:first-child {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    font-family: FuturaPTMedium, Arial, sans-serif;
    line-height: 1.35;
    color: #fceff3;
    letter-spacing: .02em;
    text-transform: lowercase;
}

.bxc.bx-brand-10770 .bx-row-text-link>*:first-child:hover {
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.bxc.bx-brand-10770 .bx-row-text-sosumi {
    width: auto;
    padding: 0;
}

.bxc.bx-brand-10770 .bx-row-text-sosumi>*:first-child {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    font-family: FuturaPTMedium, Arial, sans-serif;
    line-height: 1.35;
    color: #fceff3;
    letter-spacing: .02em;
    text-transform: lowercase;
}

.bxc.bx-brand-10770 .bx-row-image-spinner {
    width: auto;
    ;
    padding: 0px 10px;
}

.bxc.bx-brand-10770 .bx-row-image-spinner>*:first-child {
    animation-name: bx-anim-10770-blip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: .05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    height: 13px;
    width: auto;
}

.bxc.bx-brand-10770 .bx-row-image-spinner {
    width: auto;
    padding: 0px 10px;
}

.bxc.bx-brand-10770 .bx-row-image-spinner>*:first-child {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    animation-name: bx-anim-10770-blip;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 13px;
    width: auto;
}

.bxc.bx-brand-10770 .bx-row-image-spinner {
    width: auto;
    ;
    padding: 0px 10px;
}

.bxc.bx-brand-10770 .bx-row-image-spinner>*:first-child {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    animation-name: bx-anim-10770-blip;
    animation-duration: 2s;
    animation-delay: .15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: auto;
    height: 13px;
}

/* effects for .bx-campaign-10880 */
/* custom css .bx-campaign-10880 */
/************************************ BRAND STYLE STRUCTURE Do not remove or edit.************************************/
/*** LOGO STYLING ***/
/* Logo setting - MUST use img and not :first-child. <img> gets wrapped in <h2> in custom code */
.bxc.bx-custom.bx-brand-10880 .bx-row-image-logo img, .bxc.bx-custom.bx-campaign-10880 .bx-row-image-logo img {
    height: 13px;
    width: auto;
}

/*** CSS BLEED ***/
/* Fix CSS Bleed on a tag line height issue */
.bx-custom.bx-brand-10880 a, .bx-custom.bx-campaign-10880 a {
    overflow: visible;
}

/*** TIMER STYLING ***/
/* Units */
.bx-custom.bx-brand-10880 .bx-timer-units, .bx-custom.bx-campaign-10880 .bx-timer-units {
    display: inline-block;
    min-width: 1.3em;
    position: relative;
    margin: 0 0.1em;
}

.bx-custom.bx-brand-10880 .bx-timer-units:after, .bx-custom.bx-campaign-10880 .bx-timer-units:after {
    /* Units Styling */
    background-color: transparent;
    color: inherit;
    bottom: -1.5em;
    font-size: 10px;
    /* Units Structure */
    display: block;
    position: absolute;
    padding: 0px 0.25em;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    line-height: 1;
}

.bx-custom.bx-brand-10880 .bx-timer-units.bx-timer-days:after, .bx-custom.bx-campaign-10880 .bx-timer-units.bx-timer-days:after {
    content: 'D';
}

.bx-custom.bx-brand-10880 .bx-timer-units.bx-timer-hours:after, .bx-custom.bx-campaign-10880 .bx-timer-units.bx-timer-hours:after {
    content: 'H';
}

.bx-custom.bx-brand-10880 .bx-timer-units.bx-timer-minutes:after, .bx-custom.bx-campaign-10880 .bx-timer-units.bx-timer-minutes:after {
    content: 'M';
}

.bx-custom.bx-brand-10880 .bx-timer-units.bx-timer-seconds:after, .bx-custom.bx-campaign-10880 .bx-timer-units.bx-timer-seconds:after {
    content: 'S';
}

/*** CHECKBOX STYLING ***/
/* Default */
.bx-custom.bx-brand-10880 .bx-row-checkbox .bx-checkelem+.bx-checkshape, .bx-custom.bx-campaign-10880 .bx-row-checkbox .bx-checkelem+.bx-checkshape {
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #223628;
}

/* Focus */
.bx-custom.bx-brand-10880 .bx-row-checkbox .bx-checkelem:checked+.bx-checkshape, .bx-custom.bx-campaign-10880 .bx-row-checkbox .bx-checkelem:checked+.bx-checkshape {
    stroke: #223628;
    background-color: transparent;
    text-shadow: none;
}

/* Structure */
.bx-custom.bx-brand-10880 .bx-row-checkbox .bx-checkelem+.bx-checkshape, .bx-custom.bx-campaign-10880 .bx-row-checkbox .bx-checkelem+.bx-checkshape {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.bx-custom.bx-brand-10880 .bx-row-checkbox .bx-checkelem:focus+.bx-checkshape, .bx-custom.bx-campaign-10880 .bx-row-checkbox .bx-checkelem:focus+.bx-checkshape {
    box-shadow: none;
}

/*** RADIO BUTTON STYLING ****/
/* Default */
.bx-custom.bx-brand-10880 .bx-row-radio .bx-radioelem+.bx-radioshape, .bx-custom.bx-campaign-10880 .bx-row-radio .bx-radioelem+.bx-radioshape {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #223628;
}

/* Focus */
.bx-custom.bx-brand-10880 .bx-row-radio .bx-radioelem:checked+.bx-radioshape, .bx-custom.bx-campaign-10880 .bx-row-radio .bx-radioelem:checked+.bx-radioshape {
    fill: #223628;
    background-color: transparent;
    text-shadow: none;
}

/* Structure */
.bx-custom.bx-brand-10880 .bx-row-radio .bx-radioelem+.bx-radioshape, .bx-custom.bx-campaign-10880 .bx-row-radio .bx-radioelem+.bx-radioshape {
    border-radius: 50%;
    margin-right: 6px;
    width: 18px;
    height: 18px;
}

.bx-custom.bx-brand-10880 .bx-row-radio .bx-radioelem:focus+.bx-radioshape, .bx-custom.bx-campaign-10880 .bx-row-radio .bx-radioelem:focus+.bx-radioshape {
    box-shadow: none;
}

/*** VALIDATION STYLING ***/
/* Checkbox & Radio */
.bx-custom.bx-brand-10880 .bx-row-checkbox .bx-vtext, .bx-custom.bx-campaign-10880 .bx-row-checkbox .bx-vtext, .bx-custom.bx-brand-10880 .bx-row-radio .bx-vtext, .bx-custom.bx-campaign-10880 .bx-row-radio .bx-vtext {
    font-family: "FuturaPTMedium", sans-serif;
    color: #fc7ca0;
    font-size: 11px;
    letter-spacing: .075em;
    text-transform: uppercase;
    width: 300%;
    bottom: -1.5em;
    max-width: 320px;
    padding: 0px;
}

/* Input */
.bx-custom.bx-brand-10880 .bx-row-input.bx-row-validation .bx-vtext, .bx-custom.bx-campaign-10880 .bx-row-input.bx-row-validation .bx-vtext {
    font-family: "FuturaPTMedium", sans-serif;
    color: #fc7ca0;
    font-size: 11px;
    letter-spacing: .075em;
    text-transform: uppercase;
    width: 100%;
    bottom: -0.3em;
    padding: 1px;
    position: relative;
}

.bx-custom.bx-brand-10880 .bx-input:focus:invalid, .bx-custom.bx-campaign-10880 .bx-input:focus:invalid {
    border: 1px solid #DF1D63;
}

/*** INPUT SHRINK TO TOP FIX - PLEASE DON'T EDIT ***/
.bx-custom.bx-brand-10880 .bx-row-placeholder-top:not(.bx-row-input-label) input, .bx-custom.bx-campaign-10880 .bx-row-placeholder-top:not(.bx-row-input-label) input {
    min-height: 3em !important;
}

.bx-base.bx-custom.bx-brand-10880 .bx-row-input.bx-row-input-label .bx-placeholder, .bx-base.bx-custom.bx-campaign-10880 .bx-row-input.bx-row-input-label .bx-placeholder {
    opacity: 1;
    position: relative;
    left: 0;
}

/*** INPUT PERSISTENT LABEL STYLING ***/
.bx-custom.bx-brand-10880 .bx-row-input.bx-row-input-label .bx-placeholder .bx-placeholdertext, .bx-custom.bx-campaign-10880 .bx-row-input.bx-row-input-label .bx-placeholder .bx-placeholdertext {
    position: absolute;
    bottom: calc(100% + 1em);
    left: 0;
    font-family: "FuturaPTMedium", sans-serif;
    font-size: 11px;
    color: #223628;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .075em;
}

/*** BUTTON STYLING ***/
.bx-custom.bx-brand-10880 .bx-button, .bx-custom.bx-campaign-10880 .bx-button {
    max-height: none;
}

/* KS Loading Animation */
@-ms-keyframes bx-anim-10880-blip {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100%;

        {
        opacity: 0;
    }
}

@-webkit-keyframes bx-anim-10880-blip {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100%;

        {
        opacity: 0;
    }
}

@keyframes bx-anim-10880-blip {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    100%;

        {
        opacity: 0;
    }
}

@-webkit-keyframes bx-anim-10880-imageFadeTwo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bx-anim-10880-imageFadeTwo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes bx-anim-10880-imageFadeThree {
    0% {
        opacity: 0
    }

    16% {
        opacity: 1
    }

    32% {
        opacity: 1
    }

    48% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes bx-anim-10880-imageFadeThree {
    0% {
        opacity: 0
    }

    16% {
        opacity: 1
    }

    32% {
        opacity: 1
    }

    48% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

/*** WEB ACCESSIBILITY ***/
/* Focus Styles */
/*Note: These rules can be broken out to create separate focus sytles for different elementsEx: Text inputs could change background-color on focus, but radio buttons could recieve a styled outline*/
.bxc.bx-campaign-10880.bx-ally form:focus, .bxc.bx-campaign-10880.bx-ally a:focus, .bxc.bx-campaign-10880.bx-ally button:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-submit .bx-button:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=""]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=email]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=password]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=tel]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=text]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=url]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=color]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=date]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=datetime]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=datetime-local]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=month]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=time]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=week]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=number]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-input [type=search]:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-textarea .bx-textarea:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-select .bx-selectelem:focus, .bxc.bx-campaign-10880.bx-ally .bx-row-checkbox .bx-checkelem:focus+.bx-checkshape, .bxc.bx-campaign-10880.bx-ally .bx-row-radio .bx-radioelem:focus+.bx-radioshape, .bxc.bx-brand-10880.bx-ally form:focus, .bxc.bx-brand-10880.bx-ally a:focus, .bxc.bx-brand-10880.bx-ally button:focus, .bxc.bx-brand-10880.bx-ally .bx-row-submit .bx-button:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=""]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=email]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=password]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=tel]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=text]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=url]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=color]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=date]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=datetime]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=datetime-local]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=month]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=time]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=week]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=number]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-input [type=search]:focus, .bxc.bx-brand-10880.bx-ally .bx-row-textarea .bx-textarea:focus, .bxc.bx-brand-10880.bx-ally .bx-row-select .bx-selectelem:focus, .bxc.bx-brand-10880.bx-ally .bx-row-checkbox .bx-checkelem:focus+.bx-checkshape, .bxc.bx-brand-10880.bx-ally .bx-row-radio .bx-radioelem:focus+.bx-radioshape {
    outline: 3px solid #223628;
}

/*** STRUCTURE ***/
.bx-custom.bx-brand-10880 .bx-row, .bx-custom.bx-brand-10880 .bx-group, .bx-custom.bx-campaign-10880 .bx-row, .bx-custom.bx-campaign-10880 .bx-group {
    max-width: 100%;
}

.bx-custom.bx-brand-10880 .bx-row>a, .bx-custom.bx-campaign-10880 .bx-row>a {
    display: block;
}

.bx-custom.bx-brand-10880 .bx-row-image, .bx-custom.bx-campaign-10880 .bx-row-image, .bx-custom.bx-brand-10880 .bx-row-line-logo, .bx-custom.bx-campaign-10880 .bx-row-line-logo {
    padding: 0;
}

/*** VX ADDITIONS ***/
/* Firefox Fix */
.bx-custom.bx-brand-10880 .bx-el::-moz-placeholder, .bx-custom.bx-campaign-10880 .bx-el::-moz-placeholder {
    opacity: 1;
}

/* Font Smoothing Fix */
.bx-custom.bx-brand-10880 .bx-creative, .bx-custom.bx-campaign-10880 .bx-creative {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    -moz-text-size-adjust: none;
}

/* Fix for lingering buttons */
.bx-custom.bx-brand-10880 a, .bx-custom.bx-campaign-10880 a {
    transition: none;
}

.bxc.bx-brand-10880 .bx-creative>*:first-child {
    width: 400px;
}

.bxc.bx-brand-10880 .bx-creative:before {
    min-height: 480px;
}

.bxc.bx-brand-10880 .bx-creative {
    background-color: #f8baca;
}

.bxc.bx-brand-10880 .bx-shroud {
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    opacity: .9;
    background-color: white;
}

.bxc.bx-brand-10880 .bx-close {
    width: 25px;
    top: 5px;
    right: 5px;
    height: 25px;
    padding: 0;
    border-radius: 0;
    stroke: #223628;
    stroke-width: 1px;
}

.bxc.bx-brand-10880 .bx-row-image-logo {
    padding: 0;
    width: auto;
}

.bxc.bx-brand-10880 .bx-row-image-logo>*:first-child {
    background-color: transparent;
    background-size: contain;
    padding: 0;
}

.bxc.bx-brand-10880 .bx-row-text-subheadline>*:first-child {
    font-size: 28px;
    padding: 0;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
    text-transform: lowercase;
}

.bxc.bx-brand-10880 .bx-row-text-subheadline {
    padding: 0;
}

.bxc.bx-brand-10880 .bx-row-text-headline>*:first-child {
    font-size: 52px;
    padding: 0;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
    letter-spacing: -0.01em;
    text-transform: lowercase;
}

.bxc.bx-brand-10880 .bx-row-text-headline {
    padding: 0;
}

.bxc.bx-brand-10880 .bx-row-text-default>*:first-child {
    font-size: 14px;
    padding: 0;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10880 .bx-row-text-default {
    padding: 0;
}

.bxc.bx-brand-10880 .bx-row-timer-default {
    width: 170px;
    padding: 0;
}

.bxc.bx-brand-10880 .bx-row-timer-default>*:first-child {
    padding: 0;
    border-style: none;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-coupon-default {
    width: auto;
    padding: 0;
}

.bxc.bx-brand-10880 .bx-row-coupon-default>*:first-child {
    padding: 0;
    border-style: none;
    text-transform: lowercase;
    border-width: 1px;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
    letter-spacing: .02em;
}

.bxc.bx-brand-10880 .bx-row-checkbox-GDPR {
    padding: 0;
    width: auto;
    text-align: left;
}

.bxc.bx-brand-10880 .bx-row-checkbox-GDPR>*:first-child {
    line-height: 1.35;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10880 .bx-row-checkbox-default {
    padding: 0;
    text-align: left;
}

.bxc.bx-brand-10880 .bx-row-checkbox-default>*:first-child {
    padding: 0;
    line-height: 1.35;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10880 .bx-row-radio-default {
    padding: 0;
    text-align: left;
}

.bxc.bx-brand-10880 .bx-row-radio-default>*:first-child {
    padding: 0;
    line-height: 1.35;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-el {
    font-size: 11px;
    text-align: left;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #223628;
    border-width: 1px;
    padding: 18px 16px 14px 16px;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-el:focus {
    border-color: #223628;
    background-color: #f8baca;
    border-style: solid;
    border-width: 1px;
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-el::-webkit-input-placeholder {
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-el:-moz-placeholder {
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-el::-moz-placeholder {
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-el:-ms-input-placeholder {
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-el {
    padding: 18px 16px 14px 16px;
}

.bxc.bx-brand-10880 .bx-row-input-default {
    padding: 5px;
    text-align: left;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-component-placeholder {
    top: -17px;
    left: 0px;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-component-placeholder>*:first-child {
    font-size: 11px;
    color: #223628;
    font-family: FuturaPTMedium;
    font-weight: normal;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10880 .bx-row-input-default .bx-component-placeholder>*:first-child {
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-label .bx-el {
    padding: 18px 16px 14px 16px;
    font-size: 11px;
    text-align: left;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: #223628;
    border-width: 1px;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #223628;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10880 .bx-row-input-label .bx-el:focus {
    border-color: #223628;
    background-color: #f8baca;
    border-style: solid;
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-label .bx-el::-webkit-input-placeholder {
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-label .bx-el:-moz-placeholder {
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-label .bx-el::-moz-placeholder {
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-label .bx-el:-ms-input-placeholder {
    color: #223628;
}

.bxc.bx-brand-10880 .bx-row-input-label .bx-el {
    padding: 18px 16px 14px 16px;
}

.bxc.bx-brand-10880 .bx-row-input-label {
    padding: 15px 5px 5px 5px;
}

.bxc.bx-brand-10880 .bx-row-input-label .bx-component-placeholder {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.bxc.bx-brand-10880 .bx-row-input-label .bx-component-placeholder>*:first-child {
    font-family: Fabriga, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: black;
    letter-spacing: 1.67px;
    text-transform: uppercase;
}

.bxc.bx-brand-10880 .bx-row-submit-default>*:first-child {
    padding: 19px 16px 16px;
    font-size: 11px;
    background-color: #223628;
    border-style: solid;
    border-color: #223628;
    border-width: 1px;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    color: #fceff3;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10880 .bx-row-submit-default>*:first-child:hover {
    color: #fceff3;
    border-color: #fc7ca0;
    background-color: #fc7ca0;
}

.bxc.bx-brand-10880 .bx-row-submit-default {
    padding: 5px;
}

.bxc.bx-brand-10880 .bx-row-submit-no>*:first-child {
    background-color: transparent;
    padding: 0;
    font-size: 11px;
    color: #223628;
    border-style: solid;
    border-color: #223628;
    border-width: 0 0 3px;
    font-family: FuturaPTMedium, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.bxc.bx-brand-10880 .bx-row-submit-no>*:first-child:hover {
    color: #223628;
    border-color: white;
}

.bxc.bx-brand-10880 .bx-row-submit-no {
    padding: 5px;
    width: auto;
}

.bxc.bx-brand-10880 .bx-row-text-link {
    padding: 0;
    width: auto;
}

.bxc.bx-brand-10880 .bx-row-text-link>*:first-child {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    font-family: FuturaPTMedium, Arial, sans-serif;
    line-height: 1.35;
    color: #223628;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10880 .bx-row-text-link>*:first-child:hover {
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.bxc.bx-brand-10880 .bx-row-text-sosumi {
    width: auto;
    padding: 0;
}

.bxc.bx-brand-10880 .bx-row-text-sosumi>*:first-child {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    font-family: FuturaPTMedium, Arial, sans-serif;
    line-height: 1.35;
    color: #223628;
    text-transform: lowercase;
    letter-spacing: .02em;
}

.bxc.bx-brand-10880 .bx-row-image-spinner {
    width: auto;
    ;
    padding: 0px 10px;
}

.bxc.bx-brand-10880 .bx-row-image-spinner>*:first-child {
    animation-name: bx-anim-10880-blip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: .05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    height: 13px;
    width: auto;
}

.bxc.bx-brand-10880 .bx-row-image-spinner {
    width: auto;
    padding: 0px 10px;
}

.bxc.bx-brand-10880 .bx-row-image-spinner>*:first-child {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    animation-name: bx-anim-10880-blip;
    animation-duration: 2s;
    animation-delay: .1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 13px;
    width: auto;
}

.bxc.bx-brand-10880 .bx-row-image-spinner {
    width: auto;
    ;
    padding: 0px 10px;
}

.bxc.bx-brand-10880 .bx-row-image-spinner>*:first-child {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    animation-name: bx-anim-10880-blip;
    animation-duration: 2s;
    animation-delay: .15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: auto;
    height: 13px;
}
