.sticky-header-mobile .autocomplete-wrapper {
  padding: 0 10px;
  position: relative !important;
  top: 0px !important;
  z-index: auto !important;
}

.sticky-header-mobile .input-wrapper {
  display: block !important;
}

.sticky-header-mobile .input-wrapper::before {
  border-left: 2px solid #e1e1e1;
  content: "";
  display: inline-block;
  height: 25px;
  left: 45px;
  position: absolute;
  top: 14px;
}

.sticky-header-mobile .input-wrapper a {
  display: none !important;
}

.sticky-header-mobile .input-wrapper input {
  font-size: 16px !important;
  padding-left: 40px !important;
}

.sticky-header-mobile .input-wrapper .search-icon {
  left: 20px !important;
  z-index: auto !important;
}

.sticky-header-mobile .input-autocomplete {
  position: relative;
  top: 0px;
  z-index: 999;
}

.sticky-header-mobile-spacer {
  height: 130px !important;
}

.sticky-header-mobile .col-header.head-menu-item[aria-label="Search here"] {
  visibility: hidden !important;
}

.mt-account {
  background: url("https://assets.thebodyshop.com/_ui/responsive/theme-tbs/assets/svg/body-shop-icons-thick_sign_in.svg") 0 0 no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  width: 24px;
}
