/**
* DEFAULT SLIDER STYLES
* Edit at your own risk!
*/
#MONETATE-ID {
  position: relative;
}

#MONETATE-ID [data-slider-mask] {
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: relative !important;
}

#MONETATE-ID li {
  list-style: none;
}

#MONETATE-ID [data-slider] {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

#MONETATE-ID [data-slide] {
  float: none;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider] {
  white-space: nowrap !important;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slide] {
  display: inline-block !important;
  vertical-align: top;
  white-space: normal;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slide] {
  display: block !important;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide] {
  opacity: 0;
  position: absolute;
  top: 0;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide][data-slide-active] {
  opacity: 1;
  position: relative;
  z-index: 1;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider-mask],
#MONETATE-ID[data-slider-wrapper="fade"] [data-slider-mask] {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

#MONETATE-ID [data-pagination-slide] * {
  pointer-events: none;
}

#MONETATE-ID [data-pagination-slide],
#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  cursor: pointer;
  z-index: 1;
}

/** ----END DEFAULT STYLES---- */
/**
* CUSTOM SLIDER STYLING
*/
#MONETATE-ID {
  line-height: normal;
  padding-top: 2px;
  text-align: center;
}

@media screen and (min-width: 1045px) {
  #MONETATE-ID {
    height: 45px;
    line-height: 45px;
    padding-top: 0;
    text-align: right;
  }
}

#MONETATE-ID [data-pagination="thumbnails"] [data-pagination-slide] {
  background: none;
  border-radius: 0;
  height: auto;
  width: 40px;
}

#MONETATE-ID [data-pagination-slide] {
  background: #000;
  border-radius: 6px;
  display: inline-block;
  height: 12px;
  margin: 4px;
  opacity: 0.5;
  width: 12px;
}

#MONETATE-ID [data-pagination-slide][data-slide-active] {
  opacity: 1;
}

#MONETATE-ID [disabled] {
  opacity: 0.5;
}

#MONETATE-ID [data-slide] img {
  max-height: 100%;
}

#MONETATE-ID [data-slide] a {
  text-decoration: none;
}

#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  background: none;
  color: #000;
  display: none;
  font-size: 25px;
  padding: 0;
  position: absolute;
  top: 45%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#MONETATE-ID [data-prev-button] {
  left: 10px;
}

#MONETATE-ID [data-next-button] {
  right: 10px;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-prev-button] {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-next-button] {
  bottom: 0;
  left: 50%;
  right: auto;
  top: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#MONETATE-ID [data-pagination*="dots"] [data-pagination-slide] {
  /* remove below for pagination numbers */
  text-indent: -9999px;
}

#MONETATE-ID .slider-container {
  display: inline-block;
  height: 100%;
}

#MONETATE-ID [data-slider-mask] {
  display: inline-block;
  width: 100%;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider-mask] {
  max-width: 100vw;
}

@media screen and (min-width: 1045px) {
  #MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider-mask] {
    max-width: 320px;
  }
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  height: 16px !important;
}

@media screen and (min-width: 1045px) {
  #MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
    height: 45px !important;
  }
}

/* Bold Text */
#MONETATE-ID strong,
#MONETATE-ID b {
  color: #000;
  font-family: "Trade Gothic W01 Bold 2";
}

/* Italic Text */
#MONETATE-ID em {
  color: #000;
  font-style: italic;
}

/* Underline Text */
#MONETATE-ID u,
#MONETATE-ID span.underline {
  color: #000;
  text-decoration: underline;
}
