$breakpoint-md:    45rem;

$font-primary:     'Helvetica', 'Open-Sans', "sans-serif-light", sans-serif;
$font-secondary:   'abchanel-pb-s', sans-serif;

$max-width:        1272px;


.mt_video-link {
  display: block;
  font-size: 0;
  height: 100%;
  left: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}