@media screen and (max-width: 767px) {
  .mobile-category-refiment-container {
    float: left;
    margin-right: 2%;
    position: relative;
    width: 58%;
  }
  .mobile-category-refiment-container .category-refiment-button {
    margin: 0 !important;
    padding: 9.5px .75em !important;
  }
  .category-refiment-result-container {
    background: #fff;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    z-index: 9999;
  }
  .mobile-refinements-container.active #secondary {
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    z-index: 9999;
  }
  .search-result-options {
    display: inline-block;
    width: 40%;
  }
  .search-result-options .filters-button {
    width: 100%;
  }
  .sort-by {
    margin-left: -1px !important;
    margin-right: -1px !important;
    margin-top: 30px !important;
    position: relative !important;
    width: calc(100% + 2px) !important;
  }
  .sort-by label {
    display: block !important;
    font-size: 15.4px !important;
    letter-spacing: 0.125em;
    padding: 0 1.25rem;
    position: absolute;
    text-transform: uppercase;
    top: -20px;
  }
  .sort-by label::after {
    background: #fff;
    content: "";
    display: inline-block;
    height: 16px;
    position: absolute;
    right: 7px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 10px;
  }
  .sort-by select {
    padding-left: 1.25rem !important;
  }
}
