@import "../../placeholders";

@media screen and (max-width: 640px) {
  #shippingAddressAddForm,
  #billingAddressAddForm,
  #addresses-form-entry {
    div.required-field-text-container {
      display: none;
    }
    
    .input-set-wrap {
      margin-bottom: 10px;
      position: relative;
      
      label {     
        border: 0;
        clip: rect(0,0,0,0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px; 
      }
      
      input[type="text"],
      input[type="tel"],
      input[type="email"],
      select {
        border: 1px solid #000;
        display: block;
        margin: 0;
        max-width: 230px;
        padding-left: 5px;
        position: relative;
        width: 100%;
        &.error {
          border: 1px solid #e91e25;
        }
        
        // Placeholder
        &::placeholder {
          color: #999;
        }
      }

      .form-success-icon.valid,
      .form-error-icon.valid {
        display: inline-block;
        margin-left: 3px;
        width: 0;
      }
      
    }
  }
}
