// ==================================================================
// Colors
// ==================================================================
$ryder-red:    #ce1126;
$black:        #000000;
$white:        #ffffff;
$dark-gray:    #8c8c8c;
$gray:         #d6d6d6;
$light-gray:   #ececec;



// ==================================================================
// Fonts
// ==================================================================
$font: "Helvetica Neue LT W01_97 BlkCn";



// ==================================================================
// Breakpoints
// ==================================================================
$breakpoint-sm:    480px;
$breakpoint-md:    768px;
$breakpoint-lg:    993px;
$breakpoint-xl:    1200px;