/* ===================================================== */
/* DEFAULT SLIDER STYLES
/* Edit at your own risk!
/* ===================================================== */
#MONETATE-ID {
    position: relative;

    li {
        list-style: none;
    }

    // ==================================================================
    // Slider Mask
    // ==================================================================
    [data-slider-mask] {
        margin: 0 !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: relative !important;
    }
    &[data-slider-wrapper="horizontal"] [data-slider-mask],
    &[data-slider-wrapper="fade"] [data-slider-mask] {
        touch-action: pan-y;
    }
    &[data-slider-wrapper="vertical"] [data-slider-mask] {
        touch-action: pan-x;
    }



    // ==================================================================
    // Slider
    // ==================================================================
    [data-slider] {
        display: block;
        margin: 0 !important;
        padding: 0 !important;
    }
    &[data-slider-wrapper="horizontal"] [data-slider] {
        white-space: nowrap !important;
    }



    // ==================================================================
    // Slide
    // ==================================================================
    [data-slide] {
        float: none;
    }
    &[data-slider-wrapper="horizontal"] [data-slide] {
        display: inline-block !important;
        vertical-align: top;
        white-space: normal;
    }
    &[data-slider-wrapper="vertical"] [data-slide] {
        display: block !important;
    }
    &[data-slider-wrapper="fade"] [data-slide] {
        opacity: 0;
        position: absolute;
        top: 0;
    }
    &[data-slider-wrapper="fade"] [data-slide][data-slide-active] {
        opacity: 1;
        position: relative;
        z-index: 1;
    }



    // ==================================================================
    // Buttons / Pagination
    // ==================================================================
    [data-pagination-slide],
    [data-prev-button],
    [data-next-button]{
        cursor: pointer;
        z-index: 1;
    }

    [data-pagination-slide] * {
        pointer-events: none;
    }

} // MONETATE-ID




/* ===================================================== */
/* CUSTOM SLIDER STYES
/* ===================================================== */
#MONETATE-ID {
    box-sizing: border-box;
    clear: both;
    margin: 0 auto;
    max-width: 1040px;
    padding: 20px 10px 30px;
    text-align: center;
    width: 100%;
    @media screen and (min-width: 992px) {
        padding-top: 50px;
    }



    // ==================================================================
    // Slider Mask
    // ==================================================================
    [data-slider-mask] {
        display: inline-block;
        width: calc(100% - 48px);
    }
    &[data-slider-wrapper="vertical"] [data-slider-mask] {
        height: 400px !important;
    }


    // ==================================================================
    // Slider
    // ==================================================================
    [data-slider] {

    }

    // ==================================================================
    // Slide
    // ==================================================================
    [data-slide] {
        > div {
        }
        img {
            max-width: 100%;
        }
        a {
            text-decoration: none;
        }
    }



    // ==================================================================
    // Buttons
    // ==================================================================
    [data-prev-button],
    [data-next-button] {
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        background: none;
        border: none;
        color: #000;
        display: block;
        font-size: 25px;
        padding: 0;
        position: absolute;
        top: 45%;
        user-select: none;
        width: 36px;

        &:hover,
        &:active,
        &:focus {
            border: none;
            outline: none;
        }
    }
    [data-prev-button] {
        left: 10px;
    }
    [data-next-button] {
        right: 10px;
    }
    &[data-slider-wrapper="vertical"] [data-prev-button] {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    &[data-slider-wrapper="vertical"] [data-next-button] {
        bottom: 0;
        left: 50%;
        right: auto;
        top: auto;
        transform: translateX(-50%);
    }


    // ==================================================================
    // Pagination
    // ==================================================================
    [data-pagination="thumbnails"] [data-pagination-slide] {
        background: none;
        border-radius: 0;
        height: auto;
        width: 40px;
    }

    [disabled] {
        background-color: transparent !important;
        opacity: 0.5;
    }

    [data-pagination-slide] {
        background: #000;
        border-radius: 6px;
        display: inline-block;
        height: 12px;
        margin: 4px;
        opacity: 0.5;
        width: 12px;
        &[data-slide-active] {
            opacity: 1;
        }
    }
    [data-pagination*="dots"] [data-pagination-slide] {
        /* remove below for pagination numbers */
        text-indent: -9999px;
    }


    // ==================================================================
    // Slider Container Template
    // ==================================================================
    .mt_slider {
        &__container {
            display: block;
            margin: 0 auto;
            padding: 0 10px;
        }
        &__header {
            border-bottom: 1px solid #ccc;
            position: relative;
            h3 {
                background: white;
                bottom: -16px;
                color: #000;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                left: 50%;
                padding: 0 16px;
                position: absolute;
                transform: translateX(-50%);
                white-space: nowrap;
                @media screen and (min-width: 992px) {
                    bottom: -32px;
                }
            }
        }
        &__wrapper {
            margin-top: 30px;
        }
    }


    // ==================================================================
    // Slide Template
    // ==================================================================
    .mt_slide {
        display: block;
        padding: 0 7px;
        position: relative;


        // Image
        &__img {
            font-size: 0;
            line-height: 0;
            img {
                max-width: 100%;
            }
        }


        // Text container
        &__text {
            color: #000;
            display: block;
            font-size: 12px;
            margin-top: 10px;
            position: relative;
        }

        &__title {
            display: block;
            font-size: 12px;
            line-height: 1.2;
            margin-bottom: 10px;
        }

        &__price {
            align-items: center;
            display: flex;
            flex-direction: row;
            font-size: 12px;
            justify-content: center;
            span {
                margin-left: 4px;
                margin-right: 4px;
            }
            span:empty {
                display: none;
            }

            &--reg {
                text-decoration: line-through;
            }
            &--sale {
                color: #BD0304;
            }
        }
    }

    [data-missing-keys*="salePrice"] {
        .mt_slide__price {
            &--reg {
                text-decoration: none;
            }
        }
    }




    // ------------------------------------------------------------------
    // Ratings
    // ------------------------------------------------------------------
    .mt_slide {
        &__ratings {
            align-items: center;
            display: inline-flex;
            font-size: 12px;
            justify-content: center;
            line-height: 20px;
            margin-top: 12px;
            &-stars {
                background-image: url('/hc-images/stars_small.gif');
                background-repeat: no-repeat;
                display: inline-block;
                height: 18px;
                width: 85px;
            }
            &-decimal {
                border: 0;
                clip: rect(0,0,0,0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
            &-count {

            }
        }
    }

    [data-missing-keys*="avgRating"] {
        .mt_slide__ratings {
            display: none;
        }
    }
}


/* ===================================================== */
/* Stars positioning
/* ===================================================== */
.mt_slide__ratings-stars {
    // 0 stars
    &[data-average-rating="0"],
    &[data-average-rating="0.1"],
    &[data-average-rating="0.2"] {
        background-position: 0 0;
    }

    // 0.5 stars
    &[data-average-rating="0.3"],
    &[data-average-rating="0.4"],
    &[data-average-rating="0.5"],
    &[data-average-rating="0.6"],
    &[data-average-rating="0.7"] {
        background-position: 0 -18px;
    }

    // 1 star
    &[data-average-rating="0.8"],
    &[data-average-rating="0.9"],
    &[data-average-rating="1.0"],
    &[data-average-rating="1.1"],
    &[data-average-rating="1.2"] {
        background-position: 0 -36px;
    }

    // 1.5 stars
    &[data-average-rating="1.3"],
    &[data-average-rating="1.4"],
    &[data-average-rating="1.5"],
    &[data-average-rating="1.6"],
    &[data-average-rating="1.7"] {
        background-position: 0 -54px;
    }

    // 2 stars
    &[data-average-rating="1.8"],
    &[data-average-rating="1.9"],
    &[data-average-rating="2.0"],
    &[data-average-rating="2.1"],
    &[data-average-rating="2.2"] {
        background-position: 0 -72px;
    }

    // 2.5 stars
    &[data-average-rating="2.3"],
    &[data-average-rating="2.4"],
    &[data-average-rating="2.5"],
    &[data-average-rating="2.6"],
    &[data-average-rating="2.7"] {
        background-position: 0 -90px;
    }

    // 3 stars
    &[data-average-rating="2.8"],
    &[data-average-rating="2.9"],
    &[data-average-rating="3.0"],
    &[data-average-rating="3.1"],
    &[data-average-rating="3.2"] {
        background-position: 0 -108px;
    }

    // 3.5 stars
    &[data-average-rating="3.3"],
    &[data-average-rating="3.4"],
    &[data-average-rating="3.5"],
    &[data-average-rating="3.6"],
    &[data-average-rating="3.7"] {
        background-position: 0 -126px;
    }

    // 4 stars
    &[data-average-rating="3.8"],
    &[data-average-rating="3.9"],
    &[data-average-rating="4.0"],
    &[data-average-rating="4.1"],
    &[data-average-rating="4.2"] {
        background-position: 0 -144px;
    }

    // 4.5 stars
    &[data-average-rating="4.3"],
    &[data-average-rating="4.4"],
    &[data-average-rating="4.5"],
    &[data-average-rating="4.6"],
    &[data-average-rating="4.7"] {
        background-position: 0 -162px;
    }

    // 5 stars
    &[data-average-rating="4.8"],
    &[data-average-rating="4.9"],
    &[data-average-rating="5.0"] {
        background-position: 0 -180px;
    }

}
