/*Hides the plural parameter on any suffixes when counting down.*/
.mt_countdown .mt_hide_plural {
  display: none;
}

/*---Default Styles---*/
/* Wrapper */
.mt_countdown {
  background-color: #FAECE0;
  color: #000;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.mt_countdown .mt-countdown {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAECE0;
  background-image: url({{BKG_URL}});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #D8D8D8;
  box-sizing: border-box;
  color: #636363;
  display: none !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Gill Sans Medium', sans-serif;
  font-weight: 400;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1366px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1025px) {
  .mt_countdown .mt-countdown {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 30px;
  }
}

.mt_countdown .mt-countdown .bold {
  font-family: "Gill Sans Medium", sans-serif;
  font-weight: 700;
}

.mt_countdown .mt-countdown__lead {
  color: #1f1f1f;
  display: block;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 1;
  margin-bottom: 6px;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .mt_countdown .mt-countdown__lead {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
    margin-right: 20px;
    width: auto;
  }
}

.mt_countdown .mt-countdown__lead span {
  color: #B78A6A;
}

.mt_countdown .mt-countdown__timer {
  color: #1f1f1f;
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .3em;
  line-height: 1;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .mt_countdown .mt-countdown__timer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 12px;
    line-height: 12px;
    width: auto;
  }
}

.mt_countdown .mt-countdown__msg {
  display: block;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 8px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .mt_countdown .mt-countdown__msg {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 12px;
    line-height: 12px;
    margin-left: 20px;
    margin-top: 0;
    width: auto;
  }
}

.mt_countdown .mt-countdown__msg a {
  border-bottom: 1px solid #1f1f1f;
  color: #1f1f1f;
  text-decoration: none;
}

.mt_countdown .mt_time {
  color: #C1992D;
}

.mt_countdown {
  display: none;
}

@media screen and (min-width: 1025px) {
  .mt_countdown {
    display: block;
  }
}

/*
* Adjust for updated fixed transparent header
*/
.mt_countdown {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 64.063em) {
  header {
    max-width: 100% !important;
    padding: 0 !important;
    width: 100% !important;
  }
  header.condensed {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  header.condensed #desktop-top-row {
    margin-left: auto;
    margin-right: auto;
    width: 38px !important;
  }
  header.condensed #desktop-bottom-row {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 1066px;
    width: 71.70737% !important;
  }
  header.condensed #condensed-icons {
    margin-left: auto;
    margin-right: auto;
  }
  #desktop-top-row,
  #desktop-bottom-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 85.375em;
    width: 95.25% !important;
  }
}

@media screen and (min-width: 1440px) {
  header.condensed #desktop-top-row {
    margin-right: 94px;
  }
  header.condensed #desktop-bottom-row {
    margin-left: 0;
    margin-right: 0;
  }
  header.condensed #condensed-icons {
    margin-left: 94px;
  }
}

@media screen and (min-width: 1025px) {
  .sitebody {
    padding-top: 140px !important;
  }
}
