.checkoutregistration .registration-form-container {
  display: flex;
  flex-direction: column;
}

.checkoutregistration .registration-form-container > * {
  max-width: 300px;
  width: 100%;
}

.checkoutregistration .registration-form-container h1 {
  font-size: 0 !important;
}

.checkoutregistration .registration-form-container h1::after {
  color: #000;
  content: "Create an Account";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1.44px;
  line-height: 24px;
}

.checkoutregistration .registration-form-container p.description {
  font-size: 0 !important;
}

.checkoutregistration .registration-form-container p.description::after {
  content: "(It'll only take a minute)";
  font-size: 13px;
}

.checkoutregistration .registration-form-container .disclaimer {
  margin-top: 8px;
  order: 1;
}
