.checkoutlogin .checkout-guest {
  border: none !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0 !important;
  max-width: 300px;
  padding-top: 0 !important;
}

.checkoutlogin .checkout-guest h3, .checkoutlogin .checkout-guest p.description {
  display: none !important;
}

.checkoutlogin .checkout-guest a {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: p22-underground,sans-serif;
  font-size: 13px !important;
  font-weight: 900 !important;
  height: 40px;
  letter-spacing: .08em;
  line-height: 40px !important;
  margin: 0 0 .5em;
  margin-top: 30px;
  overflow: visible;
  padding: 0 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease;
  width: 100%;
}

.checkoutlogin .checkout-guest a::before {
  color: #000;
  content: "OR";
  display: block;
  left: 50%;
  position: absolute;
  top: 0;
  top: -40px;
  transform: translate(-50%, 0);
}
