#MONETATE-ID {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 -4px 32px 0;
  margin-bottom: 32px;
  margin-top: 28px;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

@media screen and (max-width: 63em) {
  #MONETATE-ID {
    display: none;
  }
}
