.mt_bundles {
    &__header {
        display: block;
        position: relative;
        width: 100%;
    }
    img {
        max-width: 100%;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bc-buy-button {
        height: 0;
        padding-bottom: 147.45763%;
        position: relative;
        width: 100%;
        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}
