.register-login {
  margin-top: 30px;
}

.register-login .row:nth-child(1), .register-login .row:nth-child(2) {
  display: none;
}

.register-login .sign-in h2 {
  font-family: "Helvetica-Bold";
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
}

.form_fieldset_form-group:nth-of-type(2) {
  margin-bottom: 35px;
}

#rememberMeHelper {
  margin-bottom: 15px;
}

.login-form_remember-me_recommendation {
  color: #000 !important;
}

.register-form {
  padding-top: 38px;
}

.register-form p {
  margin-bottom: 0;
}
