/* 
 * PRIMARY BUTTON 
 */
body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnCheckout input, body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnSpeedBuy input, body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnaddtocart input, body.shoppingCart #divSavedItems .divButtons.divProductButtons .primaryWrapBtn.wrapBtnmovealltocart input, body.pgSignIn #frmSignIn .primaryWrapBtn input, body.checkoutStep1 div#divContent .primaryWrapBtn input, body.checkoutStep2 .primaryWrapBtn.wrapBtncontinuecheckout input, body.checkoutStep3 #continueCheckout .primaryWrapBtn.wrapBtncontinuecheckout input, body.checkoutStep4 div.divOrderTotalButtons .primaryWrapBtn.wrapBtnclickheretosubmitorder input, body.pg-your-receipt #frmSubmitOrder .primaryWrapBtn.wrapBtnclickheretoprintyourreceipt input, body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater input, body.checkoutStep3 .divQCardAcceptOffer .primaryButton {
  background-color: #EB5D5E !important;
  border: 2px solid #EB5D5E !important;
  border-radius: 4px !important;
  color: #FFF !important;
}

body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnCheckout input:hover, body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnSpeedBuy input:hover, body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnaddtocart input:hover, body.shoppingCart #divSavedItems .divButtons.divProductButtons .primaryWrapBtn.wrapBtnmovealltocart input:hover, body.pgSignIn #frmSignIn .primaryWrapBtn input:hover, body.checkoutStep1 div#divContent .primaryWrapBtn input:hover, body.checkoutStep2 .primaryWrapBtn.wrapBtncontinuecheckout input:hover, body.checkoutStep3 #continueCheckout .primaryWrapBtn.wrapBtncontinuecheckout input:hover, body.checkoutStep4 div.divOrderTotalButtons .primaryWrapBtn.wrapBtnclickheretosubmitorder input:hover, body.pg-your-receipt #frmSubmitOrder .primaryWrapBtn.wrapBtnclickheretoprintyourreceipt input:hover, body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater input:hover, body.checkoutStep3 .divQCardAcceptOffer .primaryButton:hover {
  background-color: #D15354 !important;
  border: 2px solid #D15354 !important;
  border-radius: 4px !important;
  color: #FFF !important;
}

/* 
 * SECONDARY BUTTON
 */
body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist input, body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall input, body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder input, body.checkoutStep3 #continueCheckout ~ .secondaryWrapBtn.wrapBtncancelorder input, body.pg-order-confirmation #orderConfirmIntroMiddle .secondaryWrapBtn.wrapBtnviewreceipt input, body.checkoutStep3 .divQCardAcceptOffer .secondaryButton, body.checkoutStep3 #voucherCode .btn-secondary, body.checkoutStep4 div.divOrderTotalButtons .secondaryButton {
  background-color: #FFF !important;
  border: 1px solid #EBEEEF !important;
  border-radius: 2px !important;
  color: #3C4350 !important;
}

body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist input:hover, body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall input:hover, body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder input:hover, body.checkoutStep3 #continueCheckout ~ .secondaryWrapBtn.wrapBtncancelorder input:hover, body.pg-order-confirmation #orderConfirmIntroMiddle .secondaryWrapBtn.wrapBtnviewreceipt input:hover, body.checkoutStep3 .divQCardAcceptOffer .secondaryButton:hover, body.checkoutStep3 #voucherCode .btn-secondary:hover, body.checkoutStep4 div.divOrderTotalButtons .secondaryButton:hover {
  background-color: #FFF !important;
  border: 1px solid #3C4350 !important;
  border-radius: 2px !important;
  color: #3C4350 !important;
}

body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnCheckout input, body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnSpeedBuy input, body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnaddtocart input, body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist input, body.shoppingCart #divSavedItems .divButtons.divProductButtons .primaryWrapBtn.wrapBtnmovealltocart input, body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall input, body.pgSignIn #frmSignIn .primaryWrapBtn input, body.checkoutStep1 div#divContent .primaryWrapBtn input, body.checkoutStep2 .primaryWrapBtn.wrapBtncontinuecheckout input, body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder input, body.checkoutStep3 #continueCheckout .primaryWrapBtn.wrapBtncontinuecheckout input, body.checkoutStep3 #continueCheckout ~ .secondaryWrapBtn.wrapBtncancelorder input, body.checkoutStep4 div.divOrderTotalButtons .primaryWrapBtn.wrapBtnclickheretosubmitorder input, body.pg-your-receipt #frmSubmitOrder .primaryWrapBtn.wrapBtnclickheretoprintyourreceipt input, body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater input, body.pg-order-confirmation #orderConfirmIntroMiddle .secondaryWrapBtn.wrapBtnviewreceipt input, body.checkoutStep3 .divQCardAcceptOffer .primaryButton, body.checkoutStep3 .divQCardAcceptOffer .secondaryButton, body.checkoutStep3 #voucherCode .btn-secondary, body.checkoutStep4 div.divOrderTotalButtons .secondaryButton {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background-image: none !important;
  box-sizing: border-box !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'Gotham SSm 5r', Arial, Helvetica, sans-serif;
  font-size: 13px !important;
  font-weight: 500 !important;
  height: 45px !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  letter-spacing: 0px !important;
  line-height: 17px !important;
  opacity: 1;
  padding: 0 !important;
  text-align: center !important;
  text-transform: uppercase !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100% !important;
}

/*
 * Button Styling
 */
body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnCheckout,
body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnSpeedBuy, body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnaddtocart, body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist, body.shoppingCart #divSavedItems .divButtons.divProductButtons .primaryWrapBtn.wrapBtnmovealltocart, body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall, body.pgSignIn #frmSignIn .primaryWrapBtn, body.checkoutStep1 div#divContent .primaryWrapBtn, body.checkoutStep2 .primaryWrapBtn.wrapBtncontinuecheckout, body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder, body.checkoutStep3 #continueCheckout .primaryWrapBtn.wrapBtncontinuecheckout, body.checkoutStep3 #continueCheckout ~ .secondaryWrapBtn.wrapBtncancelorder, body.checkoutStep4 div.divOrderTotalButtons .primaryWrapBtn.wrapBtnclickheretosubmitorder, body.pg-your-receipt #frmSubmitOrder .primaryWrapBtn.wrapBtnclickheretoprintyourreceipt, body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater, body.pg-order-confirmation #orderConfirmIntroMiddle .secondaryWrapBtn.wrapBtnviewreceipt {
  background: none !important;
  border: none !important;
  padding: 15px 0 !important;
}

@media screen and (min-width: 668px) {
  body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnCheckout,
  body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnSpeedBuy, body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnaddtocart, body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist, body.shoppingCart #divSavedItems .divButtons.divProductButtons .primaryWrapBtn.wrapBtnmovealltocart, body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall, body.pgSignIn #frmSignIn .primaryWrapBtn, body.checkoutStep1 div#divContent .primaryWrapBtn, body.checkoutStep2 .primaryWrapBtn.wrapBtncontinuecheckout, body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder, body.checkoutStep3 #continueCheckout .primaryWrapBtn.wrapBtncontinuecheckout, body.checkoutStep3 #continueCheckout ~ .secondaryWrapBtn.wrapBtncancelorder, body.checkoutStep4 div.divOrderTotalButtons .primaryWrapBtn.wrapBtnclickheretosubmitorder, body.pg-your-receipt #frmSubmitOrder .primaryWrapBtn.wrapBtnclickheretoprintyourreceipt, body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater, body.pg-order-confirmation #orderConfirmIntroMiddle .secondaryWrapBtn.wrapBtnviewreceipt {
    width: 100%;
  }
}

@media screen and (min-width: 801px) {
  body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnCheckout,
  body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnSpeedBuy, body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnaddtocart, body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist, body.shoppingCart #divSavedItems .divButtons.divProductButtons .primaryWrapBtn.wrapBtnmovealltocart, body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall, body.pgSignIn #frmSignIn .primaryWrapBtn, body.checkoutStep1 div#divContent .primaryWrapBtn, body.checkoutStep2 .primaryWrapBtn.wrapBtncontinuecheckout, body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder, body.checkoutStep3 #continueCheckout .primaryWrapBtn.wrapBtncontinuecheckout, body.checkoutStep3 #continueCheckout ~ .secondaryWrapBtn.wrapBtncancelorder, body.checkoutStep4 div.divOrderTotalButtons .primaryWrapBtn.wrapBtnclickheretosubmitorder, body.pg-your-receipt #frmSubmitOrder .primaryWrapBtn.wrapBtnclickheretoprintyourreceipt, body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater, body.pg-order-confirmation #orderConfirmIntroMiddle .secondaryWrapBtn.wrapBtnviewreceipt {
    padding: 0 !important;
  }
}

body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnCheckout span, body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnSpeedBuy span, body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnaddtocart span, body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist span, body.shoppingCart #divSavedItems .divButtons.divProductButtons .primaryWrapBtn.wrapBtnmovealltocart span, body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall span, body.pgSignIn #frmSignIn .primaryWrapBtn span, body.checkoutStep1 div#divContent .primaryWrapBtn span, body.checkoutStep2 .primaryWrapBtn.wrapBtncontinuecheckout span, body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder span, body.checkoutStep3 #continueCheckout .primaryWrapBtn.wrapBtncontinuecheckout span, body.checkoutStep3 #continueCheckout ~ .secondaryWrapBtn.wrapBtncancelorder span, body.checkoutStep4 div.divOrderTotalButtons .primaryWrapBtn.wrapBtnclickheretosubmitorder span, body.pg-your-receipt #frmSubmitOrder .primaryWrapBtn.wrapBtnclickheretoprintyourreceipt span, body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater span, body.pg-order-confirmation #orderConfirmIntroMiddle .secondaryWrapBtn.wrapBtnviewreceipt span {
  display: none !important;
}

body.checkoutStep3 .divQCardAcceptOffer .primaryButton span, body.checkoutStep3 .divQCardAcceptOffer .secondaryButton span, body.checkoutStep3 #voucherCode .btn-secondary span, body.checkoutStep4 div.divOrderTotalButtons .secondaryButton span {
  background: none !important;
  padding: 0 !important;
}

/* CART */
body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnCheckout,
body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnSpeedBuy {
  display: block;
}

@media screen and (min-width: 801px) {
  body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnCheckout input,
  body.shoppingCart #divShoppingCart .primaryWrapBtn.wrapBtnSpeedBuy input {
    width: 137.5px !important;
  }
}

body.shoppingCart #divShoppingCart .wrapBtnSpeedBuy .btnCartIcon {
  display: none !important;
}

body.shoppingCart #divShoppingCart .divButtons.divProductButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 668px) {
  body.shoppingCart #divShoppingCart .divButtons.divProductButtons {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 801px) {
  body.shoppingCart #divShoppingCart .divButtons.divProductButtons {
    padding-bottom: 0;
  }
}

body.shoppingCart #divShoppingCart .divButtons.divProductButtons .col {
  padding: 0 7.5px !important;
}

@media screen and (min-width: 801px) {
  body.shoppingCart #divShoppingCart .divButtons.divProductButtons .col {
    width: 137px !important;
  }
}

body.shoppingCart #divShoppingCart .btnDivider {
  display: none !important;
}

body.shoppingCart #divShoppingCart .btnPayPalCheckout {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 45px !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  margin-top: 15px;
  padding: 5px 8px 15px !important;
  width: 100% !important;
}

@media screen and (min-width: 801px) {
  body.shoppingCart #divShoppingCart .btnPayPalCheckout {
    margin-top: 10px;
    padding: 0 !important;
    width: 290px !important;
  }
}

body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnaddtocart input {
  height: 35px !important;
}

@media screen and (min-width: 668px) {
  body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnaddtocart input {
    width: 168px !important;
  }
}

body.shoppingCart #divSavedItems .divProductButtons .primaryWrapBtn.wrapBtnspeedbuy {
  display: none !important;
}

body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist {
  margin-bottom: 15px;
  margin-top: 9px;
}

@media screen and (min-width: 801px) {
  body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist {
    display: block;
    margin-top: 15px;
  }
}

body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist input {
  height: 35px !important;
}

@media screen and (min-width: 668px) {
  body.shoppingCart #divSavedItems .divProductButtons .secondaryWrapBtn.wrapBtnaddtowishlist input {
    width: 168px !important;
  }
}

body.shoppingCart #divSavedItems .divButtons.divProductButtons .primaryWrapBtn.wrapBtnmovealltocart input {
  height: 35px !important;
}

@media screen and (min-width: 668px) {
  body.shoppingCart #divSavedItems .divButtons.divProductButtons .primaryWrapBtn.wrapBtnmovealltocart input {
    width: 168px !important;
  }
}

body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall {
  margin-top: 9px;
}

@media screen and (min-width: 801px) {
  body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall {
    display: block;
    margin-top: 15px;
  }
}

body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall input {
  height: 35px !important;
}

@media screen and (min-width: 668px) {
  body.shoppingCart #divSavedItems .divButtons.divProductButtons .secondaryWrapBtn.wrapBtnremoveall input {
    width: 168px !important;
  }
}

/* SIGN IN */
@media screen and (min-width: 668px) {
  body.pgSignIn #frmSignIn .primaryWrapBtn input {
    width: 108px !important;
  }
}

/* SHIPPING STEP #1 */
@media screen and (min-width: 668px) {
  body.checkoutStep1 div#divContent .primaryWrapBtn input {
    width: 108px !important;
  }
}

/* SHIPPING STEP #2 */
@media screen and (min-width: 668px) {
  body.checkoutStep2 .primaryWrapBtn.wrapBtncontinuecheckout input {
    margin-top: 15px;
    width: 195px !important;
  }
}

body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder {
  margin-top: 15px;
}

@media screen and (min-width: 668px) {
  body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder {
    margin-top: 25px;
  }
}

@media screen and (min-width: 668px) {
  body.checkoutStep2 .secondaryWrapBtn.wrapBtncancelorder input {
    width: 195px !important;
  }
}

/* SHIPPING STEP #3 */
@media screen and (min-width: 668px) {
  body.checkoutStep3 .divQCardAcceptOffer .primaryButton {
    height: 35px !important;
    margin-top: 10px;
    width: 268px !important;
  }
}

body.checkoutStep3 .divQCardAcceptOffer .secondaryButton {
  margin-top: 4px;
}

@media screen and (min-width: 668px) {
  body.checkoutStep3 .divQCardAcceptOffer .secondaryButton {
    height: 35px !important;
    margin-top: 15px;
    width: 268px !important;
  }
}

body.checkoutStep3 #voucherCode .btn-secondary {
  height: 35px !important;
  width: 126px !important;
}

@media screen and (min-width: 668px) {
  body.checkoutStep3 #continueCheckout .primaryWrapBtn.wrapBtncontinuecheckout input {
    height: 45px !important;
    width: 195px !important;
  }
}

body.checkoutStep3 #continueCheckout ~ .secondaryWrapBtn.wrapBtncancelorder {
  margin-top: 15px;
}

@media screen and (min-width: 668px) {
  body.checkoutStep3 #continueCheckout ~ .secondaryWrapBtn.wrapBtncancelorder {
    display: block;
    margin-bottom: 30px !important;
    width: 195px !important;
  }
}

/* SHIPPING STEP #4 */
@media screen and (min-width: 668px) {
  body.checkoutStep4 div.divOrderTotalButtons .primaryWrapBtn.wrapBtnclickheretosubmitorder input {
    width: 195px !important;
  }
}

body.checkoutStep4 div.divOrderTotalButtons .secondaryButton {
  margin-top: 15px;
}

@media screen and (min-width: 668px) {
  body.checkoutStep4 div.divOrderTotalButtons .secondaryButton {
    width: 195px !important;
  }
}

/* RECEIPT */
@media screen and (min-width: 668px) {
  body.pg-your-receipt #frmSubmitOrder .primaryWrapBtn.wrapBtnclickheretoprintyourreceipt input {
    height: 35px !important;
    width: 305px !important;
  }
}

@media screen and (min-width: 668px) {
  body.pg-your-receipt #frmSubmitOrder div.divOrderTotalButtons {
    width: 310px !important;
  }
}

/* ORDER CONFIRMATION */
body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater {
  margin-top: 15px;
}

@media screen and (min-width: 668px) {
  body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater {
    margin-top: 4px;
  }
}

@media screen and (min-width: 668px) {
  body.pg-order-confirmation #orderConfirmIntroMiddle .primaryWrapBtn.wrapBtnsaveforlater input {
    height: 35px !important;
    width: 189px !important;
  }
}

body.pg-order-confirmation #orderConfirmIntroMiddle .secondaryWrapBtn.wrapBtnviewreceipt {
  margin-top: 4px;
}

@media screen and (min-width: 668px) {
  body.pg-order-confirmation #orderConfirmIntroMiddle .secondaryWrapBtn.wrapBtnviewreceipt input {
    height: 35px !important;
    width: 189px !important;
  }
}
