

%cart {
    position: absolute;
    right: 14px;
    top: calc(50% + 12px);
    transform: translate(0, -50%);
}


.page-header__utility {
    .page-header__action.page-header__action--cart.page-header__icon-wrap {
      align-items: center;
      background: none;
      border: 0;
      cursor: pointer;
      display: inline-flex;
      float: left;
      font: inherit;
      font-weight: normal;
      height: 48px;
      justify-content: center;
      line-height: 1;
      margin: 0;
      overflow: visible;
      padding: 0;
      position: relative;
      right: unset;
      top: unset;
      transform: none;
      vertical-align: middle;
      white-space: nowrap;
      width: 25%;
    }
}


.page-header__actions {
    button.page-header__utility-item.page-header__utility-item--search.page-header__icon-wrap {
        border: none;
        height: 24px;
        position: absolute;
        right: 14px;
        top: calc(50% + 12px);
        transform: translate(0, -50%);
        width: 24px;
    }
}
