.mt_sizing-message {
    color: #000;
    display: block;
    font-family: proximabold;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
}
