span[data-tooltip-text] {
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin-top: -4px;
  position: relative;
}

span[data-tooltip-text]::after {
  background: #0077c8;
  border-radius: 50%;
  color: #fff;
  content: "?";
  display: inline-block;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  margin: 0;
  margin-top: -12px;
  text-align: center;
  vertical-align: middle;
  width: 24px;
}

span[data-tooltip-text] .tooltip {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
  color: #333;
  display: block;
  font-size: 14px;
  left: 54%;
  line-height: 18px;
  margin: 0 auto;
  opacity: 1;
  padding: 15px;
  position: absolute;
  top: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  width: 180px;
  z-index: 999;
}

span[data-tooltip-text] .tooltip::before {
  border-bottom: 8px solid #e6e6e6;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -8px;
  width: 0;
}

span[data-tooltip-text] .tooltip::after {
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -7px;
  width: 0;
}

span[data-tooltip-text] .tooltip.fade-in {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.buy-selector .warranty-selection .warranty-list .warranty-row .warranty-detail {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
