/* ===================================================== */
/* DEFAULT SLIDER STYLES
/* Edit at your own risk!
/* ===================================================== */
#MONETATE-ID {
  position: relative;
}

#MONETATE-ID li {
  list-style: none;
}

#MONETATE-ID [data-slider-mask] {
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: relative !important;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider-mask], #MONETATE-ID[data-slider-wrapper="fade"] [data-slider-mask] {
  touch-action: pan-y;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  touch-action: pan-x;
}

#MONETATE-ID [data-slider] {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider] {
  white-space: nowrap !important;
}

#MONETATE-ID [data-slide] {
  float: none;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slide] {
  display: inline-block !important;
  vertical-align: top;
  white-space: normal;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slide] {
  display: block !important;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide] {
  opacity: 0;
  position: absolute;
  top: 0;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide][data-slide-active] {
  opacity: 1;
  position: relative;
  z-index: 1;
}

#MONETATE-ID [data-pagination-slide],
#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  cursor: pointer;
  z-index: 1;
}

#MONETATE-ID [data-pagination-slide] * {
  pointer-events: none;
}

/* ===================================================== */
/* CUSTOM SLIDER STYES
/* ===================================================== */
#MONETATE-ID {
  background-color: #f0eeeb;
  margin: 0 auto;
  margin-bottom: 4vw;
  max-width: 1800px;
  overflow: hidden;
  padding: 8vw 0;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #MONETATE-ID {
    margin-bottom: 2.22222%;
    padding: 0;
  }
}

#MONETATE-ID .mt_slider__container {
  margin: 0 15%;
  width: 70%;
}

@media screen and (min-width: 768px) {
  #MONETATE-ID .mt_slider__container {
    margin: 0 10.55556%;
    padding: 4.44444% 0;
    width: 78.88889%;
  }
}

#MONETATE-ID .mt_slider__header {
  font-family: "FuturaPTWeb", "Mod Futura PT", "Futura PT", "Arial Bold", sans-serif;
  text-align: center;
}

#MONETATE-ID .mt_slider__header h3 {
  color: #48505f;
  font-size: 9vw;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 1.35em;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #MONETATE-ID .mt_slider__header h3 {
    font-size: 2.778vw;
  }
}

#MONETATE-ID .mt_slider__wrapper {
  margin: 5vw 0;
  padding: 0;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #MONETATE-ID .mt_slider__wrapper {
    margin: 2.22222% 0;
  }
}

#MONETATE-ID [data-slider-mask] {
  display: inline-block;
  width: 100%;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  height: 400px !important;
}

#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  background-color: transparent;
  background-image: url("//marketing.modcloth.com/site-assets/2020/02/wk1/img/arrow.png");
  background-position: 50% 45%;
  background-repeat: no-repeat;
  background-size: 50%;
  border: .115em solid #1e1e1e;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 12vw;
  min-width: unset;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 12vw;
}

@media screen and (min-width: 768px) {
  #MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
    height: 4vw;
    width: 4vw;
  }
}

#MONETATE-ID [data-prev-button] {
  left: 0;
  transform: translate(-13vw, -50%) rotate(-90deg);
}

@media screen and (min-width: 768px) {
  #MONETATE-ID [data-prev-button] {
    transform: translate(-5.25vw, -50%) rotate(-90deg);
  }
}

#MONETATE-ID [data-next-button] {
  right: 0;
  transform: translate(13vw, -50%) rotate(90deg);
}

@media screen and (min-width: 768px) {
  #MONETATE-ID [data-next-button] {
    transform: translate(5.25vw, -50%) rotate(90deg);
  }
}

#MONETATE-ID [data-pagination="thumbnails"] [data-pagination-slide] {
  background: none;
  border-radius: 0;
  height: auto;
  width: 40px;
}

#MONETATE-ID [disabled] {
  opacity: 0.5;
}

#MONETATE-ID [data-pagination-slide] {
  background: #000;
  border-radius: 6px;
  display: inline-block;
  height: 12px;
  margin: 4px;
  opacity: 0.5;
  width: 12px;
}

#MONETATE-ID [data-pagination-slide][data-slide-active] {
  opacity: 1;
}

#MONETATE-ID [data-pagination*="dots"] [data-pagination-slide] {
  /* remove below for pagination numbers */
  text-indent: -9999px;
}

#MONETATE-ID [data-slide] > div {
  height: 100%;
  padding: 0 10px;
}

#MONETATE-ID [data-slide] img {
  max-width: 100%;
}

#MONETATE-ID [data-slide] a {
  text-decoration: none;
}
