@import "../variables";



.mt-expandable {
  background: #f8f2ff;
  display: block;
  margin: 20px auto 0;
  max-width: 1440px;
  padding-bottom: 8px;
  padding-top: 8px;
  position: relative;
  text-align: center;
  width: 100%;
  @media screen and (min-width: $breakpoint-md) {
    background: #fff;
  }
  @media screen and (min-width: $breakpoint-lg) {
    margin: 2% auto;
  }


  img {
    max-width: 100%;
  }


  &__left-img,
  &__right-img {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      position: absolute;
      top: 0;
      width: 25%;
      z-index: 0;
    }
    @media screen and (min-width: 1440px) {
      width: 100%;
    }
  }

  &__left-img {
    @media screen and (min-width: $breakpoint-md) {
      left: 0;
      text-align: left;
    }
  }
  &__right-img {
    @media screen and (min-width: $breakpoint-md) {
      right: 0;
      text-align: right;
    }
  }
  &__heading {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 80%;
    z-index: 1;
    @media screen and (min-width: $breakpoint-md) {
      padding-top: 10px;
      width: 50%;
    }
    @media screen and (min-width: 1440px) {
      width: 100%;
    }
  }



  &__intro {
    color: #2a2963;
    display: block;
    font-size: 3vw;
    letter-spacing: 0.025em;
    line-height: 1.3;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 88%;
    @media screen and (min-width: $breakpoint-md) {
      font-size: 15px;
      line-height: 1.5;
      width: 480px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: 100%;
    }
  }

  &__trigger{
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 1vw;
    text-align: center;
    z-index: 1;
    a {
      background: none;
      border: none;
      color: #e00083;
      font-family: 'Gotham Medium', Arial, sans-serif;
      font-size: 3vw;
      font-weight: 400;
      letter-spacing: 0.025em;
      line-height: 1.3;
      margin: 0;
      min-height: 1px;
      padding: 0;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: #2a2963;
        text-decoration: none;
      }
      @media screen and (min-width: $breakpoint-md) {
        font-size: 11px;
        line-height: 1.5;
      }
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 13px;
        letter-spacing: 0.5px;
      }
      @media screen and (min-width: $breakpoint-xl) {
        font-size: 16px;
      }
    }
  }

  &__cta {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
    a {
      color: #e00083;
      font-family: 'Gotham Medium', Arial, sans-serif;
      font-size: 3vw;
      letter-spacing: 0.025em;
      line-height: 1.3;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .3s ease;
      &:hover {
        color: #2a2963;
        text-decoration: none;
      }
      @media screen and (min-width: $breakpoint-md) {
        font-size: 11px;
        line-height: 1.5;
      }
      @media screen and (min-width: $breakpoint-lg) {
        font-size: 13px;
        letter-spacing: 0.5px;
      }
      @media screen and (min-width: $breakpoint-xl) {
        font-size: 16px;
      }
    }
  }


  &__content {
    padding: 0 10px;
    position: relative;
    @media screen and (min-width: $breakpoint-lg) {
      margin: 0 auto;
      padding: 0;
      width: 95%;
    }
  }

  &__flex {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    @media screen and (min-width: $breakpoint-md) {
      flex-wrap: nowrap;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &__column {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    height: 12.5vw;
    justify-content: center;
    margin-bottom: 2vw;
    padding: 0 10px;
    position: relative;
    width: 100%;
    @media screen and (min-width: $breakpoint-md) {
      height: 10vw;
    }
    @media screen and (min-width: $breakpoint-lg) {
      height: 100px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      height: 120px;
    }
  }

  &__link {
    align-items: center;
    background-image: url('https://dev-apengh-1.monetate.org/img/1/267/1827941.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #2a2963;
    display: flex;
    font-family: 'Gotham Medium', Arial, sans-serif;
    font-size: 3vw;
    height: 100%;
    justify-content: center;
    line-height: 1.4;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
      color: #2a2963;
      text-decoration: none;
    }
    @media screen and (min-width: $breakpoint-md) {
      font-size: 10px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 13px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      font-size: 15px;
    }

    &--text {
      align-items: center;
      background: #f8f2ff;
      bottom: 1px;
      display: flex;
      justify-content: center;
      left: 1px;
      position: absolute;
      right: 1px;
      top: 1px;
    }
  }

} // .mt-expandable
