/* ===================================================== */
/* Override some existing CSS
/* ===================================================== */
.product__listing.product__grid {
  margin-left: -3.33333% !important;
  margin-right: -3.33333% !important;
}

@media screen and (min-width: 768px) {
  .product__listing.product__grid {
    margin-right: -2.1%;
    margin-right: -2.1%;
  }
}

@media screen and (min-width: 1240px) {
  .product__listing.product__grid {
    margin-left: -1.06% !important;
    margin-right: -1.06% !important;
  }
}

.product__listing.product__grid .product-item--noborder {
  clear: none !important;
  margin-left: 3.33333% !important;
  margin-right: 3.33333% !important;
  width: 43.33333% !important;
}

@media screen and (min-width: 768px) {
  .product__listing.product__grid .product-item--noborder {
    margin-left: 2.1% !important;
    margin-right: 2.1% !important;
    width: 29.13333% !important;
  }
}

@media screen and (min-width: 1240px) {
  .product__listing.product__grid .product-item--noborder {
    margin-left: 1.06% !important;
    margin-right: 1.06% !important;
    width: 22.88% !important;
  }
}

.mt_grid-items--one {
  margin-left: 3.33333% !important;
  margin-right: 3.33333% !important;
  width: 43.33333% !important;
}

@media screen and (min-width: 768px) {
  .mt_grid-items--one {
    margin-left: 2.1% !important;
    margin-right: 2.1% !important;
    width: 29.13333% !important;
  }
}

@media screen and (min-width: 1240px) {
  .mt_grid-items--one {
    margin-left: 1.06% !important;
    margin-right: 1.06% !important;
    width: 22.88% !important;
  }
}

.mt_grid-items--two {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mt_grid-items--two {
    width: 66.66667%;
  }
}

@media screen and (min-width: 1240px) {
  .mt_grid-items--two {
    width: 50%;
  }
}

.mt_grid-items--two .mt-merch-item {
  margin-left: 3.33333%;
  margin-right: 3.33333%;
  width: 43.33333%;
}

.mt_grid-items--three {
  width: 100%;
}

@media screen and (min-width: 1240px) {
  .mt_grid-items--three {
    width: 75%;
  }
}

.mt_grid-items--three .mt-merch-item {
  margin-left: 3.33333%;
  margin-right: 3.33333%;
  width: 43.33333%;
}

@media screen and (min-width: 768px) {
  .mt_grid-items--three .mt-merch-item {
    margin-left: 2.1% !important;
    margin-right: 2.1% !important;
    width: 29.13333% !important;
  }
}

@media screen and (max-width: 767px) {
  .mt_grid-items--three .mt-merch-item:nth-child(3) {
    display: none;
  }
}

.mt_grid-items--four {
  width: 100%;
}

.mt_grid-items--four .mt-merch-item {
  margin-left: 3.33333%;
  margin-right: 3.33333%;
  width: 43.33333%;
}

@media screen and (min-width: 768px) {
  .mt_grid-items--four .mt-merch-item {
    margin-left: 2.1% !important;
    margin-right: 2.1% !important;
    width: 29.13333% !important;
  }
}

@media screen and (min-width: 1240px) {
  .mt_grid-items--four .mt-merch-item {
    margin-left: 1.06% !important;
    margin-right: 1.06% !important;
    width: 22.88% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1239px) {
  .mt_grid-items--four .mt-merch-item:nth-child(4) {
    display: none;
  }
}

#MONETATE-ID {
  box-sizing: border-box;
}

#MONETATE-ID * {
  box-sizing: border-box;
}

#MONETATE-ID [mt-data-grid] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

#MONETATE-ID .mt-merch-item {
  padding-bottom: 20px;
  padding-top: 23px;
}

#MONETATE-ID .mt-temperature.Ambient::after {
  content: "A";
}

#MONETATE-ID .mt-temperature.Chilled::after {
  content: "C";
}

#MONETATE-ID .mt-temperature.Frozen::after {
  content: "F";
}

#MONETATE-ID [data-monetate-show] {
  display: none;
}

#MONETATE-ID [data-monetate-show="TRUE"],
#MONETATE-ID [data-monetate-show="1"] {
  display: inline;
}
