.mt_cs-banner {
  display: block;
}

@media screen and (min-width: 640px) {
  .mt_cs-banner {
    display: none;
  }
}

.mt_cs-banner__slide-up {
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 2;
          animation-duration: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.mt_cs-banner__slide-down {
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 2;
          animation-duration: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes slideUp {
  0% {
    bottom: initial !important;
  }
  100% {
    bottom: 0 !important;
  }
}

@keyframes slideUp {
  0% {
    bottom: initial !important;
  }
  100% {
    bottom: 0 !important;
  }
}

@-webkit-keyframes slideDown {
  0% {
    bottom: 100% !important;
  }
  100% {
    bottom: initial !important;
  }
}

@keyframes slideDown {
  0% {
    bottom: 100% !important;
  }
  100% {
    bottom: initial !important;
  }
}
