/* ===================================================== */
/* ALL MENUS
/* ===================================================== */
#shopNav li.category div.sub {
  background: #fff !important;
}

#shopNav li.category .innerSub {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #fff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0 !important;
}

#shopNav li.category .innerSub h2.categoryHeading {
  color: #4C4C4C !important;
  text-shadow: none !important;
}

#shopNav li.category .innerSub ul {
  box-sizing: border-box;
  height: auto !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-top: 60px !important;
  width: 25% !important;
}

#shopNav li.category .innerSub ul li a {
  color: #4C4C4C !important;
}

#shopNav li.category .innerSub ul li a:hover, #shopNav li.category .innerSub ul li a:active, #shopNav li.category .innerSub ul li a:focus {
  color: #fff !important;
}

/* ===================================================== */
/* FOR THE BIKE
/* ===================================================== */
#subcat_5 .innerSub ul:nth-child(3), #subcat_5 .innerSub ul:nth-child(4) {
  background: #D2D2D2 !important;
}

/* ===================================================== */
/* MEN
/* ===================================================== */
#cat_6 .innerSub ul:nth-child(3), #cat_6 .innerSub ul:nth-child(4) {
  background: #D2D2D2 !important;
}

/* ===================================================== */
/* WOMEN
/* ===================================================== */
#cat_7 .innerSub ul:nth-child(3), #cat_7 .innerSub ul:nth-child(4) {
  background: #D2D2D2 !important;
}
