$text: #4C4C4C;
$gray: #D2D2D2;


/* ===================================================== */
/* ALL MENUS
/* ===================================================== */
#shopNav li.category div.sub {
    background: #fff !important;
}

#shopNav li.category .innerSub {
    align-content: stretch;
    align-items: stretch;
    background: #fff !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 0 !important;
    h2.categoryHeading {
        color: $text !important;
        text-shadow: none !important;
    }
    ul {
        box-sizing: border-box;
        height: auto !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        padding-bottom: 10px !important;
        padding-left: 10px !important;
        padding-top: 60px !important;
        width: 25% !important;
        li a {
            color: $text !important;
            &:hover,
            &:active,
            &:focus {
                color: #fff !important;
            }
        }
    }
}


/* ===================================================== */
/* FOR THE BIKE
/* ===================================================== */
#subcat_5 {
    .innerSub ul {
        &:nth-child(3),
        &:nth-child(4) {
            background: $gray !important;
        }
    }
}



/* ===================================================== */
/* MEN
/* ===================================================== */
#cat_6 {
    .innerSub ul {
        &:nth-child(3),
        &:nth-child(4) {
            background: $gray !important;
        }
    }
}



/* ===================================================== */
/* WOMEN
/* ===================================================== */
#cat_7 {
    .innerSub ul {
        &:nth-child(3),
        &:nth-child(4) {
            background: $gray !important;
        }
    }
}
