.mt_quick-links {
  display: block;
  margin-bottom: 1.375rem;
  position: relative;
}

.mt_quick-links__list {
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  white-space: nowrap;
}

.mt_quick-links__list-item {
  display: inline-block;
}

.mt_quick-links__list-item:not(:last-child) {
  margin-right: 8px;
}

.mt_quick-links__list-item a {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 100px;
  display: block;
  min-width: 80px;
  padding: 10px 20px;
  text-align: center;
}

.mt_quick-links__list-item a.mt_active {
  background: #e8e8e8;
}
