.submenu a[title="Halloween & Harvest Shop"] {}
.submenu a[title="Christmas Shop"] {}




inline {
  left: 170px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}





a.flyoutParent { 
  position: relative;
}