/**
 * DEFAULT SLIDER STYLES
 * Edit at your own risk!
 */
#MONETATE-ID {
  position: relative;
}

#MONETATE-ID [data-slider-mask] {
  margin: 20px 0!important;
  overflow: hidden!important;
  padding: 0!important;
  position: relative!important;
}

#MONETATE-ID li {
  list-style: none;
}

#MONETATE-ID [data-slider] {
  display: block;
  margin: 0!important;
  padding: 0!important;
}

#MONETATE-ID [data-slide] {
  float: none;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider] {
  white-space: nowrap!important;
}

#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slide] {
  display: inline-block!important;
  vertical-align: top;
  white-space: normal;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slide] {
  display: block!important;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide] {
  opacity: 0;
  position: absolute;
  top: 0;
}

#MONETATE-ID[data-slider-wrapper="fade"] [data-slide][data-slide-active] {
  opacity: 1;
  position: relative;
  z-index: 1;
}

#MONETATE-ID [data-pagination-slide],
#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button]{
  cursor: pointer;
  z-index: 1;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  touch-action: pan-x;
}
#MONETATE-ID[data-slider-wrapper="horizontal"] [data-slider-mask],
#MONETATE-ID[data-slider-wrapper="fade"] [data-slider-mask] {
  touch-action: pan-y;
}

#MONETATE-ID [data-pagination-slide] * {
  pointer-events: none;
}

/** ----END DEFAULT STYLES---- */


/**
 * CUSTOM SLIDER STYLING
 */
#MONETATE-ID [data-pagination="thumbnails"] [data-pagination-slide] {
  background: none;
  border-radius: 0;
  height: auto;
  width: 40px;
}

#MONETATE-ID [disabled] {
  opacity: 0.5;
}

#MONETATE-ID [data-pagination-slide] {
  background: #000;
  border-radius: 6px;
  display: inline-block;
  height: 12px;
  margin: 4px;
  opacity: 0.5;
  width: 12px;
}

#MONETATE-ID [data-pagination-slide][data-slide-active] {
  opacity: 1;
}

#MONETATE-ID [data-slide] > div {
  height: 100%;
  padding: 10px;
}


#MONETATE-ID [data-prev-button],
#MONETATE-ID [data-next-button] {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  background: none;
  color: #000;
  font-size: 25px;
  padding: 0;
  position: absolute;
  top: 35%;
  user-select: none;
}

#MONETATE-ID [data-prev-button] {
  left: 10px;
}

#MONETATE-ID [data-next-button] {
  right: 10px;
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-prev-button] {
  left: 50%;
  top: 0;
  transform: translateX(-50%) rotate(90deg);
}

#MONETATE-ID[data-slider-wrapper="vertical"] [data-next-button]{
  bottom: 0;
  left: 50%;
  right: auto;
  top: auto;
  transform: translateX(-50%) rotate(90deg);
}

#MONETATE-ID [data-slider-mask] {
  display: inline-block;
  height: 66vh;
  width: 80%;
  @media screen and (min-width: 768px) {
      height: 70vh;
  }
}

#MONETATE-ID {
  text-align: center;
}

/*#MONETATE-ID[data-slider-wrapper="vertical"] [data-slider-mask] {
  height: 70vh !important;
}*/

#MONETATE-ID [data-slide] img {
  max-height: 100%;
  @media screen and (min-width: 768px) {
      height: 15vh;
  }

  @media screen and (max-width: 767px) and (orientation: landscape) {
      max-width: 30%;
  }
}

#MONETATE-ID [data-slide] a {
  text-decoration: none;
}

#MONETATE-ID [data-pagination*="dots"] [data-pagination-slide] {
  /* remove below for pagination numbers */
  text-indent: -9999px;
}


button.mt_arrowBtn {
    border: 0px !important;
}

button.mt_arrowBtn:after{
  display: none !important
}


#MONETATE-ID {
    .mt_slide {
        &__title {
            font-size: 11px;
            line-height: 14px;
            @media screen and (min-width: 768px) {
                font-size: 1.5vh;
            }
        }


    }
}
